
<!DOCTYPE html >
<html lang="en" dir="ltr">
    <head><meta http-equiv="X-UA-Compatible" content="IE=9" /><meta http-equiv="Content-type" content="text/html; charset=utf-8" /><meta http-equiv="Expires" content="0" /><title>
	Local Maintenance &amp; Improvement Grant (LMIG)
</title><link rel="stylesheet" type="text/css" href="/Content/corev15.css?rev=ox%2BqLd6WTqhn6d%2FMqf2BMw%3D%3D"/>
<script type="text/javascript" src="/Scripts/init.js?rev=%2FWTxr8UesytJ8GB%2F5hOwZA%3D%3D"></script>
		<script type="text/javascript" src="/Scripts/ScriptResource.axd?d=XyDplNPAptgN3X4Zwm98mFmSxAzUTfcgXpkLemj69CJeYlKuvzr78D3rXnGV6Fv87DCGhIU6xrTy1GAwZfljCHEdhFOUizzzLyeck7JScRl3ZzjzNswC7w4s4K09YaJuDbMWcUDcYFzWToTXfr1m-t-A4k_1S7fQq4LznhkuHG80aKD25s3O3Gbw9Di66RAT0&amp;t=ffffffff805766b3"></script>

<script type="text/javascript" src="/Scripts/blank.js?rev=ZaOXZEobVwykPO9g8hq%2F8A%3D%3D"></script>
<script type="text/javascript">RegisterSod("initstrings.js", "\u002f_layouts\u002f15\u002f1033\u002finitstrings.js?rev=4Yrxyggg5knao3D48Ii\u00252FWA\u00253D\u00253D");</script>
<script type="text/javascript">RegisterSod("strings.js", "\u002f_layouts\u002f15\u002f1033\u002fstrings.js?rev=u\u00252B0KcZWR52dtr8LTlqcZcw\u00253D\u00253D"); RegisterSodDep("strings.js", "initstrings.js");</script>
<script type="text/javascript">RegisterSod("sp.init.js", "\u002f_layouts\u002f15\u002fsp.init.js?rev=3nSw25FIGbfepznMSgi74A\u00253D\u00253D");</script>
<script type="text/javascript">RegisterSod("sp.res.resx", "\u002f_layouts\u002f15\u002fScriptResx.ashx?culture=en\u00252Dus\u0026name=SP\u00252ERes\u0026rev=yNk\u00252FhRzgBn40LJVP\u00252BqfgdQ\u00253D\u00253D");</script>
<script type="text/javascript">RegisterSod("sp.ui.dialog.js", "\u002f_layouts\u002f15\u002fsp.ui.dialog.js?rev=0xf6wCIW4E1pN83I9nSIJQ\u00253D\u00253D"); RegisterSodDep("sp.ui.dialog.js", "sp.init.js"); RegisterSodDep("sp.ui.dialog.js", "sp.res.resx");</script>
<script type="text/javascript">RegisterSod("core.js", "\u002f_layouts\u002f15\u002fcore.js?rev=uA2xjCXmuYM5ARP8g3eTSA\u00253D\u00253D"); RegisterSodDep("core.js", "strings.js");</script>
<script type="text/javascript">RegisterSod("menu.js", "\u002f_layouts\u002f15\u002fmenu.js?rev=Yb\u00252FYo8qgTV4OUX0FEzTMog\u00253D\u00253D");</script>
<script type="text/javascript">RegisterSod("mQuery.js", "\u002f_layouts\u002f15\u002fmquery.js?rev=VYAJYBo5H8I3gVSL3MzD6A\u00253D\u00253D");</script>
<script type="text/javascript">RegisterSod("callout.js", "\u002f_layouts\u002f15\u002fcallout.js?rev=ryx2n4ePkYj1\u00252FALmcsXZfA\u00253D\u00253D"); RegisterSodDep("callout.js", "strings.js"); RegisterSodDep("callout.js", "mQuery.js"); RegisterSodDep("callout.js", "core.js");</script>
<script type="text/javascript">RegisterSod("clienttemplates.js", "\u002f_layouts\u002f15\u002fclienttemplates.js?rev=Zv6bvcssV7dy3VrmkAWlSw\u00253D\u00253D"); RegisterSodDep("clienttemplates.js", "initstrings.js");</script>
<script type="text/javascript">RegisterSod("sharing.js", "\u002f_layouts\u002f15\u002fsharing.js?rev=EojJW\u00252FD7vytDfjPyrFWfzw\u00253D\u00253D"); RegisterSodDep("sharing.js", "strings.js"); RegisterSodDep("sharing.js", "mQuery.js"); RegisterSodDep("sharing.js", "clienttemplates.js"); RegisterSodDep("sharing.js", "core.js");</script>
<script type="text/javascript">RegisterSod("suitelinks.js", "\u002f_layouts\u002f15\u002fsuitelinks.js?rev=REwVU5jSsadDdOZlCx4wpA\u00253D\u00253D"); RegisterSodDep("suitelinks.js", "strings.js"); RegisterSodDep("suitelinks.js", "core.js");</script>
<script type="text/javascript">RegisterSod("clientrenderer.js", "\u002f_layouts\u002f15\u002fclientrenderer.js?rev=PWwV4FATEiOxN90BeB5Hzw\u00253D\u00253D");</script>
<script type="text/javascript">RegisterSod("srch.resources.resx", "\u002f_layouts\u002f15\u002fScriptResx.ashx?culture=en\u00252Dus\u0026name=Srch\u00252EResources\u0026rev=T\u00252BEc8BFdsTQbQuVAobKatQ\u00253D\u00253D");</script>
<script type="text/javascript">RegisterSod("search.clientcontrols.js", "\u002f_layouts\u002f15\u002fsearch.clientcontrols.js?rev=5P1PlD9u0nLal8ZgtuGr6w\u00253D\u00253D"); RegisterSodDep("search.clientcontrols.js", "sp.init.js"); RegisterSodDep("search.clientcontrols.js", "clientrenderer.js"); RegisterSodDep("search.clientcontrols.js", "srch.resources.resx");</script>
<script type="text/javascript">RegisterSod("sp.runtime.js", "\u002f_layouts\u002f15\u002fsp.runtime.js?rev=5f2WkYJoaxlIRdwUeg4WEg\u00253D\u00253D"); RegisterSodDep("sp.runtime.js", "sp.res.resx");</script>
<script type="text/javascript">RegisterSod("sp.js", "\u002f_layouts\u002f15\u002fsp.js?rev=BZlBP\u00252Bn9Ja3uUvqzGXl8xw\u00253D\u00253D"); RegisterSodDep("sp.js", "sp.runtime.js"); RegisterSodDep("sp.js", "sp.ui.dialog.js"); RegisterSodDep("sp.js", "sp.res.resx");</script>
<script type="text/javascript">RegisterSod("cui.js", "\u002f_layouts\u002f15\u002fcui.js?rev=hkelvuz\u00252BDyOYNl9FmpxUvA\u00253D\u00253D");</script>
<script type="text/javascript">RegisterSod("sp.core.js", "\u002f_layouts\u002f15\u002fsp.core.js?rev=b89b6nnwOk\u00252FeDkJa0KhP5w\u00253D\u00253D"); RegisterSodDep("sp.core.js", "strings.js"); RegisterSodDep("sp.core.js", "sp.init.js"); RegisterSodDep("sp.core.js", "core.js");</script>
<script type="text/javascript">RegisterSod("inplview", "\u002f_layouts\u002f15\u002finplview.js?rev=JuQvHna5pA8GjBqyCrETww\u00253D\u00253D"); RegisterSodDep("inplview", "strings.js"); RegisterSodDep("inplview", "core.js"); RegisterSodDep("inplview", "sp.js");</script>
<script type="text/javascript">RegisterSod("ribbon", "\u002f_layouts\u002f15\u002fsp.ribbon.js?rev=d4Y4E0ghdo65Uz4tti0FZw\u00253D\u00253D"); RegisterSodDep("ribbon", "strings.js"); RegisterSodDep("ribbon", "core.js"); RegisterSodDep("ribbon", "sp.core.js"); RegisterSodDep("ribbon", "sp.js"); RegisterSodDep("ribbon", "cui.js"); RegisterSodDep("ribbon", "sp.res.resx"); RegisterSodDep("ribbon", "sp.runtime.js"); RegisterSodDep("ribbon", "inplview");</script>
<script type="text/javascript">RegisterSod("sp.ui.policy.resources.resx", "\u002f_layouts\u002f15\u002fScriptResx.ashx?culture=en\u00252Dus\u0026name=SP\u00252EUI\u00252EPolicy\u00252EResources\u0026rev=wtVfoqgvnf2cuN894ZirvA\u00253D\u00253D");</script>
<script type="text/javascript">RegisterSod("mdn.js", "\u002f_layouts\u002f15\u002fmdn.js?rev=CZrBt1\u00252Fch9YeLFLJtB0mvg\u00253D\u00253D"); RegisterSodDep("mdn.js", "sp.init.js"); RegisterSodDep("mdn.js", "core.js"); RegisterSodDep("mdn.js", "sp.runtime.js"); RegisterSodDep("mdn.js", "sp.js"); RegisterSodDep("mdn.js", "cui.js"); RegisterSodDep("mdn.js", "ribbon"); RegisterSodDep("mdn.js", "sp.ui.policy.resources.resx");</script>
<script type="text/javascript">RegisterSod("userprofile", "\u002f_layouts\u002f15\u002fsp.userprofiles.js?rev=Pbfi3FBmvy2ewPqDZp16\u00252BQ\u00253D\u00253D"); RegisterSodDep("userprofile", "sp.runtime.js");</script>
<script type="text/javascript">RegisterSod("followingcommon.js", "\u002f_layouts\u002f15\u002ffollowingcommon.js?rev=sObFmln\u00252BGVrczIpXNeFRrg\u00253D\u00253D"); RegisterSodDep("followingcommon.js", "strings.js"); RegisterSodDep("followingcommon.js", "sp.js"); RegisterSodDep("followingcommon.js", "userprofile"); RegisterSodDep("followingcommon.js", "core.js"); RegisterSodDep("followingcommon.js", "mQuery.js");</script>
<script type="text/javascript">RegisterSod("profilebrowserscriptres.resx", "\u002f_layouts\u002f15\u002fScriptResx.ashx?culture=en\u00252Dus\u0026name=ProfileBrowserScriptRes\u0026rev=J5HzNnB\u00252FO1Id\u00252FGI18rpRcw\u00253D\u00253D");</script>
<script type="text/javascript">RegisterSod("sp.ui.mysitecommon.js", "\u002f_layouts\u002f15\u002fsp.ui.mysitecommon.js?rev=Ua8qmZSU9nyf53S7PEyJwQ\u00253D\u00253D"); RegisterSodDep("sp.ui.mysitecommon.js", "sp.init.js"); RegisterSodDep("sp.ui.mysitecommon.js", "sp.runtime.js"); RegisterSodDep("sp.ui.mysitecommon.js", "userprofile"); RegisterSodDep("sp.ui.mysitecommon.js", "profilebrowserscriptres.resx");</script>
<script type="text/javascript">RegisterSod("browserScript", "\u002f_layouts\u002f15\u002fie55up.js?rev=0R4dbpInVlmjoVSw2Gglmw\u00253D\u00253D"); RegisterSodDep("browserScript", "strings.js");</script>
<script type="text/javascript">RegisterSod("dragdrop.js", "\u002f_layouts\u002f15\u002fdragdrop.js?rev=znmXBqiryAnXwfCVj\u00252Fqe9A\u00253D\u00253D"); RegisterSodDep("dragdrop.js", "strings.js");</script>
<script type="text/javascript">RegisterSod("quicklaunch.js", "\u002f_layouts\u002f15\u002fquicklaunch.js?rev=SV6sY1PxQIso9KC9IL8e2Q\u00253D\u00253D"); RegisterSodDep("quicklaunch.js", "strings.js"); RegisterSodDep("quicklaunch.js", "dragdrop.js");</script>
            
            
            
            
            
            
        
            <link rel="canonical" href="http://www.dot.ga.gov:80/PS/Local/LMIG" />
            
            
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" />
		<meta name="author" />
		<link href="/Content/bootstrap.min.css" rel="stylesheet" />
		<link href="/Content/bootstrap-responsive.min.css" rel="stylesheet" />
		<link href="/Content/bootstrap-custom.css" rel="stylesheet" />
		<link href="/Content/GDOT_CSS.css" rel="stylesheet" />
		<link href="/Content/GDOT_MEDIA.css" rel="stylesheet" />
		<link href="/Content/SP2013Accordion.css" rel="stylesheet" />
		<link type="text/css" rel="stylesheet" href="/Content/responsive-tabs.css" />
		<link type="text/css" rel="stylesheet" href="/Content/style.css" />
		<link href="/Content/GDOT_ResponsiveTables.css" rel="stylesheet" />
		<link href="/Content/temp.css" rel="stylesheet" />


       <!--<link href="/Content/GDOT_Sidenav.css" rel="stylesheet" />-->

	
		
	
        <!--<script src="/Scripts/jquery-1.8.3.min.js"></script>-->
        <script type="text/javascript" src="/Scripts/jquery-latest.min.js"></script>        
        <script src="/Scripts/bootstrap.min.js"></script>
        <script src="/Scripts/bootstrap-custom.js"></script>        

  		    <script type="text/javascript" src="/Scripts/jquery.SPServices.min.js"></script>			
           <script type="text/javascript" src="/Scripts/SP2013Accordion.js"></script>
             <script type="text/javascript" src="/Scripts/GDOT_Media.js"></script>
             <script type="text/javascript" src="/Scripts/matchMedia.js"></script>
            <script type="text/javascript" src="/Scripts/GDOT_Extensions.js"></script>
            <script type="text/javascript" src="/Scripts/paging.js"></script>
            <script src="/Scripts/jquery.responsiveTabs.js" type="text/javascript"></script>
            <script src="/Scripts/GDOT_ResponsiveTables.js" type="text/javascript"></script>
			<script src="/Scripts/GDOT_URL_Shortened.js" type="text/javascript"></script>
            
           <!--<script type="text/javascript" src="/Scripts/GDOT_Menu_Styling.js"></script>-->
        
        <!--Below script is for Google to track each and every page-->
        <script>
        	(function (i, s, o, g, r, a, m) {
        		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        			(i[r].q = i[r].q || []).push(arguments)
        		}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        	ga('create', 'UA-12587134-1', 'auto');
        	ga('send', 'pageview');
		</script>
	<!--Above script is for Google to track each and every page-->
	
	   <!--Performance Measures Files Starts-->
		<script type="text/javascript"  src="/Scripts/kendo.all.min.js"></script>
		<link href="/Content/GDOT_PerformanceMeasures.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" href="/Content/kendo.common.min.css" type="text/css" />
		<link rel="stylesheet" href="/Content/kendo.default.min.css" type="text/css" />
		<link rel="stylesheet" href="/Content/kendo.dataviz.min.css" type="text/css" />
		<link rel="stylesheet" href="/Content/kendo.dataviz.default.min.css" type="text/css" />
 		<script type="text/javascript"  src="/Scripts/GDOT_PM_Config.js"></script>
		<!--Performance Measures Files Ends-->
		
<script type="text/javascript" src="/Scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.thermometer.js"></script>
    </head>
    <body onhashchange="if (typeof(_spBodyOnHashChange) != 'undefined') _spBodyOnHashChange();">
	
	<div id="imgPrefetch" style="display:none">
<img src="/Content/img/spcommon.png?rev=23" />
<img src="/Content/img/gdot_logo.gif?rev=23" />
</div>
<form method="post" action="LMIG?TermStoreId=a9579caf-4181-4d58-a0d5-2ddba9790497&amp;TermSetId=10404f0e-aadb-4c69-a9cb-47ae1d235018&amp;TermId=d73e9306-edb1-4b27-9c54-c6bf1a4c24b2" onsubmit="javascript:return WebForm_OnSubmit();" id="aspnetForm">
<div class="aspNetHidden">
<input type="hidden" name="_wpcmWpid" id="_wpcmWpid" value="" />
<input type="hidden" name="wpcmVal" id="wpcmVal" value="" />
<input type="hidden" name="MSOWebPartPage_PostbackSource" id="MSOWebPartPage_PostbackSource" value="" />
<input type="hidden" name="MSOTlPn_SelectedWpId" id="MSOTlPn_SelectedWpId" value="" />
<input type="hidden" name="MSOTlPn_View" id="MSOTlPn_View" value="0" />
<input type="hidden" name="MSOTlPn_ShowSettings" id="MSOTlPn_ShowSettings" value="False" />
<input type="hidden" name="MSOGallery_SelectedLibrary" id="MSOGallery_SelectedLibrary" value="" />
<input type="hidden" name="MSOGallery_FilterString" id="MSOGallery_FilterString" value="" />
<input type="hidden" name="MSOTlPn_Button" id="MSOTlPn_Button" value="none" />
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__REQUESTDIGEST" id="__REQUESTDIGEST" value="0xAD4281562A2068703DBAF448BED11BE446D4F4FE9C51B894DEB2D114CF9705B66D2CBF3E2DA141D9C24F4F47A509526635E07C419BE14020B61ABD055ECFE272,30 Jul 2015 01:46:03 -0000" />
<input type="hidden" name="MSOSPWebPartManager_DisplayModeName" id="MSOSPWebPartManager_DisplayModeName" value="Browse" />
<input type="hidden" name="MSOSPWebPartManager_ExitingDesignMode" id="MSOSPWebPartManager_ExitingDesignMode" value="false" />
<input type="hidden" name="MSOWebPartPage_Shared" id="MSOWebPartPage_Shared" value="" />
<input type="hidden" name="MSOLayout_LayoutChanges" id="MSOLayout_LayoutChanges" value="" />
<input type="hidden" name="MSOLayout_InDesignMode" id="MSOLayout_InDesignMode" value="" />
<input type="hidden" name="_wpSelected" id="_wpSelected" value="" />
<input type="hidden" name="_wzSelected" id="_wzSelected" value="" />
<input type="hidden" name="MSOSPWebPartManager_OldDisplayModeName" id="MSOSPWebPartManager_OldDisplayModeName" value="Browse" />
<input type="hidden" name="MSOSPWebPartManager_StartWebPartEditingName" id="MSOSPWebPartManager_StartWebPartEditingName" value="false" />
<input type="hidden" name="MSOSPWebPartManager_EndWebPartEditing" id="MSOSPWebPartManager_EndWebPartEditing" value="false" />

</div>

<script type="text/javascript">
	//<![CDATA[
	var theForm = document.forms['aspnetForm'];
	if (!theForm) {
		theForm = document.aspnetForm;
	}
	function __doPostBack(eventTarget, eventArgument) {
		if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
			theForm.__EVENTTARGET.value = eventTarget;
			theForm.__EVENTARGUMENT.value = eventArgument;
			theForm.submit();
		}
	}
	//]]>
</script>


<script src="/Scripts/WebResource.axd?d=J3ljOo5PR2DWHjWzREHm0P-Wt1Kk5EyfW0uKH6SZ_N-1nQXetlvc33lbSlF8ZjFRzUkzHduV3VMjzZuAIUCZSWUcfKrSws4eYFZc5-z1rd41&amp;t=635589255571259667" type="text/javascript"></script>


<script type="text/javascript">
	//<![CDATA[
	var MSOWebPartPageFormName = 'aspnetForm';
	var g_presenceEnabled = true;
	var g_wsaEnabled = false;
	var g_wsaQoSEnabled = false;
	var g_wsaQoSDataPoints = [];
	var g_wsaLCID = 1033;
	var g_wsaListTemplateId = 850;
	var g_wsaSiteTemplateId = 'BLANKINTERNET#2';
	var _fV4UI = true; var _spPageContextInfo = { webServerRelativeUrl: "\u002fPartnerSmart\u002fLocal", webAbsoluteUrl: "http:\u002f\u002fwww.dot.ga.gov\u002fPartnerSmart\u002fLocal", siteAbsoluteUrl: "http:\u002f\u002fwww.dot.ga.gov", serverRequestPath: "\u002fPartnerSmart\u002fLocal\u002fPages\u002fLMIG.aspx", layoutsUrl: "_layouts\u002f15", webTitle: "Local Government", webTemplate: "53", tenantAppVersion: "0", webLogoUrl: "_layouts\u002f15\u002fimages\u002fsiteicon.png", webLanguage: 1033, currentLanguage: 1033, currentUICultureName: "en-US", currentCultureName: "en-US", clientServerTimeDelta: new Date("2015-07-30T01:46:03.8961738Z") - new Date(), siteClientTag: "5134$$15.0.4569.1000", crossDomainPhotosEnabled: false, webUIVersion: 15, webPermMasks: { High: 16, Low: 196673 }, pageListId: "{c76e69eb-00d5-4c55-96d5-4159e7a77182}", pageItemId: 3, pagePersonalizationScope: 1, alertsEnabled: true, siteServerRelativeUrl: "\u002f", allowSilverlightPrompt: 'True' }; var L_Menu_BaseUrl = "/PartnerSmart/Local";
	var L_Menu_LCID = "1033";
	var L_Menu_SiteTheme = "null";
	document.onreadystatechange = fnRemoveAllStatus; function fnRemoveAllStatus() { removeAllStatus(true) }; var dlc_fvsi = { "DefaultViews": [], "ViewUrls": [], "WebUrl": "\/PartnerSmart\/Local" };
	function _spNavigateHierarchy(nodeDiv, dataSourceId, dataPath, url, listInContext, type) {

		CoreInvoke('ProcessDefaultNavigateHierarchy', nodeDiv, dataSourceId, dataPath, url, listInContext, type, document.forms.aspnetForm, "", "\u002fPS\u002fLocal\u002fLMIG");

	}
	var _spWebPartComponents = new Object();//]]>
</script>

<script src="/_layouts/15/blank.js?rev=ZaOXZEobVwykPO9g8hq%2F8A%3D%3D" type="text/javascript"></script>
<script type="text/javascript">
	//<![CDATA[
	(function () {

		if (typeof (_spBodyOnLoadFunctions) === 'undefined' || _spBodyOnLoadFunctions === null) {
			return;
		}
		_spBodyOnLoadFunctions.push(function () {
			ExecuteOrDelayUntilScriptLoaded(
			  function () {
			  	var pairs = SP.ScriptHelpers.getDocumentQueryPairs();
			  	var followDoc, itemId, listId, docName;
			  	for (var key in pairs) {
			  		if (key.toLowerCase() == 'followdocument')
			  			followDoc = pairs[key];
			  		else if (key.toLowerCase() == 'itemid')
			  			itemId = pairs[key];
			  		else if (key.toLowerCase() == 'listid')
			  			listId = pairs[key];
			  		else if (key.toLowerCase() == 'docname')
			  			docName = decodeURI(pairs[key]);
			  	}

			  	if (followDoc != null && followDoc == '1' && listId != null && itemId != null && docName != null) {
			  		SP.SOD.executeFunc('followingcommon.js', 'FollowDocumentFromEmail', function () {
			  			FollowDocumentFromEmail(itemId, listId, docName);
			  		});
			  	}

			  }, 'SP.init.js');

		});
	})(); (function () {

		if (typeof (_spBodyOnLoadFunctions) === 'undefined' || _spBodyOnLoadFunctions === null) {
			return;
		}
		_spBodyOnLoadFunctions.push(function () {

			if (typeof (SPClientTemplates) === 'undefined' || SPClientTemplates === null || (typeof (APD_InAssetPicker) === 'function' && APD_InAssetPicker())) {
				return;
			}

			var renderFollowFooter = function (renderCtx, calloutActionMenu) {
				if (renderCtx.ListTemplateType == 700)
					myDocsActionsMenuPopulator(renderCtx, calloutActionMenu);
				else
					CalloutOnPostRenderTemplate(renderCtx, calloutActionMenu);

				var listItem = renderCtx.CurrentItem;
				if (typeof (listItem) === 'undefined' || listItem === null) {
					return;
				}
				if (listItem.FSObjType == 0) {
					calloutActionMenu.addAction(new CalloutAction({
						text: Strings.STS.L_CalloutFollowAction,
						tooltip: Strings.STS.L_CalloutFollowAction_Tooltip,
						onClickCallback: function (calloutActionClickEvent, calloutAction) {
							var callout = GetCalloutFromRenderCtx(renderCtx);
							if (!(typeof (callout) === 'undefined' || callout === null))
								callout.close();
							SP.SOD.executeFunc('followingcommon.js', 'FollowSelectedDocument', function () { FollowSelectedDocument(renderCtx); });
						}
					}));
				}
			};

			var registerOverride = function (id) {
				var followingOverridePostRenderCtx = {};
				followingOverridePostRenderCtx.BaseViewID = 'Callout';
				followingOverridePostRenderCtx.ListTemplateType = id;
				followingOverridePostRenderCtx.Templates = {};
				followingOverridePostRenderCtx.Templates.Footer = function (renderCtx) {
					var renderECB;
					if (typeof (isSharedWithMeView) === 'undefined' || isSharedWithMeView === null) {
						renderECB = true;
					} else {
						var viewCtx = getViewCtxFromCalloutCtx(renderCtx);
						renderECB = !isSharedWithMeView(viewCtx);
					}
					return CalloutRenderFooterTemplate(renderCtx, renderFollowFooter, renderECB);
				};
				SPClientTemplates.TemplateManager.RegisterTemplateOverrides(followingOverridePostRenderCtx);
			}
			registerOverride(101);
			registerOverride(700);
		});
	})(); if (typeof (DeferWebFormInitCallback) == 'function') DeferWebFormInitCallback(); function WebForm_OnSubmit() {
		UpdateFormDigest('\u002fPartnerSmart\u002fLocal', 1440000); if (typeof (_spFormOnSubmitWrapper) != 'undefined') { return _spFormOnSubmitWrapper(); } else { return true; };
		return true;
	}
	//]]>
</script>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="BAB98CB3" />
</div><script type="text/javascript">
      	//<![CDATA[
      	Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager', 'aspnetForm', [], [], [], 90, 'ctl00');
      	//]]>
</script>

			
			<div id="ms-designer-ribbon" style="display:none;">
		        
					
				<div>
	
	<div id="s4-ribbonrow" style="visibility:hidden;display:none"></div>

</div>



			</div>

        
        <div id="s4-workspace">
            <div id="s4-bodyContainer">
                <div class="masthead container-fluid ms-dialogHidden">
                    <div class="header clearfix">
                        <!--logo-->
                        
                        
                        <div class="pull-left">
	
                            
                            <a id="ctl00_x36d5bee949a7480783b3afc048c15598" class="ms-siteicon-a" href="/"><img id="ctl00_x74bbee6762f840edad4fe46f496d8c78" class="ms-siteicon-img" name="onetidHeadbnnr0" src="/Content/img/gdot_logo.gif" alt="Local Government" /></a>
                            
                        
</div>
                                                        <div class="pull-right"id="shortmenu"><a href="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/AboutGDOT">About GDOT</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="/AboutGDOT/Board">Board</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/Pages/Employment.aspx">Employment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/BuildSmart/Pages/ContactUs.aspx">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/Pages/SiteIndex.aspx">Site Map</a>
                        		<br></div> <br>                      

                        <!--page title-->
                        <div class="headtitle pull-left" style="display:none">
                            <h1 id="pageTitle" class="ms-core-pageTitle">
                                <span id="DeltaPlaceHolderPageTitleInTitleArea">
                                
            
            
            Local Maintenance &amp; Improvement Grant (LMIG)
            
        
                                </span>
                            </h1>
                            
                            
                            <ul class="s4-breadcrumb">
	<li class="s4-breadcrumbRootNode"><span class="s4-breadcrumb-arrowcont"><img src="/Content/img/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;" /></span><a title="Welcome to The GDOT" class="s4-breadcrumbRootNode" href="/Pages/Default.aspx">Welcome to The GDOT</a><ul class="s4-breadcrumbRootNode"><li class="s4-breadcrumbNode"><span class="s4-breadcrumb-arrowcont"><img src="/Content/img/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;" /></span><a class="s4-breadcrumbNode" href="/PartnerSmart/Pages/default.aspx">Partner Smart</a><ul class="s4-breadcrumbNode"><li class="s4-breadcrumbNode"><span class="s4-breadcrumb-arrowcont"><img src="/Content/img/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;" /></span><a class="s4-breadcrumbNode" href="/PartnerSmart/Local/Pages/default.aspx">Local Government</a><ul class="s4-breadcrumbNode"><li class="s4-breadcrumbCurrentNode"><span class="s4-breadcrumb-arrowcont"><img src="/Content/img/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;" /></span><a class="s4-breadcrumbCurrentNode" href="/PartnerSmart/Local/Pages/LMIG.aspx">Local Maintenance &amp; Improvement Grant (LMIG)</a></li></ul></li></ul></li></ul></li>
</ul>
                            
                        </div>
                        <!--search-->
                        <div class="searchbox pull-right">
                            
                            
                            <div class="ms-webpart-chrome ms-webpart-chrome-fullWidth ">
	<div WebPartID="00000000-0000-0000-0000-000000000000" HasPers="true" id="WebPartWPQ1" width="100%" class="ms-WPBody " OnlyForMePart="true" allowDelete="false" style="" ><div componentid="ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr" id="ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr"><div id="SearchBox" name="Control"><div class="ms-srch-sb ms-srch-sb-border" id="ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr_sboxdiv"><input type="text" value="Search..." maxlength="2048" accessKey="S" title="Search..." id="ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr_sbox" autocomplete="off" autocorrect="off" onkeypress="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {if (Srch.U.isEnterKey(String.fromCharCode(event.keyCode))) {$find('ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr').search($get('ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr_sbox').value);return Srch.U.cancelEvent(event);}})" onkeydown="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {var ctl = $find('ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr');ctl.activateDefaultQuerySuggestionBehavior();})" onfocus="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {var ctl = $find('ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr');ctl.hidePrompt();ctl.setBorder(true);})" onblur="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {var ctl = $find('ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr'); if (ctl){ ctl.showPrompt(); ctl.setBorder(false);}})" class="ms-textSmall ms-srch-sb-prompt ms-helperText" style="background: white; border-radius: 4px; border:#CCC 1px solid; font-size: 1em; padding: 3px" /><a title="Search" class="ms-srch-sb-searchLink" id="ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr_SearchLink" onclick="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {$find('ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr').search($get('ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr_sbox').value);})" href="javascript: {}" ><img src="/Content/img/searchresultui.png?rev=23" class="ms-srch-sb-searchImg" id="searchImg" alt="Search" /></a></div></div></div><noscript><div id="ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_noscript">It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.</div></noscript><div id="ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38">

	</div><div class="ms-clear"></div>

	</div>
</div>
                            
                        </div>
                    </div>
                     <div id="travelsmart"><a href="/AboutGeorgia/Pages/TravelSmart.aspx"><img class="travelsmartlogo" src="/Content/img/travelsmart_navlogo.png" style="margin-left: 1px; top: 1px"></a></div>
                    <div id="topnavbar" class="navbar">
                        <div class="navbar-inner" style="border-radius: 5px; padding-top: 0px">
                            <div class="container">
                                
                                <div class="nav">
                                    <!--top nav-->
                                    
                                    
                                    <div id="DeltaTopNavigation" class="ms-displayInline ms-dialogHidden">
	
                                        
                                        
                                        <a name="startNavigation">
                                        </a>
                                        
											<div id="zz1_TopNavigationMenu" class="nav noindex ms-core-listMenu-horizontalBox">
		<ul id="zz2_RootAspMenu" class="root ms-core-listMenu-root static">
			<li class="static dynamic-children"><a class="static dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS" accesskey="1"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Drive Smart</span></span></a><ul class="dynamic">
				<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://www.511ga.org/"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">511 (Real-Time Traffic Info)</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Data"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Crash, Road &amp; Traffic Data</span></span></a></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Emergency"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Emergency</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Emergency/Hurricane"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Hurricane</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Emergency/WinterWeather"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Winter Weather</span></span></a></li>
				</ul></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/GEL"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Express Lanes</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/GEL/I75ExpressLanes"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">I-75 South Metro</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://peachpass.com/peach-pass-toll-facilities/about-i-85-express-lanes"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">I-85</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/GEL/I85ExpressLanes"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">I-85 Extension</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/GEL/NWC"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Northwest Corridor</span></span></a></li>
				</ul></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://gacommuteoptions.com/"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Georgia Commute Options</span></span></a></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Maps"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Maps</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Maps/GeoTraqs"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">GeoTRAQS (Online Mapping)</span></span></a></li>
				</ul></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/SafetyOperation"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Safety &amp; Operation</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/SafetyOperation/Bridges"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Bridge Maintenance</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/SafetyOperation/DAAA"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Drive Alert. Arrive Alive.</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/SafetyOperation/FYA"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Flashing Yellow Arrows</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/SafetyOperation/Medians"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Medians</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/SafetyOperation/RRCrossing"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Railroad Safety Program</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/SafetyOperation/Roundabouts"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Roundabouts</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/SafetyOperation/RTOP"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">RTOP/Synchronized Traffic Lights</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/SafetyOperation/VSL"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Variable Speed Limits</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/SafetyOperation/Workzone"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Work Zone Safety</span></span></a></li>
				</ul></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Travel"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Travel Programs</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Travel/AdoptHwy"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Adopt-A-Highway</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Travel/AirQuality"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Air Quality</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Travel/BikePed"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Bike/Pedestrian</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Travel/HEROs"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">HEROs</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Travel/HOV"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">HOV Lanes</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Travel/ExitNumbers"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Interstate Exit Numbers</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Travel/Congestion"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Mobility &amp; Congestion Assessments</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Travel/RestAreas"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Rest Areas/Welcome Centers</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Travel/Scenic"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Scenic Byways</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/DS/Travel/Wildflower"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Wildflower Tag</span></span></a></li>
				</ul></li>
			</ul></li><li class="static dynamic-children selected"><a class="static dynamic-children selected menu-item ms-core-listMenu-item ms-displayInline ms-core-listMenu-selected ms-navedit-linkNode" tabindex="0" href="/PS"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Partner Smart</span><span class="ms-hidden">Currently selected</span></span></a><ul class="dynamic">
				<li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Business"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Consultants &amp; Contractors</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Business/Consultants"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Consultants</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Business/Contractors"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Contractors</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Business/DBE"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Disadvantaged Business Enterprise (DBE)</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Business/EEO"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Equal Employment Opportunity (EEO)</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Business/Prequalification"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Prequalification</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Business/SBP"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Small Business Program</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Business/Source"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">The Source</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Business/TitleVI"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Title VI</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Business/UserRegistration"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">User Account Registration</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Business/Vendors"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Vendors (New)</span></span></a></li>
				</ul></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/DesignManuals"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Design Manuals</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://mydocs.dot.ga.gov/info/gdotpubs/ConstructionStandardsAndDetails"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Construction Standard &amp; Details</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/DesignManuals/DesignResources"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Design-Related Resources</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/DesignManuals/EnvironmentalProcedures"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Environmental Procedures</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/DesignManuals/DesignGuides"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Manuals &amp; Guides</span></span></a></li>
				</ul></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/DesignSoftware"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Design Software</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/DesignSoftware/Bridge"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Bridge</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/DesignSoftware/Caice"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">CAiCE</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/DesignSoftware/Drainage"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Drainage</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/DesignSoftware/InRoads"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">InRoads</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/DesignSoftware/Microstation"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">MicroStation</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/DesignSoftware/NavigatorUtility"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Navigator Utility</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/DesignSoftware/Projectwise"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">ProjectWise</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/DesignSoftware/Traffic"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Traffic</span></span></a></li>
				</ul></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Innovative"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Innovative Delivery</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Innovative/DesignBuild"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Design-Build</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Innovative/P3"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">P3</span></span></a></li>
				</ul></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Local"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Local Government</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Local/LAP"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Local Administered Projects (LAP) Manual</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Local/LMIG"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Local Maintenance &amp; Improvement Grant (LMIG)</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Local/LTAP"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Local Technical Assistance Program (LTAP)</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://www.ga-tia.com/"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Transportation Investment Act (TIA)</span></span></a></li>
				</ul></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Materials"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Materials</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Materials/AsphaltFuelIndex"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Asphalt Cement / Fuel Price Index</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Materials/FDCS"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Field Data Collection System</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Materials/ProductSubmissions"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">New Product Submission &amp; Evaluation</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Materials/ProductEvaluationStatus"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Product Evaluation Status</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Materials/QPLCategories"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">QPL Category</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Materials/QPL"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">QPL Number</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Materials/QPLRequirements"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">QPL Requirements</span></span></a></li>
				</ul></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Permits"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Permits</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Permits/AccessManagement"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Access Management</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Permits/OutdoorAdvertising"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Outdoor Advertising</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Permits/OversizePermits"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Oversize Permits</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Permits/VegetationManagement"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Vegetation Management</span></span></a></li>
				</ul></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Public"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Public/Media Center</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Public/Events"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Meeting Calendar</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Public/PublicOutreach"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Public Outreach</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Public/GDOTPubs"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Publications</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Public/ROW"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Right of Way Services</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Public/RSS"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">RSS</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Public/SocialHub"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Social Media Hub</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Public/Surplus"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Surplus Real Estate</span></span></a></li>
				</ul></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Training"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Training</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Training/TechnicianCertification"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Technician</span></span></a></li>
				</ul></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Utilities"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Utilities</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Utilities/UtilitiesConstruction"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Construction Program</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Utilities/UtilitiesPreconstruction"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Preconstruction</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Utilities/SUE"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Subsurface Utility Engineering</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Utilities/UtilityPermitting"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Utility Permitting</span></span></a></li>
				</ul></li>
			</ul></li><li class="static dynamic-children"><a class="static dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Build Smart</span></span></a><ul class="dynamic">
				<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Performance"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Performance</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/HistoricalPlansResearch"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Plans Search</span></span></a></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Programs"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Programs</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Programs/CulturalResources"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Cultural Resources</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Programs/GRIP"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">GRIP (Governor&#39;s Road Improvement Program)</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Programs/Landscapes"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Landscapes</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Programs/Stormwater"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Stormwater Pollution Prevention</span></span></a></li>
				</ul></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Projects"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Projects</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Projects/FeaturedProjects"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Featured Projects</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Projects/I285SR400"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">I 285 SR 400 Improvements</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Projects/I575SR400"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">I-575 to SR 400</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Projects/NorthsideDr"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Northside Drive</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Projects/ProjectSearch"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Project Search</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Projects/Rome-CartersvilleDevelopmentCorridor"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Rome-Cartersville Development Corridor</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Projects/spring-street-detour"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Spring Street Detour</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Projects/SR20Improvements"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">SR 20</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Projects/ProjectSuggestion"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Suggest A Quick Fix</span></span></a></li>
				</ul></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Research"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Research Projects &amp; Reports</span></span></a></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Studies"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Studies</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Studies/ManagedLanes"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">2010 MLSP</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Studies/CCGStudy"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Connect Central Georgia</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Studies/GA400Study"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">GA 400 Express Lanes</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Studies/I-75SStudy"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">I-75 South (Atlanta to Macon)</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Studies/InterstateRiskAssessment"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Interstate Risk Assessment</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Studies/MLIP"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Managed Lanes</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Studies/OPS"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Metro Atlanta Operational Planning Study</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/BS/Studies/SR6"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">State Route 6</span></span></a></li>
				</ul></li>
			</ul></li><li class="static dynamic-children"><a class="static dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Invest Smart</span></span></a><ul class="dynamic">
				<li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Aviation"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Airport Aid</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Aviation/Development"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Airport Development</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Aviation/asm"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Aviation System Manager (ASM)</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Aviation/Airports"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Georgia Airports</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Aviation/AviationPlanning"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Planning</span></span></a></li>
				</ul></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/GeorgiaFreight"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Georgia Freight</span></span></a></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Funding"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Grants &amp; Funding Programs</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Funding/Gateway"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Gateway Grants</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Funding/SRTS"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Safe Routes to School</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Funding/TE"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Transportation Enhancement</span></span></a></li>
				</ul></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Rail"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Rail</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Rail/AtlantatoCharlotte"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Atlanta to Charlotte</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Rail/AtlantatoChattanooga"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Atlanta to Chattanooga</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Rail/StateRailPlan"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">State Rail Plan</span></span></a></li>
				</ul></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/SSTP"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Statewide Strategic Transportation Plan (SSTP)</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/STIP"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Statewide Transportation Improvement Program (STIP)</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Transit"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Transit</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/TransportationFunding"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Transportation Funding</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/IS/Waterways"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Waterways</span></span></a></li>
			</ul></li><li class="static dynamic-children"><a class="static dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">About GDOT</span></span></a><ul class="dynamic">
				<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/posts"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Commissioner&#39;s Corner</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Districts"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Districts</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://mydocs.dot.ga.gov/info/gdotpubs/Publications/Forms/AllItems.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">GDOT Publications</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Contacts"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Key GDOT Contacts</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/KeyServices"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Key Services</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Offices"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Offices &amp; Divisions</span></span></a></li><li class="dynamic dynamic-children"><a class="dynamic dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">State Transportation Board</span></span></a><ul class="dynamic">
					<li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/CD1"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Congressional District 1</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/CD2"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Congressional District 2</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/CD3"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Congressional District 3</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/CD4"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Congressional District 4</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/CD5"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Congressional District 5</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/CD6"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Congressional District 6</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/CD7"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Congressional District 7</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/CD8"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Congressional District 8</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/CD9"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Congressional District 9</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/CD10"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Congressional District 10</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/CD11"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Congressional District 11</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/CD12"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Congressional District 12</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/CD13"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Congressional District 13</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/CD14"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Congressional District 14</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/BoardMeetings"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Meeting Dates</span></span></a></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Board/BoardPresentations"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Presentations &amp; Minutes</span></span></a></li>
				</ul></li><li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/AboutGDOT/Partners"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Transportation Partners</span></span></a></li>
			</ul></li>
		</ul>
	</div>
                                        
                                        
                                    
</div>
                                    
                                </div>
                            </div> 
                        </div>
                    </div>
					<div id="gdotcustombreadcrumb">
						<span id="ctl00_gdotBreadCrumb"><a href="http://www.dot.ga.gov">Home</a><span> -> </span><a href="http://www.dot.ga.gov/PS">Partner Smart</a><span> -> </span><a href="http://www.dot.ga.gov/PS/Local">Local Government</a><span> -> </span>Transportation Investment Act (TIA)</span></div>
                </div>
                <!--page layout-->
                <div class="container-fluid">
                    <div class="row-fluid gdotbody" id="gdotcontainer">
                        
                        
                        
                        <div id="sideNavBox" class="well sidebar-nav ms-dialogHidden ms-forceWrap ms-noList span3">
                            <div id="DeltaPlaceHolderLeftNavBar" class="ms-core-navigation">
	
                                
									
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    <div id="ctl00_PlaceHolderLeftNavBar_QuickLaunchNavigationManager">
		<div id="zz3_V4QuickLaunchMenu" class="side-navigation noindex ms-core-listMenu-verticalBox">
			<ul id="zz4_RootAspMenu" class="root ms-core-listMenu-root static">
				<li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Local/LAP"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Local Administered Projects (LAP) Manual</span></span></a></li>
				<li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-core-listMenu-selected ms-navedit-linkNode" tabindex="0" href="/PS/Local/LMIG"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Local Maintenance &amp; Improvement Grant (LMIG)</span><span class="ms-hidden">Currently selected</span></span></a></li>
				<li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/PS/Local/LTAP"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Local Technical Assistance Program (LTAP)</span></span></a></li>
				<li class="static selected"><a class="static selected menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://www.ga-tia.com/"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Transportation Investment Act (TIA)</span></span></a></li>
			</ul>
		</div>
	</div>
                                    
                                    
										
                                        
                                    
                                
                            
</div>
                        </div>
                        
                        <div id="mainbody" class="span9">   
                            @RenderBody()
                            
                        </div>
                        <!--end span9-->
                    </div>
                    <!--end row-->
                    
                </div>
                <!--end container-fluid-->                
            </div>
            <!--end body container-->
            <div class="container-fluid footer">
                <div class="row-fluid ms-dialogHidden">
                        <footer class="span12">
                        <div class="row-fluid">
                                <div class="span4 footer1">                                    
                                       	<p class="second">TOP 5 MOST VISITED</p>
									<ul class="top5pages"></ul>	
									    
                                       
                                 </div>
                                <div class="span4 footer2">
	                               <a href="/AboutGDOT/KeyServices" target="_blank"><img class="imgfooter" src="/Content/img/Services.png" title="Services" style="padding-left:0px"></a>
	                               <a href="/PS/Public/Events" target="_blank"><img class="imgfooter" src="/Content/img/Meetings.png" title="Meeting Calendar"></a>
								   <a href="/BS/Projects" target="_blank"><img class="imgfooter" src="/Content/img/Projects.png" title="Transportation Projects"></a>
								   <a href="/AboutGDOT/Partners" target="_blank"><img class="imgfooter" src="/Content/img/TransportationPartners.png" title="Transportation Partners"></a>
								   <a href="/IS" target="_blank"><img class="imgfooter" src="/Content/img/Intermodal.png" title="Intermodal Transportation"></a>
								   <a href="/PS/Permits" target="_blank"><img class="imgfooter"src="/Content/img/Permits.png" title="Permits"><br /></a>
								    <p class="copyright">&copy;2015 Georgia Department of Transportation <br>
								    All Rights Reserved | <a href="/Pages/PrivacyNotice.aspx" target="_blank">Privacy Notice</a></p>
								   

								</div>
								<div class="span4 footer3">
			<a target="_blank" id="gdotmap" href="https://www.google.com/maps/place/600+West+Peachtree+St+NW,+Atlanta,+GA+30308"><img src="/Content/img/MapLocator.png"></a><p class="gdotcontact">Georgia Department of Transportation <br>
								 					One Georgia Center <br>
								 					600 West Peachtree NW <br>
								 					Atlanta, GA 30308<br>
								 					<tel>(404) 631-1990 Main Office</tel><br>
								 					<a href="/BuildSmart/Pages/ContactUs.aspx">Contact Us</a></p><br />
								 					<a target="_blank" id="gdotfacebook" href="/PS/Public/SocialHub"> <img src="/Content/img/Facebook.png" class="socialicons" style="padding-left:0px"></a>
								 					<a target="_blank" id="gdottwitter" href="/PS/Public/SocialHub"><img src="/Content/img/Twitter.png" class="socialicons"></a>
												    <a target="_blank" id="gdotyoutube" href="http://www.youtube.com/user/GeorgiaDeptofTrans"><img src="/Content/img/Youtube.png" class="socialicons"></a>
								                    <a target="_blank" id="gdotenewsletter" href="http://visitor.r20.constantcontact.com/d.jsp?llr=mvvkp5cab&p=oi&m=1102681822892&sit=sgibylneb&f=a53c1229-9afc-45a2-b095-dea5a9dae8ec "><img src="/Content/img/eNewsletter.png" title="eNewsletter" class="socialicons"></a>
												    <a target="_blank" id="gdotrss" href="/PS/Public/RSS"><img src="/Content/img/RSSFeeds.png" title="RSS" class="socialicons"></a>

								 		

								</div>
                           </div>  
                        </footer>
                    </div>
                    </div>
        </div>
        <!--end workspace-->
    <div id="DeltaFormDigest">
<script type="text/javascript">//<![CDATA[
	var formDigestElement = document.getElementsByName('__REQUESTDIGEST')[0];
	if (!((formDigestElement == null) || (formDigestElement.tagName.toLowerCase() != 'input') || (formDigestElement.type.toLowerCase() != 'hidden') ||
		(formDigestElement.value == null) || (formDigestElement.value.length <= 0))) {
		formDigestElement.value = '0xAD4281562A2068703DBAF448BED11BE446D4F4FE9C51B894DEB2D114CF9705B66D2CBF3E2DA141D9C24F4F47A509526635E07C419BE14020B61ABD055ECFE272,30 Jul 2015 01:46:03 -0000';
		g_updateFormDigestPageLoaded = new Date();
	}
	//]]>
        </script>
</div>

<script type="text/javascript">
	//<![CDATA[
	var _spFormDigestRefreshInterval = 1440000; window.g_updateFormDigestPageLoaded = new Date(); window.g_updateFormDigestPageLoaded.setDate(window.g_updateFormDigestPageLoaded.getDate() - 5); function loadMDN2() { EnsureScript('MDN.js', typeof (loadFilterFn), null); }
	function loadMDN1() { ExecuteOrDelayUntilScriptLoaded(loadMDN2, 'sp.ribbon.js'); }
	_spBodyOnLoadFunctionNames.push('loadMDN1');
	function _spNavigateHierarchyEx(nodeDiv, dataSourceId, dataPath, url, listInContext, type, additionalQString) {
		CoreInvoke('SetAdditionalNavigateHierarchyQString', additionalQString);
		g_originalSPNavigateFunc(nodeDiv, dataSourceId, dataPath, url, listInContext, type);
	}

	g_originalSPNavigateFunc = _spNavigateHierarchy;
	_spNavigateHierarchy = _spNavigateHierarchyEx;
	var _fV4UI = true;
	function _RegisterWebPartPageCUI() {
		var initInfo = { editable: false, isEditMode: false, allowWebPartAdder: false, listId: "{c76e69eb-00d5-4c55-96d5-4159e7a77182}", itemId: 3, recycleBinEnabled: true, enableMinorVersioning: true, enableModeration: false, forceCheckout: true, rootFolderUrl: "\u002fPartnerSmart\u002fLocal\u002fPages", itemPermissions: { High: 16, Low: 196673 } };
		SP.Ribbon.WebPartComponent.registerWithPageManager(initInfo);
		var wpcomp = SP.Ribbon.WebPartComponent.get_instance();
		var hid;
		hid = document.getElementById("_wpSelected");
		if (hid != null) {
			var wpid = hid.value;
			if (wpid.length > 0) {
				var zc = document.getElementById(wpid);
				if (zc != null)
					wpcomp.selectWebPart(zc, false);
			}
		}
		hid = document.getElementById("_wzSelected");
		if (hid != null) {
			var wzid = hid.value;
			if (wzid.length > 0) {
				wpcomp.selectWebPartZone(null, wzid);
			}
		}
	};
	function __RegisterWebPartPageCUI() {
		ExecuteOrDelayUntilScriptLoaded(_RegisterWebPartPageCUI, "sp.ribbon.js");
	}
	_spBodyOnLoadFunctionNames.push("__RegisterWebPartPageCUI"); var __wpmExportWarning = 'This Web Part Page has been personalized. As a result, one or more Web Part properties may contain confidential information. Make sure the properties contain information that is safe for others to read. After exporting this Web Part, view properties in the Web Part description file (.WebPart) by using a text editor such as Microsoft Notepad.'; var __wpmCloseProviderWarning = 'You are about to close this Web Part.  It is currently providing data to other Web Parts, and these connections will be deleted if this Web Part is closed.  To close this Web Part, click OK.  To keep this Web Part, click Cancel.'; var __wpmDeleteWarning = 'You are about to permanently delete this Web Part.  Are you sure you want to do this?  To delete this Web Part, click OK.  To keep this Web Part, click Cancel.'; function _cUpdx74bbee6762f840edad4fe46f496d8c78() { var myd = null; if (typeof (datax74bbee6762f840edad4fe46f496d8c78) != 'undefined') { myd = datax74bbee6762f840edad4fe46f496d8c78; } var myc = document.getElementById('ctl00_x74bbee6762f840edad4fe46f496d8c78'); _cUpdcx74bbee6762f840edad4fe46f496d8c78(myd, myc); } function _cUpdcx74bbee6762f840edad4fe46f496d8c78(data, ctrl) { SiteLogoImagePageUpdate(ctrl, data); }
	ExecuteOrDelayUntilScriptLoaded(
		function () {
			Srch.ScriptApplicationManager.get_current().states = { "browserLanguage": 1033, "webUILanguageName": "en-US", "webDefaultLanguageName": "en-US", "contextUrl": "http://www.dot.ga.gov/PartnerSmart/Local", "contextTitle": "Local Government", "supportedLanguages": [{ "id": 1025, "label": "Arabic" }, { "id": 1093, "label": "Bengali" }, { "id": 1026, "label": "Bulgarian" }, { "id": 1027, "label": "Catalan" }, { "id": 2052, "label": "Chinese (Simplified)" }, { "id": 1028, "label": "Chinese (Traditional)" }, { "id": 1050, "label": "Croatian" }, { "id": 1029, "label": "Czech" }, { "id": 1030, "label": "Danish" }, { "id": 1043, "label": "Dutch" }, { "id": 1033, "label": "English" }, { "id": 1035, "label": "Finnish" }, { "id": 1036, "label": "French" }, { "id": 1031, "label": "German" }, { "id": 1032, "label": "Greek" }, { "id": 1095, "label": "Gujarati" }, { "id": 1037, "label": "Hebrew" }, { "id": 1081, "label": "Hindi" }, { "id": 1038, "label": "Hungarian" }, { "id": 1039, "label": "Icelandic" }, { "id": 1057, "label": "Indonesian" }, { "id": 1040, "label": "Italian" }, { "id": 1041, "label": "Japanese" }, { "id": 1099, "label": "Kannada" }, { "id": 1042, "label": "Korean" }, { "id": 1062, "label": "Latvian" }, { "id": 1063, "label": "Lithuanian" }, { "id": 1086, "label": "Malay" }, { "id": 1100, "label": "Malayalam" }, { "id": 1102, "label": "Marathi" }, { "id": 1044, "label": "Norwegian" }, { "id": 1045, "label": "Polish" }, { "id": 1046, "label": "Portuguese (Brazil)" }, { "id": 2070, "label": "Portuguese (Portugal)" }, { "id": 1094, "label": "Punjabi" }, { "id": 1048, "label": "Romanian" }, { "id": 1049, "label": "Russian" }, { "id": 3098, "label": "Serbian (Cyrillic)" }, { "id": 2074, "label": "Serbian (Latin)" }, { "id": 1051, "label": "Slovak" }, { "id": 1060, "label": "Slovenian" }, { "id": 3082, "label": "Spanish (Spain)" }, { "id": 2058, "label": "Spanish (Mexico)" }, { "id": 1053, "label": "Swedish" }, { "id": 1097, "label": "Tamil" }, { "id": 1098, "label": "Telugu" }, { "id": 1054, "label": "Thai" }, { "id": 1055, "label": "Turkish" }, { "id": 1058, "label": "Ukrainian" }, { "id": 1056, "label": "Urdu" }, { "id": 1066, "label": "Vietnamese" }], "navigationNodes": [{ "id": 0, "name": "This Site", "url": "~site/_layouts/15/osssearchresults.aspx?u={contexturl}", "promptString": "Search this site" }], "showAdminDetails": false, "defaultPagesListName": "Pages", "isSPFSKU": false, "userAdvancedLanguageSettingsUrl": "?ShowAdvLang=1", "defaultQueryProperties": { "culture": 1033, "uiLanguage": 1033, "summaryLength": 180, "desiredSnippetLength": 90, "enableStemming": true, "enablePhonetic": false, "enableNicknames": false, "trimDuplicates": true, "bypassResultTypes": false, "enableInterleaving": true, "enableQueryRules": true, "processBestBets": true, "enableOrderingHitHighlightedProperty": false, "hitHighlightedMultivaluePropertyLimit": -1, "processPersonalFavorites": true } };
			Srch.U.trace(null, 'SerializeToClient', 'ScriptApplicationManager state initialized.');
		}, 'Search.ClientControls.js'); var g_clientIdDeltaPlaceHolderMain = "DeltaPlaceHolderMain";
	var g_clientIdDeltaPlaceHolderPageTitleInTitleArea = "DeltaPlaceHolderPageTitleInTitleArea";
	var g_clientIdDeltaPlaceHolderUtilityContent = "DeltaPlaceHolderUtilityContent";

	ExecuteOrDelayUntilScriptLoaded(
		function () {
			if ($isNull($find('ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr'))) {
				var sb = $create(Srch.SearchBox, { "delayLoadTemplateScripts": true, "messages": [], "queryGroupNames": ["Default"], "renderTemplateId": "~sitecollection/_catalogs/masterpage/Display Templates/Search/Control_SearchBox.js", "resultsPageAddress": "/gdotsearch/Pages/results.aspx", "serverInitialRender": true, "showDataErrors": true, "showQuerySuggestions": false, "states": {}, "tryInplaceQuery": false }, null, null, $get("ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr"));
				sb.activate('Search...', 'ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr_sbox', 'ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr_sboxdiv', 'ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr_NavButton', 'ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr_AutoCompList', 'ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr_NavDropdownList', 'ctl00_g_40c2bf5d_c7df_4b24_8951_9a287027cd38_csr_SearchLink', 'ms-srch-sbprogress', 'ms-srch-sb-prompt ms-helperText');
			}
		}, 'Search.ClientControls.js'); g_QuickLaunchControlIds.push("zz1_TopNavigationMenu"); _spBodyOnLoadFunctionNames.push('QuickLaunchInitDroppable'); var g_zz1_TopNavigationMenu = null; function init_zz1_TopNavigationMenu() { if (g_zz1_TopNavigationMenu == null) g_zz1_TopNavigationMenu = $create(SP.UI.AspMenu, null, null, null, $get('zz1_TopNavigationMenu')); } if (g_spPreFetchKeys) { { g_spPreFetchKeys.push('SP.Core.js'); } } EnsureScriptFunc('SP.Core.js', 'SP.UI.AspMenu', init_zz1_TopNavigationMenu);
	g_QuickLaunchControlIds.push("zz3_V4QuickLaunchMenu"); _spBodyOnLoadFunctionNames.push('QuickLaunchInitDroppable'); var g_zz3_V4QuickLaunchMenu = null; function init_zz3_V4QuickLaunchMenu() { if (g_zz3_V4QuickLaunchMenu == null) g_zz3_V4QuickLaunchMenu = $create(SP.UI.AspMenu, null, null, null, $get('zz3_V4QuickLaunchMenu')); } ExecuteOrDelayUntilScriptLoaded(init_zz3_V4QuickLaunchMenu, 'SP.Core.js');
	//]]>
</script>
</form>
	<span id="DeltaPlaceHolderUtilityContent"></span></body>
	
</html>