@{
    ViewBag.Title = "CitizenReview";
}

<h2>Citizen Review</h2>

<p>In each of the three districts that passed TIA, a Citizens Review Panel  was created to make recommendations, and monitor the progress of projects funded by the initiative. Each CRP is required to meet a minimum of three times per year, and produce an annual report that outlines the public benefits of TIA projects. To read the CRP reports from your region, please follow the links below.</p>

<h3><a data-toggle="collapse" href="#panel2018" aria-expanded="false" aria-controls="panel2018">2018 Citizen Review Panel Reports by Region</a></h3>

<div class="collapse" id="panel2018">
    <div class="well">
        <ul>
            <li><a href="/Content/pdf/2018 RV CRP Annual Report.pdf" target="_blank">2018 River Valley Citizen Review Panel Report</a></li>
            <li><a href="/Content/pdf/2018 HOGA Citizen Review Panel Report.pdf" target="_blank">2018 Heart of Georgia Altamaha Citizen Review Panel Report</a></li>
            <li><a href="/Content/pdf/2018 CSRA Annual Report.pdf" target="_blank">2018 Central Savannah River Area Citizen Review Panel Report</a></li>
            <li><a href="/Content/pdf/2018 Southern Georgia Citizen Review Panel Report-.pdf" target="_blank">2018 Southern Georgia Citizen Review Panel Report</a></li>
        </ul>
    </div>
</div>

<h3><a data-toggle="collapse" href="#panel2017" aria-expanded="false" aria-controls="panel2017">2017 Citizen Review Panel Reports by Region</a></h3>

<div class="collapse" id="panel2017">
    <div class="well">
        <ul>
            <li><a href="/Content/pdf/RV CRP Lt Gov Final Report 2017.pdf" target="_blank">2017 River Valley Citizen Review Panel Report</a></li>
            <li><a href="/Content/pdf/HOGA CRP Lt Gov Final Report 2017.pdf" target="_blank">2017 Heart of Georgia Altamaha Citizen Review Panel Report</a></li>
            <li><a href="/Content/pdf/CSRA CRP Lt Gov Final Report 2017.pdf" target="_blank">2017 Central Savannah River Area Citizen Review Panel Report </a></li>

        </ul>
    </div>
</div>

<h3><a data-toggle="collapse" href="#panel2016" aria-expanded="false" aria-controls="panel2016">2016 Citizen Review Panel Reports by Region</a></h3>

<div class="collapse" id="panel2016">
    <div class="well">
        <ul>
            <li><a href="/Content/pdf/2016 TIA River Valley CRP Report.pdf" target="_blank">2016 River Valley Citizen Review Panel Report</a></li>
            <li><a href="/Content/pdf/2016 TIA HOGA Report.pdf" target="_blank">2016 Heart of Georgia Altamaha Citizen Review Panel Report</a></li>
            <li><a href="/Content/pdf/2016 Central Savannah River Area Citizen Review Panel Report.pdf" target="_blank">2016 Central Savannah River Area Citizen Review Panel Report </a></li>

        </ul>
    </div>
</div>


<h3><a data-toggle="collapse" href="#panel2015" aria-expanded="false" aria-controls="panel2015">2015 Citizen Review Panel Reports by Region</a></h3>

<div class="collapse" id="panel2015">
    <div class="well">
        <ul>
            <li><a href="/Content/pdf/2015 River Valley TIA CRP Report.pdf" target="_blank">2015 River Valley Citizen Review Panel Report</a></li>
            <li><a href="/Content/pdf/2015 HOGA TIA CRP Report.pdf" target="_blank">2015 Heart of Georgia Altamaha Citizen Review Panel Report</a></li>
            <li><a href="/Content/pdf/December 10 2015 TIA Citizen Review Panel  Mtg.pdf" target="_blank">HOGA CRP Meeting Minutes December 2015</a></li>
            <li><a href="/Content/pdf/2015 Central Savannah River Area Citizen Review Panel Report.pdf" target="_blank">2015 Central Savannah River Area Citizen Review Panel Report</a></li>
        </ul>
    </div>
</div>

<h3><a data-toggle="collapse" href="#panel2014" aria-expanded="false" aria-controls="panel2014">2014 Citizen Review Panel Reports by Region</a></h3>


<div class="collapse" id="panel2014">
    <div class="well">
        <ul>
            <li><a href="/Content/pdf/2014 RV CRP Annual Report.pdf" target="_blank">2014 River Valley Citizen Review Panel Report</a></li>
            <li><a href="/Content/pdf/2014 HOGA CRP Annual Report.pdf" target="_blank">2014 Heart of Georgia-Altamaha Citizen Review Panel Report</a></li>
            <li><a href="/Content/pdf/2014 CSRA CRP Annual Report.pdf" target="_blank">2014 Central Savannah River Area Citizen Review Panel Report</a></li>
        </ul>
    </div>
</div>






<h3><a data-toggle="collapse" href="#panel2013" aria-expanded="false" aria-controls="panel2013">2013 Citizen Review Panel Reports by Region</a></h3>
<div class="collapse" id="panel2013">
    <div class="well">
        <ul>
            <li><a href="/Content/pdf/River Valley CRP Report.pdf" target="_blank">2013 River Valley Citizen Review Panel Report</a></li>
            <li><a href="/Content/pdf/Heart of Georgia Altamaha Citizen's Review Panel Report 2013.pdf" target="_blank">2013 Heart of Georgia-Altamaha Citizen Review Panel Report</a></li>
            <li><a href="/Content/pdf/CSRA CRP 2013 Final Report.pdf" target="_blank">2013 Central Savannah River Area Citizen Review Panel Report</a></li>
        </ul>
    </div>
</div>



<h3><a data-toggle="collapse" href="#minutes" aria-expanded="false" aria-controls="minutes">Citizen Review Panel Meeting Minutes</a></h3>
<div class="collapse" id="minutes">
    <div class="well">
        <ul>
            <li><a href="/Content/pdf/HOGA - CRP Meeting Minutes 02-27-14.pdf" target="_blank">2/27/14 - HOGA – CRP Meeting Minutes</a></li>
        </ul>
    </div>
</div>


