@{
    ViewBag.Title = "TIA Manuals";
}

<h2>Manuals</h2>

<div>
<a href="/Content/pdf/TIA Manual 2018.pdf" target="_blank">TIA Manual 2018</a><br />

</div>

@*<h4>Procedures</h4>
<div>
<a href="/Content/pdf/Addendum1-BandChangeProcedure.pdf"target="_blank">Band Change Procedure</a>
</div>*@

<h4>Forms</h4>
<div>
<a href="/Content/pdf/LocalProjectMgmt-Application.pdf"target="_blank">Local Project Management Application</a><br />
<a href="/Content/pdf/FORM 2440-1bTIA - TIA Field Plan Review Inspection Request Checklist - Revised   07292014.pdf"target="_blank">FORM 2440-1bTIA - TIA Field Plan Review Inspection Request Checklist</a><br />
<a href="/Content/pdf/TIA Sign Order Form_CSRA.pdf"target="_blank">TIA Sign Order Form_CSRA</a><br />
<a href="/Content/pdf/TIA Sign Order Form_General.pdf"target="_blank">TIA Sign Order Form_General</a><br />
<a href="/Content/pdf/TIA Sign Order Form_HOGA.pdf"target="_blank">TIA Sign Order Form_HOGA</a><br />
<a href="/Content/pdf/TIA Sign Order Form_RV.pdf"target="_blank">TIA Sign Order Form_RV</a><br />
<a href="/Content/pdf/TIA Preliminary Right-of-Way Cost Estimate.pdf" target="_blank">TIA Preliminary Right-of-Way Cost Estimate</a><br/>
<a href="/Content/pdf/Bridge Design Certification (Local Let).pdf"target="_blank">Bridge Design Certification (Local Let)</a><br />		
<a href="/Content/pdf/Construction Manager Closeout Checklist.pdf"target="_blank">Construction Manager Closeout Checklist</a><br />		
<a href="/Content/pdf/Environmental Certification (Local Let).pdf"target="_blank">Environmental Certification (Local Let)</a><br />		
<a href="/Content/pdf/Government Final Acceptance (Local Let).pdf"target="_blank">Government Final Acceptance (Local Let)</a><br />		
<a href="/Content/pdf/Materials Quality Assurance (Local Let).pdf"target="_blank">Materials Quality Assurance (Local Let)</a><br />		
<a href="/Content/pdf/Right-of-Way Certification.pdf"target="_blank">Right-of-Way Certification</a><br />		
<a href="/Content/pdf/TIA Concept Report.pdf"target="_blank">TIA Concept Report</a><br />
<a href="/Content/pdf/TIA Project Certification Checklist (Local Let).pdf"target="_blank">TIA Project Certification Checklist (Local Let)</a><br />		
<a href="/Content/pdf/Utilities Certification.pdf"target="_blank">Utilities Certification</a><br />		
<a href="/Content/pdf/Utilities Letter - First Submission Existing Facilities.pdf"target="_blank">Utilities Letter - First Submission Existing Facilities</a><br />		
<a href="/Content/pdf/Utilities Letter - Second Submission Existing and Proposed.pdf"target="_blank">Utilities Letter - Second Submission Existing and Proposed</a><br />
<a href="/Content/pdf/Utility Certfication (Local Let).pdf"target="_blank">Utility Certfication (Local Let)</a><br />		

		
</div>
