@{
    ViewBag.Title = "News";
}


<section>
    <h2>Media Links</h2>
    <ul>
        <li><a href="https://www.augustachronicle.com/news/20190416/deadline-set-to-compile-new-transportation-projects" target="_blank">04/16/2019 - Deadline set to compile new transportation projects</a>
        <li><a href="https://www.augustachronicle.com/news/20190410/celebration-set-for-windsor-spring-road-widening-project-completion" target="_blank">04/10/2019 - Celebration set for Windsor Springs opening</a></li>
        <li><a href="http://www.walb.com/2019/04/04/million-brought-sumter-co-by-t-splost/" target="_blank">04/04/2019 - TSPLOST brings $6.5 million to Sumter County</a> </li>
        <li><a href="https://www.valdostadailytimes.com/news/local_news/valdosta-oks-t-splost-project/article_1f7767ae-2365-5048-b3c0-c9971b5feb72.html" target="_blank">03/26/2019 - Valdosta OKs TSPLOST project</a></li>
        <li><a href="https://www.augustachronicle.com/news/20190319/new-center-expected-to-improve-traffic-flow-in-richmond-county" target="_blank">03/19/2019 - New center to improve traffic flow</a></li>
        <li><a href="https://www.augustachronicle.com/news/20190315/widening-work-on-state-route-56-to-continue-next-week" target="_blank">03/17/2019 - HWY 56 Roadwork to resume Monday</a></li>
        <li><a href="https://www.augustachronicle.com/news/20190316/sales-taxes-keep-augusta-area-government-projects-moving" target="_blank">03/16/2019 - Sales taxes keep area government projects moving</a></li>
        <li><a href="https://www.augustachronicle.com/news/20190312/grantham-receives-regional-leadership-award" target="_blank">03/12/2019 - Grantham receives regional leadership award</a></li>
        <li><a href="https://www.augustachronicle.com/news/20190309/city-ink-at-hearing-army-corps-didnt-want-to-hear-much" target="_blank">03/09/2019 - City Ink: At hearing, Army Corps didn’t want to hear much</a></li>
        <li><a href="https://www.augustachronicle.com/news/20190307/davis-promises-parking-changes-this-summer-hearing-on-lock-and-dam" target="_blank">03/07/2019 - Mayor Davis promises parking changes this summer</a></li>
        <li><a href="https://www.augustachronicle.com/news/20190221/cities-hope-bridge-projects-increase-connectivity-between-both-downtowns" target="_blank">02/21/2019 - City officials hope bridge projects increase connectivity between downtown areas</a></li>
        <li><a href="https://www.augustachronicle.com/news/20190216/cost-differences-in-options-for-lock-and-dam-project-questioned" target="_blank">02/16/2019 - Cost differences in options for lock and dam project questioned</a></li>
        <li><a href="https://www.augustachronicle.com/news/20190216/committee-forms-to-develop-next-transportation-sales-tax-package?template=ampart" target="_blank">02/16/2019 - Committee forms to develop next transportation sales tax</a></li>
        <li><a href="https://www.augustachronicle.com/news/20190204/paving-to-cause-delays-on-highway-56-in-burke-county" target="_blank">02/05/2019 - Paving to cause slow done on Hwy 56</a></li>
        <li><a href="https://www.augustachronicle.com/news/20190302/some-augusta-road-projects-nearing-completion" target="_blank">02/01/2019 - Some area road projects are nearing completion</a></li>
        <li><a href="https://www.wjbf.com/featured/the-means-report/building-the-future-of-columbia-county/1713969222" target="_blank">01/21/2019 - Building the future of Columbia County</a></li>
        <li><a href="https://www.augustachronicle.com/news/20190114/task-forces-downtown-parking-plan-set-for-implementation-by-july" target="_blank">01/14/2019 - Task force’s parking plan set to implement in July</a></li>
        <li><a href="https://www.albanyherald.com/news/local/albany-mayor-laments-county-action-on-t-splost/article_2bf6fdaa-38d2-5734-82ea-de027a435586.html" target="_blank">01/09/2019 - Albany mayor laments county action on T-SPLOST</a></li>
        <li><a href="https://www.wltz.com/2019/01/06/trailer-park-controversy-lands-in-court/" target="_blank">01/06/2019 - Trailer park controversy lands in court</a></li>
    </ul>

    <section>
        <h3><a data-toggle="collapse" href="#media2018" aria-expanded="false" aria-controls="media2018">2018 Media Links</a></h3>
        <div class="collapse" id="media2018">
            <div class="well">
                <ul>
                    <li><a href="http://www.metteradvertiser.com/news/article_1d060f1e-0303-11e9-8ab5-83596e84fe61.html" target="_blank">12/18/2018 - Resurfacing to begin in College Street area</a></li>
                    <li><a href="http://www.wtvm.com/2018/12/19/columbus-community-celebrates-completion-follow-me-trail-dedicates-new-bridge-over-victory-dr/" target="_blank">12/18/2018 - Columbus community celebrates completion of 'Follow Me' Trail and dedicates new bridge</a> </li>
                    <li><a href="https://www.augustachronicle.com/news/20181212/transportation-sales-tax-collections-in-augusta-region-still-down-nearing-seven-year-mark?template=ampart&amp;fbclid=IwAR0kh6fe1PBzX6YxJDmNzZRx5En0GIjGe7WM4Ow1ciGKUZ1PkIyiJb9wi3U" target="_blank">12/13/2018 - Transportation sales tax collections in Augusta down nearing even year mark</a></li>
                    <li><a href="https://www.augustachronicle.com/news/20181211/augusta-officials-oppose-corps-plan-for-lock-and-dam" target="_blank">12/11/2018 - Officials oppose Corps plans for lock and dam</a></li>
                    <li><a href="https://www.augustachronicle.com/news/20181210/augusta-commission-to-revisit-interim-appointment-discuss-downtown-road-projects" target="_blank">12/08/2018 – Commission to revisit interim appointment, discuss downtown road projects</a></li>
                    <li><a href="https://www.myajc.com/blog/commuting/nearly-half-georgia-counties-now-pay-transportation-sales-taxes/2FBB5eYvqFjArtSHt1gOpK/" target="_blank">11/27/2018 – Half of Georgia counties now pay transportation sales tax</a></li>
                    <li><a href="https://www.augustachronicle.com/news/20181116/former-orphanage-gets-historical-marker" target="_blank">11/16/2018 – Former orphanage gets historical marker</a></li>
                    <li><a href="https://www.ledger-enquirer.com/news/article221701810.html" target="_blank">11/15/2018 - Citizen review panel to meet November 27</a></li>
                    <li><a href="https://www.augustachronicle.com/business/20181013/guest-column-columbia-county-chamber-supports-three-ballot-questions" target="_blank">10/13/2018 – Columbia Chamber supports three ballot questions</a></li>
                    <li><a href="https://www.augustachronicle.com/news/20181013/scuttlebiz-three-of-markets-top-10-banks-lose-market-share" target="_blank">10/13/2018 – We are the road crew</a></li>
                    <li><a href="https://politics.myajc.com/news/state--regional-govt--politics/state-spending-could-biggest-difference-georgia-governor-race/XqdMCPoxORzE7sKD7uGmyN/" target="_blank">10/05/2018 – State spending could be the biggest difference in governor’s race</a></li>
                    <li><a href="https://www.wctv.tv/content/news/South-Georgia-T-SPLOST-penny-tax-now-in-effect-494846181.html" target="_blank">10/01/2018 – Southern Georgia penny tax now in effect</a></li>
                    <li><a href="https://www.augustachronicle.com/news/20180929/augusta-growth-and-increased-funding-drives-transit-projects" target="_blank">09/29/2018 – Augusta growth and increased funding drives transit projects</a></li>
                    <li><a href="https://www.valdostadailytimes.com/news/local_news/mayor-honored-for-t-splost-work/article_958ea731-537d-5565-9122-731325c090e3.html" target="_blank">09/28/2018 – Mayor honored for T-SPLOST work</a></li>
                    <li><a href="https://www.unionrecorder.com/news/local-officials-educating-voters-about-t-splost/article_0cb5aeaa-bce3-11e8-a778-7bbeffaffe78.html" target="_blank">09/20/2018 – Local officials educating voters about T-SPLOST</a></li>
                    <li><a href="https://www.valdostadailytimes.com/news/local_news/t-splost-effective-oct/article_3658af3b-a9ba-5154-b3ac-d1f48edada74.html" target="_blank">09/13/2018 – TSPLOST goes into effect October 1</a></li>
                    <li><a href="http://www.theblacksheartimes.com/news/tsplost-it-s-time-to-penny-up/article_89e0f41e-b600-11e8-8974-eb2a41b4becd.html" target="_blank">09/12/2018 – It’s time to penny up</a></li>
                    <li><a href="https://www.facebook.com/GDOTEast/videos/261097791399826/?hc_ref=ARSpeTG6KIV4xiBGHyKytubMqNBjSdLZV0k6QQdiW8DTl0046hU8hCV8CdUaV4YRTi4&__xts__%5b0%5d=68.ARDj6NXg2dQTr6Cq0CV3h3BVCtQvPM7WrOtspnl_LLx_wtJ4fb-YVsCRIEJ2uFfJ80r-naYPY1rnjeyD8epSUYih9SUWnBYF6wwsXDZVyPp5EVpE7sHF19XfyX1GSek6W_C1CuYB461vIPv1tp2dhE7zx2iKI4aU9WDBzYI2YNbRv4mcqj4Csg&__tn__=FC-R&fb_dtsg_ag=AdyLXMUno7tfqgeHLngzravMAzjuEcbNe4ESs-m1ZlSrgg%3AAdw0z4A1n1dGN35nPt5DHNOQUy0oSWb7TNQYscf6Edwcow" target="_blank">08/31/2018 – Collaboration conquers exit</a></li>
                    <li><a href="http://www.augustachronicle.com/news/20180830/csra-tia-projects-under-budget" target="_blank">08/30/2018 – CSRA TIA projects under budget</a></li>
                    <li><a href="/Content/pdf/County T-SPLOST Use.pdf" target="_blank">08/26/2018 – County T-SPLOST use questioned</a></li>
                    <li><a href="http://www.augustachronicle.com/news/20180822/collections-up-for-transportation-projects-in-csra-says-dot-official" target="_blank">08/23/2018 – Collections up for transportation projects in the CSRA</a></li>
                    <li><a href="http://www.wtoc.com/story/38932317/vidalia-improves-roads-using-optional-sales-tax-funds" target="_blank">08/22/2018 – Vidalia improves roads using sales tax funds</a></li>
                    <li><a href="http://www.valdostadailytimes.com/news/local_news/get-the-vote-out-balancing-the-pros-cons-of-early/article_c0efa130-9686-5b77-baf5-4b3941a2e276.html" target="_blank">07/28/2018 – Pros and cons of early voting</a></li>
                    <li><a href="http://www.augustachronicle.com/news/20180718/section-of-windsor-spring-road-widening-project-to-open-all-lanes-thursday" target="_blank">07/19/2018 – Windsor Springs Road widening project to open all lanes Thursday</a></li>
                    <li><a href="https://www.myajc.com/news/opinion/opinion-heading-toward-better-mobility/FoKsVUBX9GhHSoUdNqoRAI/" target="_blank">07/13/2018 – Heading towards better mobility</a></li>
                    <li><a href="http://www.wctv.tv/content/news/New-restaurants-business-spur-Valdosta-growth-487946211.html" target="_blank">07/11/2018 – New businesses fuel development in Valdosta</a></li>
                    <li><a href="https://www.mcduffieprogress.com/news/thomson-city-council-approves-paving-of-nine-streets/article_4574f158-7aec-11e8-9afc-cf45c3a3f93e.html" target="_blank">07/01/2018 – McDuffie council approves paving of nine streets</a></li>
                    <li><a href="http://www.savannahnow.com/opinion/20180628/charlie-harper-column-transit-moves-beyond-atlanta" target="_blank">06/28/2018 – Transit moves beyond Atlanta </a></li>
                    <li><a href="http://valdostatoday.com/2018/06/regional-tsplost-informational-meeting-to-be-held-july-10/" target="_blank">06/25/2018 – Regional TIA meeting to be held July 10</a></li>
                    <li><a href="http://www.wctv.tv/content/news/Valdosta-T-SPLOST-projects-scheduled-484630691.html" target="_blank">06/05/2018 – Valdosta T-SPLOST projects scheduled</a></li>
                    <li><a href="https://www.ledger-enquirer.com/latest-news/article211750904.html" target="_blank">06/05/2018 – What will happen to the projects T-SPLOST would have funded?</a></li>
                    <li><a href="http://www.valdostadailytimes.com/news/local_news/t-splost-goes-into-effect-oct/article_df7090f1-951d-5d71-b739-4c5ffe9ddb9b.html" target="_blank">05/23/2018 – New tax goes into effect October 1</a></li>
                    <li><a href="http://valdostatoday.com/2018/05/south-georgia-region-votes-in-favor-of-tsplost/" target="_blank">05/22/2018 – Region votes in favor of T-SPLOST</a></li>
                    <li><a href="http://www.augustachronicle.com/news/20180516/funding-boosts-columbia-county-road-projects-dot-official-says" target="_blank">05/17/2018 – Funding boosts road projects, DOT official says</a></li>
                    <li><a href="http://www.valdostadailytimes.com/news/local_news/golden-moving-forward-with-t-splost/article_e7cbc304-1789-52b6-b87d-e619fc978c0f.html" target="_blank">05/16/2018 – Golden: Moving forward with T-SPLOST</a></li>
                    <li><a href="http://www.valdostadailytimes.com/opinion/columns/t-splost-scheme-or-opportunity/article_359467c0-4f1b-50f3-b783-52f4e7596a26.html" target="_blank">05/12/2018 – T-SPLOST: Scheme or opportunity</a></li>
                    <li><a href="http://www.valdostadailytimes.com/opinion/columns/t-splost-good-for-our-community/article_d1b5def9-9b13-526f-84ec-ceddc76e2f36.html#tncms-source=article-nav-next" target="_blank">05/12/2018 – Good for our community</a></li>
                    <li><a href="http://www.unionrecorder.com/news/t-splost-four-major-road-projects-proposed-in-milledgeville-and/article_02dbb81c-53d3-11e8-8c97-f39dbb10aa18.html" target="_blank">05/10/2018 – T-SPLOST – four major projects for Milledgeville Baldwin</a></li>
                    <li><a href="https://www.ledger-enquirer.com/latest-news/article211750904.html" target="_blank">05/09/2018 – New tax to address infrastructure in 11 counties</a></li>
                    <li><a href="http://www.unionrecorder.com/news/local-officials-share-more-about-t-splost/article_9ae12ae2-5497-11e8-8a62-07aa501b5200.html" target="_blank">05/09/2018 – Local officials give T-SPLOST update</a></li>
                    <li><a href="http://wgxa.tv/news/local/jones-county-hosts-biscuits-and-business-to-discuss-potential-t-splost-projects" target="_blank">05/01/2018 - Jones County hosts Biscuits and Business to discuss potential T-SPLOST projects</a></li>
                    <li><a href="http://www.valdostadailytimes.com/opinion/editorials/editorial-we-endorse-t-splost/article_4623c2d8-735f-586a-a83f-76446271b2e9.html" target="_blank">04/26/2018 – We endorse T-SPLOST</a></li>
                    <li><a href="http://www.moultrieobserver.com/news/ga_fl_news/voters-to-decide-fate-of-t-splost/article_f4d8fb44-bbcd-53e2-a2a4-86a8bf770266.html" target="_blank">04/23/2018 – Voters to decide fate of T-SPLOST</a></li>
                    <li><a href="04/18/2018 – TSPLOST would be a windfall for rural counties" target="_blank">04/18/2018 – TSPLOST would be a windfall for rural counties</a></li>
                    <li><a href="http://www.wrdw.com/content/news/Riverwatch-Pkwy-officially-complete-city-leaders-cap-off-with-dedication-480057443.html" target="_blank">04/17/2018 – River Watch Parkway officially complete</a></li>
                    <li><a href="http://www.augustachronicle.com/news/20180417/officials-celebrate-river-watch-parkway-extension" target="_blank">04/17/2018 – Officials celebrate completion of first TIA project in Columbia County</a></li>
                    <li><a href="http://www.wjbf.com/news/crime-news/columbia-county-set-to-host-ribbon-cutting-ceremony-for-riverwatch-parkway-expansion/1126948776" target="_blank">04/16/2018 – County set to host ribbon cutting for Parkway expansion</a></li>
                    <li><a href="http://claxtonenterprise.com/scotts-creek-gus-tippins-bridges-demoed/" target="_blank">09/20/2017 – Bridges demolished</a></li>
                    <li><a href="http://www.wtvm.com/story/37924990/residents-say-47m-project-to-widen-buena-vista-rd-is-long-overdue" target="_blank">04/10/2018 – Residents say Buena Vista project is ‘long overdue’</a></li>
                    <li><a href="http://www.ledger-enquirer.com/latest-news/article208271814.html" target="_blank">04/03/2018 – Diamond Interchange coming to Buena Vista Road to ease traffic bottleneck at I-185</a></li>
                    <li><a href="http://www.augustachronicle.com/news/20180318/streetscape-improvements-to-give-downtown-makeover" target="_blank">03/19/2018 – Streetscape improvements to give downtown makeover</a></li>
                    <li><a href="https://app.criticalmention.com/app/#/report/0e64e31d-5d82-49b7-8204-b29ae78d4192/clip/33459444/play" target="_blank">03/11/2018 – Construction returns to Robinson AVE</a></li>
                    <li><a href="http://www.augustachronicle.com/news/20180307/roadwork-begins-today-in-heart-of-grovetown" target="_blank">03/07/2018 – Roadwork begins in the heart of Grovetown</a></li>
                    <li><a href="http://metroatlantaceo.com/news/2018/02/gdot-names-franks-new-transportation-investment-act-administrator/" target="_blank">02/28/2018 – GDOT names Franks new TIA administrator</a></li>
                    <li><a href="https://www.augustachronicle.com/news/2018-02-10/columbia-county-interchanges-see-road-widening-extensions-get-underway" target="_blank">02/10/2018 – Columbia interchanges see road widening, extensions get underway</a></li>
                    <li><a href="http://www.wrdw.com/content/news/Mike-Padgett-construction-bringing-temporary-headaches-long-term-changes-472862533.html" target="_blank">02/05/2018 – Mike Padgett construction bringing temporary headaches, long-term changes</a></li>
                    <li><a href="http://wjbf.com/2018/02/05/highway-56-to-be-closed-for-two-weeks/" target="_blank">02/05/2018 – Highway 56 to be closed for two weeks</a></li>
                    <li><a href="https://www.augustachronicle.com/columnists/business/2018-02-03/scuttlebiz-2018-year-augusta-tackles-downtown-parking-problem" target="_blank">02/03/2018 – Is 2018 finally the year Augusta tackles Downtown parking?</a></li>
                    <li><a href="http://www.wrdw.com/content/news/GDOT-holding-meeting-about-the-widening-of-15-Street-472108263.html" target="_blank">02/01/2018 – GDOT holding meeting about 15th ST widening</a></li>
                    <li><a href="https://www.41nbc.com/2018/01/30/projected-shortfall-budget-macon-bibb-commissioners-must-decide-adjustments/" target="_blank">01/30/2018 – Macon-Bibb commissioners to decide on budget adjustments </a></li>
                    <li><a href="http://chronicle.augusta.com/news/2018-01-30/road-closure-scheduled-along-mike-padgett-highway" target="_blank">01/30/2018 – Road closure scheduled along Mike Padgett highway</a></li>
                    <li><a href="http://www.charltoncountyherald.com/news/public-meetings-set-for-transportation-sales-tax-project-list/article_daf417bc-0117-11e8-9b21-c36cc512437b.html" target="_blank">01/24/2018 – Public Meetings Set for Transportation Sales Tax Project List</a></li>
                    <li><a href="http://www.valdostadailytimes.com/news/local_news/city-county-agree-t-splost-needed/article_89cd6963-a7db-50b0-9435-8f5a4563585a.html" target="_blank">01/21/2018 – City and county agree TSPLOST is needed</a></li>
                    <li><a href="http://www.tiftongazette.com/news/county-chairman-t-splost-a-thing-we-ve-got-to/article_52992d7c-f7e8-11e7-9872-53778c922489.html" target="_blank">01/13/2018 – Chairman: TSPLOST “is a thing we’ve got to do”</a></li>
                    <li><a href="http://www.ledger-enquirer.com/news/local/article193936679.html" target="_blank">01/10/2018 – City proposes cutting some METRA bus trips in spring of 2018</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <h3><a data-toggle="collapse" href="#media2017" aria-expanded="false" aria-controls="media2017">2017 Media Links</a></h3>
        <div class="collapse" id="media2017">
            <div class="well">
                <ul>
                    <li><a href="http://www.jacksonprogress-argus.com/news/local/butts-county-commissioner-proposes-splost-for-transportation/article_81adad04-e368-5772-911f-7b0b6759075c.html" target="_blank">12/25/2017 – Butts County commissioner proposes new transportation tax </a></li>
                    <li><a href="http://www.macon.com/news/local/article189585189.html" target="_blank">12/15/2017 – Transportation tax back on the ballot next spring</a></li>
                    <li><a href="https://www.41nbc.com/2017/12/12/macon-bibb-county-commissioners-consider-two-new-penny-sales-taxes/" target="_blank">12/12/2017 – Macon-Bibb considers two penny taxes</a></li>
                    <li><a href="http://www.cordeledispatch.com/2017/12/06/tia-presents-to-river-valley-citizens-review-panel/" target="_blank">12/06/2017 – TIA Presents to regional panel</a></li>
                    <li><a href="http://chronicle.augusta.com/news/2017-11-30/all-lanes-open-river-watch-parkway-next-week" target="_blank">11/30/2017 – All lanes open on River Watch by next week</a></li>
                    <li><a href="http://morgancountycitizen.com/2017/11/29/half-million-dollar-grant-morgan-county-roads/" target="_blank">11/28/2017 – Half grant for Morgan County roads</a></li>
                    <li><a href="http://chronicle.augusta.com/news/2017-11-27/roundabout-construction-goes-committee-ok" target="_blank">11/27/2017 – Roundabout goes for committee ok</a></li>
                    <li><a href="http://www.bryancountynews.com/archives/51435/" target="_blank">11/18/2017 – Growth the main topic at Chamber breakfast</a></li>
                    <li><a href="http://chronicle.augusta.com/news/business/2017-11-02/officials-tour-augusta-learn-about-city-s-downtown-revitalization-efforts" target="_blank">11/02/2017 – Officials tour Augusta to learn about downtown revitalization efforts</a></li>
                    <li><a href="http://www.unionrecorder.com/news/gdot-provides-updates-at-eggs-issues/article_263d7720-bd9f-11e7-9e7d-bb3060157dac.html" target="_blank">10/30/2017 – GDOT provides updates at Eggs and Issues</a></li>
                    <li><a href="http://www.wrdw.com/content/news/Construction-continues-at-Riverwatch-Parkway-453472213.html" target="_blank">10/26/2017 – Construction continues on River Watch Parkway</a></li>
                    <li><a href="http://wjbf.com/2017/10/25/flowing-wells-widening-project-ready-for-construction-in-2018/" target="_blank">10/24/2017 – Flowing Wells widening project ready for construction in 2018</a></li>
                    <li><a href="http://chronicle.augusta.com/news/business/2017-10-18/chamber-presents-public-policy-agenda-city-leaders" target="_blank">10/18/2017 – Chamber presents public policy agenda for city leaders</a></li>
                    <li><a href="http://chronicle.augusta.com/news/2017-10-09/bid-transit-building-regency-mall-comes-14-million" target="_blank">10/09/2017 – Bid for transit building come in at $14 million</a></li>
                    <li><a href="http://www.13wmaz.com/news/local/new-oconee-river-bridge-opening-this-week-in-dublin/479981522" target="_blank">10/01/2017 – New Oconee bridge ribbon cutting this week</a></li>
                    <li><a href="http://www.cordeledispatch.com/2017/09/20/crisp-county-approves-funding-for-seven-figure-projects/" target="_blank">09/20/2017 – Crisp County approves funding for seven figure projects</a></li>
                    <li><a href="http://claxtonenterprise.com/scotts-creek-gus-tippins-bridges-demoed/" target="_blank">09/20/2017 – Bridges demolished</a></li>
                    <li><a href="https://www.msgr.com/articles/2017/09/15/putnam-county-tax-hike-fails-shannon-sneed" target="_blank">09/09/2017 – Putnam County tax hike fails</a></li>
                    <li><a href="http://www.mymcr.net/news/fine-arts-center-hosts-county-wide-meeting/article_d61bf6f4-93f0-11e7-8bc4-1f1b77b0a953.html" target="_blank">09/07/2017 – Fine arts center hosts county-wide meeting</a></li>
                    <li><a href="http://www.troupcountynews.net/site/epopulate/2017/09/05/gdot-updates-rotary-on-all-their-ongoing-projects-in-the-community/" target="_blank">09/06/2017 – GDOT updates Rotary on ongoing projects in community</a></li>
                    <li><a href="http://wrbl.com/2017/08/29/new-i-185-interchange-coming-to-south-columbus/" target="_blank">08/29/2017 – New I-185 interchange coming to south Columbus </a></li>
                    <li><a href="https://www.youtube.com/watch?v=PXR5D7mcDmw" target="_blank">08/24/2017 – GDOT Local Update</a></li>
                    <li><a href="http://newstimes.augusta.com/odds-ends/2017-08-23/current-events" target="_blank">08/23/2017 – Citizens Review Panel discusses T-SPLOST in CSRA</a></li>
                    <li><a href="http://www.wrdw.com/content/news/Competing-to-be-next-cyber-capital-of-the-world-439314963.html" target="_blank">08/08/2017 – Competing to be the next cyber capital of the world</a></li>
                    <li><a href="http://chronicle.augusta.com/news/2017-07-22/new-augusta-james-brown-legacy-push-takes-shape " target="_blank">07/22/2017 – James Brown legacy push takes shape </a></li>
                    <li><a href="http://www.walb.com/story/35934795/construction-crews-work-to-build-new-bridge-over-lake-blackshear " target="_blank">07/19/2017 – Crews work to build new bridge over Lake Blackshear </a></li>
                    <li><a href="http://www.unionrecorder.com/news/county-outlines-potential-road-projects/article_e1d57cb8-5de0-11e7-aaef-8f9881e9c0c2.html" target="_blank">07/01/2017 – County outlines potential road projects  </a></li>
                    <li><a href="http://www.wrdw.com/content/news/Neighbors-worry-about-road-constructions-potential-impact-on-Reas-creek-429804853.html" target="_blank">06/22/2017 – Neighbors concern about road construction impact on Rae’s Creek </a></li>
                    <li><a href="http://www.gainesvilletimes.com/section/6/article/123932/" target="_blank">06/10/2017 – TSPLOST may be a topic again for governments seeking road fixes  </a></li>
                    <li><a href="http://www.ledger-enquirer.com/news/local/article145587799.htmlhttp://www.dublin-georgia.com/index.php?src=news&srctype=detail&category=Quality%20of%20Life&refno=166" target="_blank">06/05/2017 – Laurens County bridge at Turkey Creek to reopen </a></li>
                    <li><a href="http://chronicle.augusta.com/news/2017-06-05/brick-gravity-walls-border-calhoun-expressway" target="_blank">06/05/2017 – Brick gravity walls to border Calhoun Expressway</a></li>
                    <li><a href="http://www.gainesvilletimes.com/section/6/article/123932/" target="_blank">06/01/2017 – Transportation sales tax vote could be back </a></li>
                    <li><a href="http://www.wrdw.com/content/news/423703954.html" target="_blank">05/24/2017 – Improvements ahead for intersection off Exit 183 near Harlem  </a></li>
                    <li><a href="http://www.wtvm.com/story/35492086/special-report-the-bridges-of-muscogee-county" target="_blank">05/23/2017 – Special report: The Bridges of Muscogee County </a></li>
                    <li><a href="http://www.unionrecorder.com/news/strategic-planning-process-discussed-at-eggs-issues/article_c9a2ab04-3ca0-11e7-bb03-e34daacd73d3.html" target="_blank">05/18/2017 – Strategic planning discussed at Eggs & Issues  </a></li>
                    <li><a href="http://wrbl.com/2017/05/16/eaton-road-to-pave-way-for-further-economic-development-in-americus-and-sumter-county/" target="_blank">05/16/2017 – New road to pave way for economic development in Americus  </a></li>
                    <li><a href="http://www.valdostadailytimes.com/news/local_news/county-backs-regional-t-splost/article_8c962f50-e5dd-5a1d-89c3-d51ae2cc605b.html" target="_blank">05/11/2017 – County backs regional T-SPLOST  </a></li>
                    <li><a href="http://metrospirit.com/frustration-behind-wheel/" target="_blank">05/03/2017 – Frustration behind the wheel </a></li>
                    <li><a href="http://chronicle.augusta.com/news/2017-04-26/city-franchise-fee-revenues-down" target="_blank">04/26/2017 – City franchise revenue fees down </a></li>
                    <li><a href="http://www.wrdw.com/content/news/End-in-sight-for-road-work-causing-delays-in-Grovetown--420543443.html" target="_blank">04/26/2017 – End in sight for Grovetown projects </a></li>
                    <li><a href="http://www.thealmatimes.com/news/t-splost-coming-to-ballot/article_dda654b4-29e7-11e7-a426-573a21c179df.html#comments" target="_blank">04/20/2017 – TSPLOST coming to ballot </a></li>
                    <li><a href="http://www.ledger-enquirer.com/news/local/article145587799.html" target="_blank">04/19/2017 – Are diverging diamonds the new roundabouts? Officials plan traffic solution </a></li>
                    <li><a href="http://chronicle.augusta.com/news/2017-04-19/city-reveals-proposed-sources-funds-cyber-parking-deck-project" target="_blank">04/19/2017 – City revels plans to fund new parking deck</a></li>
                    <li><a href="http://www.wrdw.com/content/news/New-road-projects-starting-after-Easter-in-the-CSRA-419491763.html" target="_blank">04/14/2017 – Road projects happening in the CSRA </a></li>
                    <li><a href="http://www.govtech.com/security/Augusta-Plans-12-Million-in-Support-of-Georgia-Cyber-Innovation-Center-Plans.html" target="_blank">04/13/2017 – Augusta plans $12 in support of Cyber Innovation Center plans </a></li>
                    <li><a href="http://chronicle.augusta.com/news/2017-04-01/changes-visible-and-invisible-await-visitors-returning-augusta" target="_blank">04/04/2017 – Changes, visible and invisible, await visitors returning to Augusta</a></li>
                    <li><a href="http://www.wrdw.com/content/news/Butt-Memorial-Bridge-to-open-before-Masters-temporarily-416340533.html" target="_blank">03/29/2017 – Update: Butt Memorial Bridge set to open temporarily this Friday </a></li>
                    <li><a href="http://www.walb.com/story/34968130/dot-lake-blackshear-to-get-a-second-bridge" target="_blank">03/21/2017 – Lake Blackshear to get a second bridge </a></li>
                    <li><a href="http://www.walb.com/story/34962276/new-bridge-slated-for-lake-blackshear" target="_blank">03/21/2017 – New bridge slated for Lake Blackshear </a></li>
                    <li><a href="http://www.wrdw.com/content/news/Planned-bypass-in-Waynesboro-has-benefits-and-doubts-389843491.html" target="_blank">03/20/2017 – Meeting scheduled to discuss bypass </a></li>
                    <li><a href="http://valdostatoday.com/2017/03/lake-blackshear-bridge-construction-contract-awarded/" target="_blank">03/17/2017 – Lake Blackshear Bridge construction contract awarded </a></li>
                    <li><a href="http://www.walb.com/story/34743650/us-27-widening-project-now-complete-in-randolph-county" target="_blank">03/13/2017 – US 27 widening project now complete in Randolph County </a></li>
                    <li><a href="http://www.wfxg.com/story/34623789/leven-st-closing-for-upgrades-in-columbia-co" target="_blank">03/03/2017 – Leven ST closing for upgrades</a></li>
                    <li><a href="http://chronicle.augusta.com/news/2017-02-25/downtown-revitalization-includes-history-element" target="_blank">02/26/2017 – Revitalization includes history element</a></li>
                    <li><a href="http://chronicle.augusta.com/news/business/2017-02-23/grantham-receives-chamber-lifetime-achievement-award" target="_blank">02/24/2017 – Grantham receives chamber lifetime achievement award</a></li>
                    <li><a href="http://chronicle.augusta.com/news/2017-02-21/river-watch-parkway-lanes-closing-near-interstate-20-interchange" target="_blank">02/21/2017 – Lanes closing near Interstate 20 interchange </a></li>
                    <li><a href="http://www.wtoc.com/story/34478226/evans-county-leaders-to-make-decision-on-repairing-closed-bridge" target="_blank">02/13/2017 – Evans County leaders to make decisions on repairing closed bridge </a></li>
                    <li><a href="http://www.gmanet.com/Advice-Knowledge/Articles-and-Resources/Georgians-See-Results-of-Transportation-Investment.aspx" target="_blank">02/08/2017 – Georgian see results of Transportation Investment Act </a></li>
                    <li><a href="http://m.themillennews.com/news/2017-02-08/Front_Page/Widening_of_Hwy_67_through_City_nears_completion.html#.WK7aNzw8LYU" target="_blank">02/08/2017 – Widening of Hwy. 67 though City nears completion</a></li>
                    <li><a href="http://www.wrdw.com/content/news/Designs-show-future-of-Lewiston-Road-traffic-plan--412623493.html" target="_blank">02/02/2017 – Designs show future for Lewiston Road</a></li>
                    <li><a href="http://wjbf.com/2017/02/02/public-meeting-being-held-to-discuss-lewiston-road-project-in-columbia-county/" target="_blank">02/01/2017 – Public meeting being held to discuss Columbia County traffic plan</a></li>
                    <li><a href="http://chronicle.augusta.com/news/2017-01-27/work-butt-bridge-end-two-months" target="_blank">01/28/2017 – Work on Butt Bridge to end in two months </a></li>
                    <li><a href="http://newstimes.augusta.com/news/2017-01-22/columbia-county-to-hold-public-information-open-house" target="_blank">01/22/2017 – Columbia to hold public information open house</a></li>
                    <li><a href="http://chronicle.augusta.com/news/2017-01-12/concept-plans-greene-telfair-and-fifth-streets-ready-input" target="_blank">01/12/2017 – Concept plans for Greene, Telfair, ready for review</a></li>
                    <li><a href="http://www.wfxg.com/story/34175843/gdot-new-target-date-for-riverwatch-parkway-project-due-to-weather-conditions" target="_blank">01/03/2017 – New target date for River Watch Parkway projects due to weather conditions</a></li>
                    <li><a href="http://www.mdjonline.com/news/state-lawmakers-push-for-look-at-regional-transit-solution/article_a78d7e34-ce39-11e6-b503-dbd445c0275c.html" target="_blank">01/02/2016 – State lawmakers look for regional transit solution </a></li>
                    <li><a href="http://savannahnow.com/politics-news/2017-01-02/chatham-area-transit-pushes-funding-sources-new-year" target="_blank">01/01/2016 – Area transit pushes for funding sources in new year </a></li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <h3><a data-toggle="collapse" href="#media2016" aria-expanded="false" aria-controls="media2016">2016 Media Links</a></h3>
        <div class="collapse" id="media2016">
            <div class="well">
                <ul>
                    <li><a href="http://www.wrdw.com/content/news/Concept-drawings-show-big-improvements-to-Downtown-Augusta--401049686.html" target="_blank">11/14/2016 – TIA projects have two possible plans for downtown parking</a></li>
                    <li><a href="http://chronicle.augusta.com/news/2016-11-13/downtown-augusta-streetscape-plans-remove-parking-wells-add-gateway-features" target="_blank">11/13/2016 – Streetscape plans remove parking wells, add gateway features</a></li>
                    <li><a href="http://www.wtvm.com/story/33623217/special-report-future-of-the-5th-bridge-up-in-the-air" target="_blank">11/11/2016 – Future of Augusta’s 5th bridge up in the air</a></li>
                    <li><a href="http://www.wrdw.com/content/news/Riverwatch-Parkway-at-Broad-Street-set-to-close-this-weekend-for-road-work-396358201.html" target="_blank">11/08/2016 – Traffic shift on Old Petersburg</a></li>
                    <li><a href="http://chronicle.augusta.com/news/2016-11-06/windsor-spring-widening-projects-making-headway" target="_blank">11/06/2016 – Windsor Spring widening projects making headway</a></li>
                    <li><a href="http://www.wrdw.com/content/news/Holiday-shopping-could-lead-to-longer-drive-times-especially-in-Columbia-County-399735441.html" target="_blank">11/03/2016 – Holidays could lead to longer drives times, especially in Columbia County</a></li>
                    <li><a href="http://wrbl.com/2016/10/31/metra-unveils-expanded-service-as-result-of-2014-tsplost/" target="_blank">10/31/2016 – METRA unveils new services as a result of TSPLOST</a></li>
                    <li><a href="http://chronicle.augusta.com/news/government/2016-10-27/deal-plugs-state-transportation-funding-airport-door-dedication" target="_blank">10/27/2016 – Deal plugs transportation funding at dedication</a></li>
                    <li><a href="http://www.wrdw.com/content/news/398618511.html" target="_blank">10/26/2016 – Renovated hangar doors speeding the response time for organ transports</a></li>
                    <li><a href="http://chronicle.augusta.com/opinion/editorials/2016-10-26/paving-way-progress" target="_blank">10/26/2016 – Paving the way for progress</a></li>
                    <li><a href="http://www.wrdw.com/content/news/Gov-Nathan-Deal-to-participate-in-Daniel-Field-hangar-door-restoration-event-397456711.html" target="_blank">10/18/2016 – Deal to participate in Daniel Field event</a></li>
                    <li><a href="http://www.ledger-enquirer.com/news/local/article108142597.html" target="_blank">10/13/2016 – METRA set to kick off its new, expanded services with celebration</a></li>
                    <li><a href="https://www.youtube.com/watch?v=UPUX1RilIMg" target="_blank">10/11/2016 – Dublin Bridge Project</a></li>
                    <li><a href="http://www.dot.ga.gov/PartnerSmart/Public/Documents/publications/MilePost/Milepost_SmmrFall2016b.pdf" target="_blank">10/01/2016 – Milepost: Aging bridge replaced, not repaired</a></li>
                    <li><a href="http://www.wtvm.com/story/33273975/new-hours-routes-will-improve-service-for-metra-riders-in-columbus" target="_blank">10/01/2016 – TSPLOST improves service for Columbus riders</a></li>
                    <li><a href="http://www.georgiatrend.com/September-2016/Columbia-County-Meeting-Demand/" target="_blank">09/28/2016 – Meeting demand in Columbia</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2016-09-22/annual-state-community-address-columbia-county-focuses-growth" target="_blank">09/22/2016 – Annual State of the Community Address in Columbia County focuses on growth</a></li>
                    <li><a href="http://chronicle.augusta.com/news/government/2016-09-15/downtown-augusta-master-planning-talks-center-transport" target="_blank">09/15/2016 – Downtown Augusta master planning talks center on transport</a></li>
                    <li><a href="https://www.youtube.com/watch?v=g1kzjXzA3YU&app=desktop" target="_blank">09/03/2016 – Real Talk, Georgia Department of Transportation, Part 2</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2016-08-02/road-contruction-work-continues-augusta-area" target="_blank">09/02/2016 – Road construction continues with second phase of River Watch resurfacing</a></li>
                    <li><a href="http://www.myajc.com/news/news/local-govt-politics/transportation-votes-might-put-atlanta-area-under-/nsQQd/" target="_blank">09/01/2016 – Transportation votes might put Atlanta area under spotlight</a></li>
                    <li><a href="http://www.wrdw.com/content/news/GDOT-says-Augusta-is-top-of-priority-list-for-road-fixes-391095491.html" target="_blank">08/23/2016 – Area roads a top priority for GDOT</a></li>
                    <li><a href="http://www.wrdw.com/content/news/Planned-bypass-in-Waynesboro-has-benefits-and-doubts-389843491.html" target="_blank">08/11/2016 – Planned bypass in Waynesboro has benefits and doubts</a></li>
                    <li><a href="http://www.ledger-enquirer.com/news/local/article94408007.html" target="_blank">08/08/2016 – Council approves contractors for final RiverWalk connection</a></li>
                    <li><a href="http://chronicle.augusta.com/news/government/2016-08-07/officials-tout-progress-road-construction-projects?v=1470535041" target="_blank">08/07/2016 – Progress touted on road construction projects</a></li>
                    <li><a href="http://chronicle.augusta.com/news/government/2016-08-04/officials-give-praise-river-watch-parkway-upgrades" target="_blank">08/05/2016 – Officials give praise to River Watch Parkway upgrades </a></li>
                    <li><a href="http://wjbf.com/2016/08/01/robinson-avenue-reopen-in-grovetown-after-flash-flooding/" target="_blank">08/01/2016 – Robinson Avenue reopens after flash flood</a></li>
                    <li><a href="http://www.myajc.com/news/news/state-regional/controversial-tax-paying-off-for-rural-georgia-tra/nr6Tp/" target="_blank">07/31/2016 – Controversial tax paying off for rural Georgia</a></li>
                    <li><a href="http://www.ledger-enquirer.com/news/local/article92385322.html" target="_blank">07/28/2016 – Columbus proposes $16.5 million in transportation projects</a></li>
                    <li><a href="http://wjbf.com/2016/07/26/river-watch-parkway-improvements-to-take-a-little-longer-than-originally-expected/" target="_blank">07/26/2016 – River Watch Parkway taking a little longer than expected </a></li>
                    <li><a href="http://chronicle.augusta.com/news/education/2016-07-21/columbia-county-schools-expect-few-delays-roadwork" target="_blank">07/21/2016 – Schools expect few delays from roadwork</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2016-07-17/pardon-our-mess-calhoun-expressway-construction" target="_blank">07/17/2016 – Calhoun Expressway Construction</a></li>
                    <li><a href="http://www.wrdw.com/content/news/GDOT-All-lanes-reopen-on-new-median-section-of-Riverwatch-Parkway-386961021.html" target="_blank">07/15/2016 – All lanes reopen on new River Watch median section</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2016-06-28/crews-begin-work-river-watch-parkway-intersection-after-holiday" target="_blank">06/28/2016 – Crews to begin work on intersection after holiday</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2016-06-24/new-lights-river-watch-turned" target="_blank">06/24/2016 – New River Watch lights turned on</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2016-06-11/roadwork-busy-across-augusta-area?v=1465696035" target="_blank">06/14/2016 – Roadwork busy across Augusta</a></li>
                    <li><a href="http://wjbf.com/2016/06/09/lane-closures-for-robinson-avenue-as-construction-continues/" target="_blank">006/09/2016 – Lane closures for Robinson Avenue construction</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2016-06-06/lights-changing-calhoun-expressway?v=1465250176" target="_blank">06/06/2016 – Lights changing on Calhoun Highway</a></li>
                    <li><a href="http://www.wrdw.com/content/news/Inside-lanes-of-Riverwatch-Parkway-near-CSX-Railroad-to-close-for-pipe-repair-381430331.html" target="_blank">06/01/2016 – Riverwatch near CSX Railroad to close for pipe repairs</a></li>
                    <li><a href="http://www.wrdw.com/content/news/Road-projects-are-380437401.html" target="_blank">05/22/2016 – Road projects scheduled around Augusta</a></li>
                    <li><a href="http://wjbf.com/2016/05/16/200-light-fixtures-on-4-mile-stretch-of-river-watch-parkway-requested-by-city-of-augusta/" target="_blank">05/16/2016 – 200 light fixtures requested by city</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2016-05-15/officials-say-augusta-areas-many-road-projects-will-pay" target="_blank">05/15/2016 – Officials say Augusta area’s many road projects will pay off</a></li>
                    <li><a href="http://bleckleyprogress.com/artman/publish/article_8875.shtml" target="_blank">05/14/2016 – Jones Road Bridge set to reopen</a></li>
                    <li><a href="http://www.wfxg.com/story/31929294/columbia-county-sees-progress-with-road-construction-projects" target="_blank">05/10/2016 – Columbia County sees progress with road construction projects</a></li>
                    <li><a href="http://www.wrdw.com/home/headlines/Crosswalks-coming-to-Gordon-Hwy-Deans-Bridge-Rd-intersection-377847501.html?ref=501" target="_blank">05/03/2016 – Crosswalks coming to Gordon Highway</a></li>
                    <li><a href="http://www.wrdw.com/home/headlines/OYS-Tracking-construction-timelines-around-Augusta-375451671.html" target="_blank">04/12/2016 – Projects designed to make your drive safer</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2016-04-30/road-projects-resume-deans-bridge-road-robinson-avenue-grovetown" target="_blank">05/02/2016 – Deans Bridge construction to resume></a></li>
                    <li><a href="http://wjbf.com/2016/04/18/grovetown-leaders-say-robinson-avenue-widening-is-part-of-larger-revitalization-plan/" target="_blank">04/18/2016 – Grovetown leaders say Robinson Avenue part of larger revitalization plan</a></li>
                    <li><a href="http://newstimes.augusta.com/news/2016-04-13/widening-of-road-in-grovetown-should-take-2-weeks-officials-say" target="_blank">04/13/2016 – Widening of road and should take 2 weeks</a></li>
                    <li><a href="http://www.wrdw.com/home/headlines/OYS-Tracking-construction-timelines-around-Augusta-375451671.html" target="_blank">04/12/2016 – Projects designed to make your drive safer</a></li>
                    <li><a href="http://www.valdostadailytimes.com/news/local_news/brooks-project-among-several-ga-dot-contracts-awarded/article_1aa5e432-868b-5202-81b9-0b79bb37349d.html" target="_blank">04/07/2016 – Brooks project among several Ga. DOT contracts awarded</a></li>
                    <li><a href="https://www.facebook.com/photo.php?fbid=1132610636783752" target="_blank">04/07/2016 – Construction of new Oconee River Bridge well underway </a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2016-04-03/new-berckmans-road-one-big-changes-masters" target="_blank">04/03/2016 – Big change for Berckmans Road</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2016-03-22/river-watch-construction-work-readying-masters-shutdown" target="_blank">03/23/2016 – River Watch readying for shutdown</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2016-03-20/tax-program-fuels-columbia-county-roadwork" target="_blank">03/20/2016 – Tax program fuels Columbia County roadwork</a></li>
                    <li><a href="http://www.wrdw.com/home/headlines/Lane-closures-construction-to-resume-after-Masters-Week-hiatus-372173742.html" target="_blank">03/17/2016 – Lane closures, construction to resume after Masters Week hiatus</a></li>
                    @*MISSING*@
                    <li><a href="/Content/pdf/3.16.16 Warren County TSPLOST.pdf" target="_blank">03/17/2016 – Warren County TSPLOST project moved to later</a></li>
                    <li><a href="http://www.wfxg.com/story/31440987/update-river-watch-parkway-construction-coming-to-a-close" target="_blank">03/10/2016 – Update: River Watch Parkway Construction coming to a close</a></li>
                    <li><a href="http://chronicle.augusta.com/news/government/2016-03-01/leadership-augusta-class-hears-state-leaders?v=1456869611" target="_blank">03/03/2016 – Leadership Augusta class hears from state leaders</a></li>
                    <li><a href="http://wjbf.com/2016/03/01/augustas-2016-masters-traffic-plan-released/" target="_blank">03/01/2016 – Masters traffic plans come with changes</a></li>
                    @*MISSING*@
                    <li><a href="/Content/pdf/TIA Story Band1 The Sandersville Progress.pdf" target="_blank">02/24/2016 – TIA penny paves the way to progress in central Georgia</a></li>
                    @*MISSING*@
                    <li><a href="/Content/pdf/TIA Update Article The Millen News.pdf" target="_blank">02/24/2016 – Update on city projects</a></li>
                    <li><a href="http://www.wrdw.com/home/headlines/Roadwork-and-TIA-projects-continue-to-cause-traffic-troubles-369731941.html?ref=941" target="_blank">02/23/2016 – Roadwork and TIA projects continue to cause traffic troubles</a></li>
                    <li><a href="http://chronicle.augusta.com/masters/2016-02-14/new-berckmans-road-will-soon-open-traffic?utm_medium=social&utm_source=twitter_aug_chronicle" target="_blank">02/16/2016 – New Berckmans Road will soon open to traffic</a></li>
                    <li><a href="http://newstimes.augusta.com/news/2016-02-14/commissioners-to-consider-bids-for-big-projects" target="_blank">02/14/2016 – Commissioners to consider bids for big projects</a></li>
                    <li><a href="http://newstimes.augusta.com/ccnt/2016-02-07/construction-starts-on-grovetown-roads" target="_blank">02/07/2016 – Grovetown projects under construction</a></li>
                    @*MISSING*@
                    <li><a href="/Content/pdf/Engineering Georgia January_February 2016.pdf" target="_blank">02/01/2016 – Berckmans Road widening wins highway design award</a></li>
                    <li><a href="http://chronicle.augusta.com/news/business/2016-01-09/scuttlebiz-those-road-disruptions-really-are-good-thing" target="_blank">01/10/2016 – Those road disruptions really are a good thing</a></li>
                    <li><a href="http://wrbl.com/2016/01/08/transportation-forum-shows-that-columbus-is-in-a-good-spot/" target="_blank">01/09/2016 – Transportation forum shows that Columbus is in a good spot </a></li>
                    <li><a href="http://chronicle.augusta.com/news/business/2016-01-07/augusta-area-motorists-can-expect-more-road-construction-dot-officials-say" target="_blank">01/08/2016 – Augusta area motorists can expect more road construction, DOT officials say</a></li>

                </ul>
            </div>
        </div>
    </section>

    <section>
        <h3><a data-toggle="collapse" href="#media2015" aria-expanded="false" aria-controls="media2015">2015 Media Links</a></h3>
        <div class="collapse" id="media2015">
            <div class="well">
                <ul>
                    <li><a href="http://cdn.coverstand.com/35765/284138/e798b7f76fe5abb3c517de01bbca734bb2fcaf6c.1.pdf" target="_blank">12/18/2015 – A well-paved path; spotlight on GDOT Deputy Commissioner Mike Dover</a></li>
                    <li><a href="http://nbc26.tv/2015/12/16/construction-along-wrightsboro-road-officially-completed/" target="_blank">12/17/2015 – Construction on Wrightsboro Road officially complete (x3)</a></li>
                    <li><a href="http://www.masstransitmag.com/news/12148179/transportation-sales-tax-hits-three-year-milestone" target="_blank">12/11/2015 – Mass Transit Magazine - GA: Transportation Sales Tax Hits Three-Year Milestone</a></li>
                    <li><a href="http://newstimes.augusta.com/ccnt/2015-12-06/roadway-improvements-coming-to-grovetown" target="_blank">12/06/2015 – Roadway improvements coming to Grovetown</a></li>
                    <li><a href="http://www.georgiatrend.com/December-2015/T-Splost-Redux/" target="_blank">12/04/2015 – TSPLOST redux</a></li>
                    <li><a href="http://nbc26.tv/2015/11/30/major-traffic-shifts-begin-as-contractors-continue-to-work-on-the-the-riverwatch-expansion/" target="_blank">12/01/2015 – Major traffic shifts begin as contractors continue work</a></li>
                    @*BAD LINK*@<li><a href="gdot-construction-crews-say-speedy-drivers-on-riverwatch-poses-danger/" target="_blank">11/19/2015 – GDOT construction crews say speedy drivers on Riverwatch poses danger</a></li>
                    <li><a href="http://wjbf.com/2015/11/11/travel-headaches-are-actually-signs-of-progress/" target="_blank">11/12/2015 – Traffic headaches are actually a sign of progress</a></li>
                    <li><a href="http://www.thenewsandfarmer.com/news/2015-11-11/louisville-adding-stop-signs-slow-traffic/" target="_blank">11/11/2015 – Louisville adding stop signs to slow traffic</a></li>
                    <li><a href="http://nbc26.tv/2015/11/05/georgia-dot-commissioner-addresses-columbia-county-chamber/" target="_blank">11/06/2015 – Georgia DOT Commissioner addresses Columbia County Chamber</a></li>
                    <li><a href="http://nbc26.tv/2015/10/19/officials-say-new-traffic-signal-wont-cause-congestion-on-washington-road/" target="_blank">10/20/2015 – Officials say new traffic signal won’t cause congestion on Washington Road</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2015-10-16/river-watch-parkway-construction-project-start-monday?v=1445025147/" target="_blank">10/16/2015 – River Watch construction set to begin Monday</a></li>
                    <li><a href="http://www.ledger-enquirer.com/news/article39132279.html" target="_blank">10/14/2015 – Metra improvements could increase independence for those with disabilities</a></li>
                    <li><a href="http://wjbf.com/2015/10/16/riverwatch-parkway-repaving-and-median-barrier-project-will-begin-soon/" target="_blank">10/16/2015 – Riverwatch repaving and median project will begin soon</a></li>
                    <li><a href="http://nbc26.tv/2015/10/14/historic-bridges-in-augusta-set-for-improvements/" target="_blank">10/14/2015 – Historic bridges in Augusta set for improvements</a></li>
                    <li><a href="http://www.ledger-enquirer.com/news/article38943132.html" target="_blank">10/13/2015 – Top DOT leaders visit, congratulate Columbus</a></li>
                    <li><a href="http://nbc26.tv/2015/10/13/berkmans-road-will-have-three-lanes-safe-pedestrian-crossing-over-road-2/" target="_blank">10/13/2015 - Berckmans Road will have three lanes, safe pedestrian crossing over road</a></li>
                    <li><a href="http://www.americustimesrecorder.com/2015/10/04/local-officials-break-ground-for-improvements-to-sgt-parkway/" target="_blank">10/04/2015 - Local officials break ground for improvements to SGT Parkway</a></li>
                    <li><a href="http://newstimes.augusta.com/opinion/2015-09-27/tia-funding-supports-transportation-projects-close-to-home" target="_blank">09/27/2015 – TIA funding supports transportation projects close to home</a></li>
                    <li><a href="http://commuting.blog.ajc.com/2015/09/24/gdot-names-new-transportation-investment-act-administrator/" target="_blank">09/24/2015 – GDOT names new Transportation Act Administrator</a></li>
                    <li><a href="http://www.themillennews.com/news/2015-09-23/Front_Page/Airport_to_get_hangars.html" target="_blank">09/23/2015 – Airport to get new hangars</a></li>
                    <li><a href="http://nbc26.tv/2015/09/22/transportation-investment-act-projects-in-the-csra/" target="_blank">09/22/2015 – Transportation Investment Act projects in the CSRA</a></li>
                    <li><a href="http://wjbf.com/2015/09/22/drivers-get-ready-major-road-construction-slated-for-richmond-and-columbia-counties/" target="_blank">09/22/2015 – Drivers get ready; major construction slated for Richmond and Columbia Counties</a></li>
                    <li><a href="http://www.wrdw.com/home/headlines/GDOT-and-Columbia-County-talk-upcoming-TIA-road-projects-328737971.html" target="_blank">09/22/2015 – GDOT and Columbia County talk upcoming TIA road projects</a></li>
                    <li><a href="http://www.wfxg.com/story/30092009/department-of-transportation-meeting-highlights-tia-tax-dollar-program" target="_blank">09/22/2015 – GDOT meeting highlights TIA tax dollar program</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2015-09-22/officials-tout-success-transportation-investment-act-funding?v=1442951095" target="_blank">09/22/2015 – Officials tout success of Transportation Investment Act funding</a></li>
                    <li><a href="http://nbc26.tv/2015/09/14/traffic-patterns-changing-this-week-on-wrightsboro-road/" target="_blank">09/14/2015 - Traffic Patterns changing this week on Wrightsboro Road</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2015-09-12/outside-atlanta-georgia-cities-see-connections-way-leverage-prosperity" target="_blank">09/12/2015 - Outside Atlanta, Georgia cities see connections as the way to leverage prosperity</a></li>
                    <li><a href="http://www.wtvm.com/story/29887941/metra-ready-to-put-improvement-plan-in-motion" target="_blank">09/10/2015 – METRA ready to put improvement plan in motion</a></li>
                    <li><a href="http://www.wrdw.com/home/headlines/UPDATE-Berckmans-Rd-construction-is-on-schedule-325784081.html?ref=081" target="_blank">09/08/2015 - UPDATE: Berckmans Rd. construction is on schedule</a></li>
                    <li><a href="http://www.lincolnjournalonline.com/news/2015-08-06/Front_Page/TSPLOST_funds_equipment_and_projects_for_counties_.html" target="_blank">09/01/2015 - T-SPLOST funds equipment and projects for counties in the CSRA</a></li>
                    <li><a href="http://www.wrdw.com/home/headlines/GDOT-Utility-relocation-delays-wont-push-back-Riverwatch-expansion-deadline-322882391.html" target="_blank">08/25/2015 – GDOT: Utility delays will not push back Riverwatch expansion </a></li>
                    <li><a href="http://wjbf.com/2015/08/23/improvements-coming-to-downtown-augusta/" target="_blank">08/23/2015 – Improvements coming to downtown Augusta</a></li>
                    <li><a href="http://www.themillennews.com/news/2015-06-10/Front_Page/Winthrope_Avenue_TSPLOST_project_moves_forward.html" target="_blank">08/21/2015 - Winthrope Avenue T-SPLOST project moves forward</a></li>
                    <li><a href="http://matchbin-assets.s3.amazonaws.com/public/sites/654/assets/C7EW_CH_8_18_15_WEBSITE.pdf" target="_blank">08/18/2015 - Local-state collaboration behind new Springhaven bridge project</a></li>
                    <li><a href="http://chronicle.augusta.com/latest-news/2015-08-18/riverwatch-get-new-traffic-median" target="_blank">08/18/2015  – Riverwatch to get new median</a></li>
                    <li><a href="http://wjbf.com/2015/08/23/improvements-coming-to-downtown-augusta/" target="_blank">08/24/2015 - Improvements coming to Downtown Augusta</a></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2015-08-16/berckmans-road-construction-schedule-officials-say?v=1439749096" target="_blank">8/16/2015 - Berckmans Road construction on schedule officials say</a></li>
                    <li><a href="http://www.thenewsandfarmer.com/news/2015-08-13/highway-projects-expected-begin" target="_blank">08/13/2015 - Highway projects expected to begin in Jefferson and Glascock counties</a></li>
                    <li><a href="http://www.lincolnjournalonline.com/news/2015-08-06/Front_Page/TSPLOST_funds_equipment_and_projects_for_counties_.html%20" target="_blank">08/6/2015 – T-SPLOST funds equipment and projects for counties in the CSRA</a></li>
                    <li><a href="http://www.baxleynewsbanner.com/archives/8165-Georgia-DOT-and-Appling-County-officials-celebrate-completion-of-Zoar-Road-upgrades-and-bridge-replacements-with-ribbon-cutting.html%20" target="_blank">08/4/2015 – Georgia DOT and Appling County officials celebrate completion of Zoar Road upgrades and bridge replacements with ribbon cutting</a></li>
                    <li><a href="https://www.georgiabikes.org/index.php/blog/433-tia-projects-improving-bicycle-pedestrian-safety-in-columbus" target="_blank">08/3/2015 - TIA Projects Improving Bicycle & Pedestrian Safety in Columbus</a></li>
                    <li><a href="http://www.wtoc.com/story/29569214/new-traffic-lights-coming-to-augusta" target="_blank">07/16/2015 - New traffic lights coming to Augusta</a></li>
                    <li><a href="http://tinewsdaily.com/stories/510625657-georgia-dot-awards-funding-for-three-projects" target="_blank">07/7/2015 - Georgia DOT awards funding for three projects</a></li>
                    <li><a href="http://www.coosavalleynews.com/np112264.htm" target="_blank">07/7/2015 - GDOT Announced Major TIA Funding Awards</a></li>
                    <li><a href="http://nbc26.tv/2015/07/03/changeable-message-signs-now-live-to-send-important-messages-to-drivers/" target="_blank">07/3/2015 - Changeable Message Signs now "live" to send important messages to drivers</a></li>
                    <li><a href="http://newstimes.augusta.com/news/2015-07-01/columbia-county-engineers-use-adaptive-camera-system-to-fight-traffic-congestion" target="_blank">07/1/2015 - Columbia County engineers use adaptive camera system to fight traffic congestion</a></li>
                    <li><a href="http://www.thebayonet.com/2015/06/09/814415/linear-park-represents-investment.html" target="_blank">06/9/2015 - Linear Park Represents Investment to Better Columbus</a></li>
                    <li><a href="http://www.ledger-enquirer.com/2015/06/05/3754795_south-lumpkin-linear-park-groundbreaking.html?rh=1" target="_blank">06/5/2015 - South Lumpkin Linear Park Groundbreaking</a></li>
                    <li><a href="http://www.wtvm.com/story/29252451/officials-break-ground-at-linear-park-in-columbus" target="_blank">06/5/2015 - Officials Break Ground at Linear Park in Columbus</a></li>
                    <li><a href="http://m.chronicle.augusta.com/news/government/2015-05-06/transportation-officials-discuss-budgets-break-ground-berckmans-road#gsc.tab=0" target="_blank">05/6/2015 – Transportation officials discuss budgets, break ground on Berckmans Road widening project</a></li>
                    <li><a href="http://www.southeastgeorgiatoday.com/index.php?option=com_content&amp;task=view&amp;id=16354&amp;Itemid=117" target="_blank">02/8/2015 – Altamaha River Bridge Work Starting  </a></li>
                    <li><a href="http://www.wtoc.com/story/28047220/new-bridge-construction-begins-on-hwy-1-in-appling-toombs-counties" target="_blank">02/6/2015 – New bridge construction begins on Hwy. 1 in Appling, Toombs counties </a></li>
                    <li><a href="/Content/pdf/Oconee%20River%20Bridge%20Groundbreaking%201-8-2015.pdf" target="_blank">01/9/2015 – Ground Broken on New Bridge</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <h3><a data-toggle="collapse" href="#media2014" aria-expanded="false" aria-controls="media2014">2014 Media Links</a></h3>
        <div class="collapse" id="media2014">
            <div class="well">
                <ul>
                    <li><a href="http://www.ledger-enquirer.com/2014/08/23/3262491_two-gaps-in-riverwalk-will-finally.html?rh=1" target="_blank">8/23/2014 – Two gaps in River Walk will finally be spanned </a><br /></li>
                    <li><a href="https://www.youtube.com/watch?v=lsqZz6tG_Xc" target="_blank">8/5/2014 – TIA Progress Report – First 18 Months </a><br /></li>
                    <li><a href="http://chronicle.augusta.com/latest-news/2014-05-23/depletion-federal-highway-funds-stalls-projects" target="_blank">5/23/2014 – Depletion of federal highway funds stalls projects </a><br /></li>
                    <li><a href="http://chronicle.augusta.com/news/metro/2014-04-21/augusta-announces-15-million-restoration-project-butt-bridge-centennial?v=1398144463" target="_blank">4/21/2014 – Augusta announces $1.5 million restoration project on Butt Bridge centennial (Augusta Chronicle) </a><br /></li>
                    <li><a href="http://www.youtube.com/watch?v=BDUi6lsCJPs&amp;list=UUrZzxLcLSTa0dP3lmCsHwmw" target="_blank">4/17/2014 - Augusta’s Butt Bridge (YouTube) </a><br /></li>
                    <li><a href="http://www.themillennews.com/news/2014-04-16/Front_Page/Jenkins_County_puts_TSPLOST_to_work.html" target="_blank">4/16/2014 – Jenkins County puts T-SPLOST to work</a><br /></li>
                    <li><a href="http://www.wsbradio.com/news/news/local/tsplost-paying-where-it-passed/ndJhp/" target="_blank">2/10/2014 - TSPLOST Paying off where it passed (WSB) </a><br /></li>
                    <li><a href="http://www.nbc26.tv/story/24645835/riverwatch-parkwayold-petersburg-expansion-now-underway" target="_blank">2/5/2014 - Riverwatch Parkway / Old Petersburg expansion now underway (WAGT)</a><br /></li>
                    <li><a href="http://www.wnct.com/story/24646773/riverwatch-parkway-expansion-groundbreaking" target="_blank">2/5/2014 – Riverwatch Parkway Expansion Groundbreaking (WNCT)</a><br /></li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <h3><a data-toggle="collapse" href="#media2013" aria-expanded="false" aria-controls="media2013">2013 Media Links</a></h3>
        <div class="collapse" id="media2013">
            <div class="well">
                <ul>
                    <li><a href="http://www.dot.ga.gov/informationcenter/pressroom/Documents/publications/MilePost/Milepost-FallWntr2013.pdf" target="_blank">Fall/Winter 2013 - Georgia Milepost, “TIA in the News” (Page 18) </a></li>
                    <li><a href="http://www.nxtbook.com/naylor/GHCB/GHCB0213/index.php?startid=10" target="_blank">Fall/Winter 2013 - Georgia Transportation Builder, “Meeting the TIA Challenge in Randolph County” </a></li>
                    <li><a href="http://www.gmanet.com/Paper.aspx?CNID=85745" target="_blank">10/8/2013 – Georgia Municipal Association, “Projects Begin in Regions with Transportation Sales Tax” </a></li>
                    <li><a href="http://brunswickdailynews.com/Content/Opinion/Commentaries/Article/Oct--8---State-Transportation-Board-Chair-Calls-for-Statewide-Support-of-TIA-Local-Option-Sales-Tax/7/82/41727" target="_blank">10/8/2013 - State Transportation Board Chair Calls for Statewide Support of TIA</a></li>
                    <li><a href="/Content/pdf/AugustaChronicle092213.pdf" target="_blank">9/22/2013 – Augusta Chronicle, “Surveying the Road Ahead”</a></li>
                    <li>
                        9/4/2013 - U.S. 27 Ground Breaking
                        <ul>
                            <li><a href="http://www.gpb.org/news/2013/09/04/tsplost-project-breaks-ground-funding-lags-0?utm_source=feedburner&amp;utm_medium=feed&amp;utm_campaign=Feed%3A+GPBNewsFeed+%28GPB+News%29" target="_blank">Georgia Public Broadcasting</a></li>
                            <li><a href="http://www.wtvy.com/home/headlines/Highway-27-Breaks-G-222397451.html" target="_blank">WTVY</a></li>
                        </ul>
                    </li>
                    <li><a href="http://www.southgatech.edu/index.cfm?PageID=207&NewsID=3075" target="_blank">8/8/2013 - TIA River Valley Region Citizen&#39;s Review Panel Meets </a> </li>
                </ul>
            </div>
        </div>
    </section>
</section> @*End Media Links*@

<section>
    <h2>Press Releases</h2>

    <section>
        <h3><a data-toggle="collapse" href="#press2017" aria-expanded="false" aria-controls="press2017">2017 Press Releases</a></h3>
        <div class="collapse" id="press2017">
            <div class="well">
                <ul>
                    <li><a href="/Content/pdf/03.11.17 US 27 Complete.pdf" target="_blank"> 03/13/2017 – Completed US 27 widening brings hopes of increased tourism and development to Randolph County</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <h3><a data-toggle="collapse" href="#press2016" aria-expanded="false" aria-controls="press2016">2016 Press Releases</a></h3>
        <div class="collapse" id="press2016">
            <div class="well">
                <ul>
                    @*MISSING PDF*@
                    <li><a href="/Content/pdf/06.22.16 _Columbus METRA Buses.pdf" target="_blank">06/22/2016 - TIA funds new buses and expanded transit services in Columbus</a></li>
                    @*MISSING PDF*@
                    <li><a href="/Content/pdf/06.15.16 - TIA Discretionary Funds.pdf" target="_blank">06/15/2016 – Local communities get customized transportation boost from TIA discretionary funds</a></li>
                    @*MISSING PDF*@
                    <li><a href="/Content/pdf/05.16.16 _ Jones Bridge Road Release.pdf" target="_blank">05/16/2016 – TIA, GDOT and Bleckley County join forces to replace aging bridge </a></li>
                    @*MISSING PDF*@
                    <li><a href="/Content/pdf/03.14.16 Custer RD Release.pdf" target="_blank">03/14/2016 - TIA provides access to new development opportunities in Columbus</a></li>
                    @*MISSING PDF*@
                    <li><a href="/Content/pdf/02 11 16_TIA Band 1 Success.pdf" target="_blank">02/14/2016 - TIA penny paves the way to progress in central Georgia</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <h3><a data-toggle="collapse" href="#press2015" aria-expanded="false" aria-controls="press2015">2015 Press Releases</a></h3>
        <div class="collapse" id="press2015">
            <div class="well">
                <ul>
                    @*MISSING PDF*@
                    <li><a href="/Content/pdf/11.16.2015_Eastman Bypass.pdf" target="_blank">11/18/2015 – Eastman Bypass opened ahead of schedule in Dodge County </a><br /></li>
                    <li><a href="/Content/pdf/9.30.2015_ SGTP Ground Breaking.pdf" target="_blank">10/01/2015 – Local officials break ground for improvements to SGT parkway</a><br /></li>
                    <li><a href="/Content/pdf/9.18.2015 _ GDOT TIA Mullins Release.pdf" target="_blank">09/23/2015 – Mullins named new TIA Administrator</a><br /></li>
                    <li><a href="/Content/pdf/9.21.2015 _ Richmond-Columbia TIA Construction Release.pdf" target="_blank">09/21/2015  - TIA funds push major fourth quarter construction in Richmond and Columbia Counties</a><br /></li>
                    <li><a href="/Content/pdf/08.17.2015%20_%20TIA%20Award%20Release.pdf" target="_blank">08/17/2015 - GDOT announces three awards for TIA funded projects in Richmond, Montgomery and Laurens counties</a><br /></li>
                    <li><a href="/Content/pdf/PR%20GDOT%208.15.2015%20_%20%20Laurens%20County%20_%20Springhaven%20RD%20Bridge.pdf" target="_blank">08/15/2015 - Collaboration and low-cost solutions improve safety of Laurens County bridge</a><br /></li>
                    <li><a href="/Content/pdf/TIA%20-%20Georgia%20DOT%20and%20Appling%20County%20Officials%20Celebrate%20Completion%20of%20Zoar%20Road%20Upgrades%20and%20Bridge%20Replacements%20%207_31_15.pdf" target="_blank">07/31/2015 - Georgia DOT and Appling County Officials Celebrate Completion of Zoar Road Upgrades and Bridge Replacements</a><br /></li>
                    <li><a href="/Content/pdf/Press Release_TIA Regions 7_30_15.pdf" target="_blank">07/30/2015 - Transportation Investment Act (TIA) is Driving Progress across the State of Georgia</a><br /></li>
                    <li><a href="/Content/pdf/Press%20Release_TIA%20CSRA%207_30_15.pdf" target="_blank">07/30/2015 - Transportation Investment Act (TIA) is Driving Progress in Central Savannah River Area and across the State of Georgia</a><br /></li>
                    <li><a href="/Content/pdf/Press%20Release_TIA%20HOGA%207_30_15.pdf" target="_blank">07/30/2015 - Transportation Investment Act (TIA) is Driving Progress in the Heart of Georgia Altamaha region and across Georgia</a><br /></li>
                    <li><a href="/Content/pdf/Press Release_TIA River Valley 7_30_15.pdf" target="_blank">07/30/2015 - Transportation Investment Act (TIA) is Driving Progress in the River Valley region and across the State of Georgia</a><br /></li>
                    <li><a href="/Content/pdf/Press%20Release_TIA%20Award_7_21_15_Final.pdf" target="_blank">07/21/2015 - Transportation Investment Act (TIA) honored with CMAA South Atlantic Chapter Project Achievement Award</a><br /></li>
                    <li><a href="/Content/pdf/Robert%20Toombs%20Avenue%20Press%20Release%207_7_15.pdf" target="_blank">07/7/2015 - Transportation Investment Act (TIA) Project Resurfacing Vital City of Washington Route</a><br /></li>
                    <li><a href="/Content/pdf/PressRelease-TIA_Lettings_7-6-15.pdf" target="_blank">07/6/2015 - Georgia DOT Announces Awards of Three Improvement Projects Utilizing TIA Funding</a><br /></li>
                    <li><a href="/Content/pdf/Adams Street - Vidalia - 6-10-2015.pdf" target="_blank">06/11/2015 - Georgia DOT’s Transportation Investment Act Office Joins the City of Vidalia in Celebrating the Completion of $1.6 Million Project</a><br /></li>
                    <li><a href="/Content/pdf/South%20Lumpkin%20MultiUse%20Path%20Final.pdf" target="_blank">06/6/2015 - Work Starting on South Lumpkin Multi-Use Path to Connect Communities in Southwest Columbus</a><br /></li>
                    <li><a href="/Content/pdf/Altamaha%20River%20Bridge%20Replacement%20Project.pdf" target="_blank">02/6/2015 - Officials Launch Construction of Altamaha River Bridge Replacement Project</a><br /></li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <h3><a data-toggle="collapse" href="#press2014" aria-expanded="false" aria-controls="press2014">2014 Press Releases</a></h3>
        <div class="collapse" id="press2014">
            <div class="well">
                <ul>
                    <li><a href="http://www.thetruecitizen.com/news/2014-11-12/News/FUNDED_BY_PENNY_SALES_TAX.html" target="_blank">11/12/2014 – Funded by Penny Sales Tax</a><br /></li>
                    <li><a href="/Content/pdf/Windsor%20Spring%20Road%20Augusta%209-30-2014.pdf" target="_blank">9/30/2014 – Windsor Spring Road in Augusta</a><br /></li>
                    <li><a href="/Content/pdf/APPLING%20COUNTY%20-%20GEORGIA%20DOTS%20LMIG%20AND%20TIA%20FUNDS%20ENHANCE%20SAFETY%20FOR%20SCHOOL%20CHILDREN%20IN%20APPLING%20COUNTY.pdf" target="_blank">9/8/2014 – LMIG & TIA in Appling County</a><br /></li>
                    <li><a href="/Content/pdf/TIA%201st%2018%20Months%208-5-2014.pdf" target="_blank">8/5/2014 – TIA Progress Snapshot</a><br /></li>
                    <li><a href="/Content/pdf/Deepstep%20Road%205-12-2014.pdf" target="_blank">5/13/2014 – Deepstep Road Kick-Off in Washington County</a><br /></li>
                    <li><a href="/Content/pdf/Archibald%20Butt%20Memorial%20Bridge.pdf" target="_blank">4/22/2014 – Archibald W. Butt Memorial Bridge Rehabilitation</a><br /></li>
                    <li><a href="/Content/pdf/AugustaOutreach-IndustryForum2-25-2014.pdf" target="_blank">2/25/2014 – TIA Office Hosts Outreach and Information Events</a><br /></li>
                    <li><a href="/Content/pdf/Old%20Petersburg%20Rd%20Columbia%20County%202-5-2014.pdf" target="_blank">2/7/2014 – Old Petersburg Road Groundbreaking in Columbia County </a><br /></li>
                    <li><a href="/Content/pdf/Press%20Release%20Jan%2017.pdf" target="_blank">1/17/2014 – NW Eastman Bypass Groundbreaking in Dodge County </a></li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <h3><a data-toggle="collapse" href="#press2013" aria-expanded="false" aria-controls="press2013">2013 Press Releases</a></h3>
        <div class="collapse" id="press2013">
            <div class="well">
                <ul>
                    <li><a href="/Content/pdf/TIA%20Projects%20Awarded%20in%20Columbia%20and%20Dodge11-20-2013.pdf" target="_blank">11/20/2013 – Georgia DOT Awards Transportation Investment Act Projects in Columbia and Dodge Counties </a></li>
                    <li><a href="http://www.dot.ga.gov/informationcenter/pressroom/PressReleases/Dublin%20Open%20House%20Seeks%20Input%20On%20New%20Oconee%20River%20Bridge%20TIA%20Band%201%20Project%2010-28-2013.pdf" target="_blank">10/28/2013 – Public Hearing Open House for the New Oconee River Crossing, Dublin, GA </a></li>
                    <li><a href="/Content/pdf/TIA Website Launches  8-5-2013.pdf" target="_blank">8/5/2013 - TIA Website Launches </a></li>
                    <li><a href="/Content/pdf/Randolph%20County%20US27.pdf" target="_blank">7/10/2013 - Randolph County: U.S. 27 </a></li>
                    <li><a href="/Content/pdf/SR130ToombsCounty-4-18-2013.pdf" target="_blank">4/18/2013 - Toombs County: SR 130 Turn Lane</a></li>
                </ul>
            </div>
        </div>
    </section>
</section> @*End Press Releases*@

<section>
    <h2><a data-toggle="collapse" href="#PublicNotice" aria-expanded="false" aria-controls="PublicNotice">Public Notice</a></h2>
    <div class="collapse" id="PublicNotice">
        <div class="well">
            <ul>
                <li><a href="/Content/pdf/220680_VERG_Rendering.jpg" target="_blank">P1 220680 – Richmond County SR 4 Widening</a></li>
                <li><a href="/Content/pdf/0008016_PIOH Layout.pdf" target="_blank">PI 0008016 – SR 15 Sparta Bypass – PIOH Project Display</a></li>
                <li><a href="/Content/pdf/Public Involvement_Draft_Handout for PIOH v2.docx" target="_blank">PI 0012577 - Buena Vista Road at I-185 Interchange (Muscogee County)</a></li>
                <li><a href="/Content/pdf/PI 422470-RV-Crisp-TIA PIOH Ad_Final_10.26.2017.pdf" target="_blank">11.16.2017 – Public Information Open House for US 280 Widening Project</a></li>
                <li><a href="/Content/pdf/PI 0012578 ESPCP.PDF" target="_blank"> PI 0012578 Erosion, Sediment and Pollution Control Plan (Sumter and Crisp Counties)</a></li>
            </ul>
        </div>
    </div>
</section>
