@{
    ViewBag.Title = "News";
}

<h2>TIA Procurement and Contracting Information </h2>

<a href="/Content/pdf/Local Managed - Auth to Adv - Band 2 - 7May19.pdf" target="_blank">
                TIA Local Let Schedule – May 2018</a><br />

<h2>TIA Professional Services Advertisements and Awards</h2>
<a <p><a href="http://ssl.doas.state.ga.us/PRSapp/PublicBidNotice?bid_op=1348401484-041913TIA" target="_blank">TIA Batch #1</a><br/>
<a <p><a href="https://ssl.doas.state.ga.us/PRSapp/PublicBidNotice?bid_op=1448401RFQ-484-040714TIA">TIA Batch #2</a><br/>
<a <p><a href="https://ssl.doas.state.ga.us/PRSapp/PublicBidNotice?bid_op=1548401RFQ-484-101414TIA">TIA Batch #3</a><br/>
<a <p><a href="http://ssl.doas.state.ga.us/PRSapp/PublicBidNotice?bid_op=1548401RFQ-484-050515TIA" target="_blank">TIA Batch #4</a><br/>
<a <p><a href="http://ssl.doas.state.ga.us/PRSapp/PublicBidNotice?bid_op=1648401RFQ-484-121515TIA" target="_blank">TIA Batch #5</a><br />
<a<p><a href="http://ssl.doas.state.ga.us/PRSapp/PublicBidNotice?bid_op=1748401PNA-484-041917TIA" target="_blank">TIA Batch #6</a><br />
<a<p><a href="http://ssl.doas.state.ga.us/PRSapp/PublicBidNotice?bid_op=1348401484-021213">CE&I</a><br/>
<a <p><a href="http://ssl.doas.state.ga.us/PRSapp/PublicBidNotice?bid_op=1448401RFQ-484-111813TIA">ON-Call</a><br/>
                </a></div>

<h2>General Contract Information</h2>

<p><a href="/Content/pdf/TIA%20Budget%20and%20Payment%20clauses.pdf">TIA Budget and Payment Clauses</a></p>

<h2>
ACEC TIA Working Group Meeting Minutes </h2>

	<a href="/Content/pdf/ACEC%20TIA%20Working%20Grp%20Mtg%20Notes%201-8-2015.pdf" target="_blank">1/8/2015</a><br />
    <a href="/Content/pdf/ACEC%20TIA%20Working%20Grp%20Mtg%20Notes%207-10-2014.pdf" target="_blank">7/10/2014</a><br />
    <a href="/Content/pdf/ACEC%20TIA%20Working%20Grp%20Mtg%20Notes%205-8-2014.pdf" target="_blank">5/8/2014</a><br />
    <a href="/Content/pdf/ACEC%20TIA%20Working%20Grp%20Mtg%20Notes%201-9-2014.pdf" target="_blank">1/9/2014</a><br />
    <a href="/Content/pdf/ACEC%20TIA%20Working%20Grp%20Mtg%20Notes%2011-14-2013.pdf" target="_blank">11/14/2013</a><br />
    <a href="/Content/pdf/ACEC%20TIA%20Working%20Grp%20Mtg%20Notes%2010-10-2013.pdf" target="_blank">10/10/2013</a>
</div>