@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3> GA-TIA Staff</h3>
<div class="row">
    <div class="col-md-4 contact">
        <strong>Kenneth Franks</strong><br />
        State TIA Administrator<br />
        (404) 631-1568<br />
        <a href="mailto:kfranks@dot.ga.gov">kfranks@dot.ga.gov</a><br /><br />
    </div>

    <div class="col-md-4 contact">
        <strong>William Eastin</strong><br />
        TIA Regional Coordinator<br />
        RV &amp; SG<br />
        (404) 631-1810<br />
        <a href="mailto:weastin@dot.ga.gov ">weastin@dot.ga.gov</a><br /><br />
    </div>
    <div class="col-md-4 contact">
        <strong>Brent Moseley</strong><br />
        TIA Regional Coordinator<br />
        HOGA &amp; SG<br />
        (912) 530-4391<br />
        <a href="mailto:bmoseley@dot.ga.gov ">bmoseley@dot.ga.gov</a><br /><br />
    </div>
</div>

<div class="row">

    <div class="col-md-4 contact">
        <strong>Eric Wilkinson</strong><br />
        TIA Regional Coordinator<br />
        CSRA &amp; HOGA<br />
        (478) 538-8522<br />
        <a href="mailto:ewilkinson@dot.ga.gov">ewilkinson@dot.ga.gov</a><br /><br />
    </div>

    <div class="col-md-4 contact">
        <strong>Dan Bodycomb</strong><br />
        TIA Program Manager<br />
        (404) 631-1697<br />
        <a href="mailto:dbodycomb@dot.ga.gov">dbodycomb@dot.ga.gov</a><br /><br />
    </div>

    <div class="col-md-4 contact">
        <strong>Karen Judd</strong><br />
        TIA Communications<br />
        (404) 631-1418<br />
        <a href="mailto:kjudd@dot.ga.gov">kjudd@dot.ga.gov</a><br /><br />
    </div>
</div>
