
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Calendar of Public Events</h1>

<p><a href="/Content/pdf/CRP AGENDA March 26, 2015.pdf" target="_blank">3/26/2015 – HOGA Citizen’s Review Panel, Montgomery County</a></p>

<p><a href="/Content/pdf/Pobiddy Rd Groundbreaking Invitation.pdf" target="_blank">2/13/2015 – Pobiddy Road Groundbreaking, Talbot County</a> <span class="small danger">*POSTPONED*</span></p>