@{
    ViewBag.Title = "Discretionary";
}

<h1>Regional Discretionary Funding Estimates</h1>

<p><a href="/Content/pdf/Central Savannah River Area TIA Projections - Tax Year 2013.pdf" target="_blank">Central Savannah River Area Discretionary Funding Estimates </a></p>
<p><a href="/Content/pdf/Heart of Georgia Altamaha TIA Projections - Tax Year 2013.pdf" target="_blank">Heart of Georgia-Altamaha Discretionary Funding Estimates </a></p>
<p><a href="/Content/pdf/River Valley TIA Projections - Tax Year 2013.pdf" target="_blank">River Valley Discretionary Funding Estimates </a></p>

