@{
	ViewBag.Title = "Fact Sheet";
}

<h1>Program Fact Sheet</h1>

<h2>Program Overview</h2>

<p>The Transportation Investment Act (TIA) Referendum was passed by Georgia voters in the regions of Central Savannah River Area, Heart of Georgia - Altamaha and River Valley. These three regions will implement a one percent regional sales tax over a ten year period to fund transportation improvements. Georgia DOT is responsible for the management of the budget, schedule, execution and delivery of all Projects contained in the Approved Investment Lists. Georgia DOT is collaborating with local and state agencies to ensure timely delivery of TIA projects, with a structure that focuses on high-level project management, intergovernmental coordination, transparency, and successful program delivery.</p>

<h2>Program Funding</h2>

<p>Collection of TIA funds began on January 1, 2013. Funds are collected by the Georgia Department of Revenue (DoR). DoR will collect and enforce the special district transportation sales and use tax for the use and benefit of the Special District imposing the special district transportation sales and use tax. Georgia State Financing and Investment Commission (GSFIC) will disburse the proceeds of the special district transportation sales and use tax as soon as practicable after collection. GSFIC will transfer the 25% allocations monthly. Funds for building projects were first distributed in early Spring 2013.</p>

<p><a href="/Content/pdf/TIAFactSheet.pdf" target="_blank">Open PDF version</a></p>

<p>For more information, e-mail <a href="mailto:TIA@dot.ga.gov">TIA@dot.ga.gov</a> or contact a TIA program coordinator:</p>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-2 contact">
		Kenneth Franks<br />
		TIA Regional Coordinator<br />
		CSRA & HOGA<br />
        (404) 631-1568<br />
		<a href="mailto:">kfranks@dot.ga.gov</a>
	</div>
	<div class="col-md-2 contact">
		Kelvin Mullins<br />
		TIA Administrator<br />
		(Interim Regional Coordinator for River Valley & HOGA)<br />
		(404) 631-1675<br />
		<a href="mailto:">kemullins@dot.ga.gov</a>
	</div>
	<div class="col-md-2 contact">
		Shrujal Amin<br />
		TIA Program Manager<br />
		(404) 631-1697<br />
		<a href="mailto:">samin@dot.ga.gov</a>
	</div>
	<div class="col-md-2 contact">
		Karen Judd<br />
		Communications<br />
		<a href="mailto:">kjudd@dot.ga.gov</a>
	</div>
	<div class="col-md-2"></div>
</div>
