@{
    ViewBag.Title = "FAQ";
}

<h2>Frequently Asked Questions</h2>

<p>Please read the frequently asked questions listed below for more information about the Transportation Referendum. Click on a question from one of the categories below to view the answer. </p>

<section>
	<h3><a href="/Content/pdf/TIA%20-%20FAQ.pdf" target="_blank">Discretionary Funding FAQ</a></h3>
</section>

<section>
	<h3>Project Delivery</h3>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Who collects the special district transportation sales and use tax?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        TIA directs the state revenue commissioner to exclusively administer, collect and enforce the special district transportation sales and use tax for the use and benefit of the Special District imposing the special district transportation sales and use tax and to disburse the proceeds of the special district transportation sales and use tax as soon as practicable after collection to GSFIC. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Who maintains the special district transportation sales and use tax proceeds for the Special Districts? 
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        TIA directs GSFIC to maintain and administer the special district transportation sales and use tax proceeds in a trust fund, separate from other funds of GSFIC, on behalf of the Special District imposing the special district transportation sales and use tax, to ensure the proper application of the proceeds for the Approved Investment List(s) for each Special District. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading3">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Who is responsible for the management of the Projects? 
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
      <div class="panel-body">
		  GDOT is responsible for the management of the budget, schedule, execution and delivery of all Projects contained in the Approved Investment Lists.
      </div>
    </div>
  </div>
	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading5">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
          Can the special district transportation sales and use tax funds be used for Projects other than the TIA Projects?
        </a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
      <div class="panel-body">
		  The proceeds of the special district transportation sales and use tax are not funds of the State and are instead held in trust by GSFIC on behalf of the Special Districts imposing the special district transportation sales and use tax. The local governments within each Special District can use the 25% portion of the tax funds disbursed to them by GSFIC on any other transportation project in the region.
      </div>
    </div>
  </div>
	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading6">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
          Who determines the tax revenue projections? 
        </a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
      <div class="panel-body">
        The Annual Revenue Projection is an estimate of the monthly special district transportation sales and use tax proceeds by Special District for subsequent fiscal years and is prepared by the Georgia State University Fiscal Research Center. 
      </div>
    </div>
  </div>
	
	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading7">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
          Who determines whether GDOT or the local government will deliver the Projects? 
        </a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
      <div class="panel-body">
		  In managing the budget, schedule, execution, and delivery of the Projects contained in the Approved Investment Lists, GDOT exclusively determines whether a Project is to be designed and constructed by GDOT, by or on behalf of a local government, or by another public or private entity. Regardless of the delivery agent, GDOT is alone responsible for requesting disbursement of special district transportation sales and use tax proceeds from GSFIC upon the completion of a Project or Project Element, reporting progress and performance in the execution, schedule, and delivery of Projects on the Approved Investment Lists to GSFIC, and providing adequate record-keeping to allow for an annual audit in accordance with O.C.G.A. § 48-8-249(d).
      </div>
    </div>
  </div>
	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading8">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
          When does GSFIC generate the Annual Revenue Projection? 
        </a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
      <div class="panel-body">
        GSFIC provides an Annual Revenue Projection for the subsequent fiscal years to GDOT no later than December 31st of each year. The Annual Revenue Projection includes monthly collection estimates by Special District. GSFIC will provide updated revenue projections on a quarterly basis or more frequently if monthly collections vary more than five percent (5%) from projections. 
      </div>
    </div>
  </div>
	
	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading9">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
          Who develops the Annual Program Draw Schedules? 
        </a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
      <div class="panel-body">
		  TIA directs GSFIC to maintain and administer the special district transportation sales and use tax proceeds in a trust fund, separate from other funds of GSFIC, on behalf of the Special District imposing the special district transportation sales and use tax, to ensure the proper application of the proceeds for the Approved Investment List(s) for each Special District. 
      </div>
    </div>
  </div>
	
	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading10">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
          What happens if the special district transportation sales and use tax proceeds are insufficient to complete the Projects? 
        </a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
      <div class="panel-body">
		  <p>The obligation of GSFIC to pay or reimburse any Eligible Project Cost is expressly limited solely to the amount of special district transportation sales and use tax proceeds remitted to GSFIC by GDOR net of the local government distributions.</p>

		  <p>Should the proceeds of the special district's transportation sales and use tax be insufficient to meet the payment requests of GDOT as determined by GSFIC in its sole discretion, GSFIC's payment obligation shall terminate without further obligation of GSFIC to the extent that the obligations exceed the availability of such proceeds.</p>

		  <p>GSFIC's certification as to the availability of special district transportation sales and use tax proceeds is conclusive.</p>

		  <p>Similarly, the obligation of GDOT to pay or reimburse any Eligible Project Cost is expressly limited to the amount of special district transportation sales and use tax proceeds remitted to GDOT by GSFIC and designated by GDOT for the Project.</p>

      </div>
    </div>
  </div>
	
	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading11">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
          Has the TIA Program established minimum reserves?
        </a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
      <div class="panel-body">
		  <p>In order to safeguard the availability of special district transportation sales and use tax proceeds a reserve fund has been established by GSFIC for each Special District. Reserves may be used throughout the year to meet extraordinary cash requirements of GDOT in excess of the annual expenditure projections included in the Annual Program Draw Schedule or in the event monthly revenue collections fall below the Annual Revenue Projection. Reserves will be replenished as soon as special district transportation sales and use tax proceeds allow. </p>

		  <p>GSFIC and GDOT have established a reserves policy. It is subject to modification depending on Program needs. </p>
      </div>
    </div>
  </div>
	
	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading12">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
          In the event that funds are not available, is there a priority of payments?
        </a>
      </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
      <div class="panel-body">
		  In the event GDOT's monthly cash needs for Projects on the Approved Investment Lists exceed the balance of special district transportation sales and use tax available, GDOT will establish a prioritization of payment schedule. GDOT is currently working on the priority of payment policy.
      </div>
    </div>
  </div>
	
	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading13">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
          Is the TIA Program audited?
        </a>
      </h4>
    </div>
    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
      <div class="panel-body">
		  <p>GSFIC has the right to review and audit the use of funds dispensed to GDOT upon receipt of a complaint or as otherwise warranted. In addition, an annual audit, paid for by the net tax proceeds available for the Projects on the Approved Investment List for each Special District and conducted by an independent auditing firm as selected by GSFIC. The audit will include a schedule which shows for each Project the original estimated cost, the current estimated cost, amounts expended in prior years, and amounts expended in the current year.</p>

		  <p>It is recognized that Projects may include funds from sources other than special district transportation sales and use tax proceeds. For purposes of the annual audit, GDOT shall identify the source of all funds, including funds from sources other than special district transportation sales and use tax proceeds.</p>
      </div>
    </div>
  </div>
	</div>
	</section>
	
<section>
	<h3>Accountability and Oversight</h3>
	<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading14">
			  <h3 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
				  Is there citizen oversight for the use of these funds? 
				</a>
			  </h4>
			</div>
			<div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
			  <div class="panel-body">
				  Yes. The law created a Citizens Review Panel for each Special District in which the tax was approved. This panel, made up of Special District citizens, is charged with assessing the progress of Projects included on the Approved Investment Lists. Five panel members are appointed by the Speaker of the House and the Lt. Governor. The panel must issue an annual report to the General Assembly which includes Project progress and expenditures.
			  </div>
			</div>
	</div>
	
	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading15">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
          What happens if Project costs exceed the Project budget?
        </a>
      </h4>
    </div>
    <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
      <div class="panel-body">
		  Project controls are in place to limit cost overruns. GDOT is committed to designing Projects according to scope, schedule and budget as set forth in the Approved Investment Lists. The Special District Citizens Review Panels— appointed by the state’s leadership—will provide oversight and monitor how dollars are spent.
      </div>
    </div>
  </div>
	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headin16">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse16">
          What happens if we meet the collection max before the end of the ten years?
        </a>
      </h4>
    </div>
    <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
      <div class="panel-body">
        If the special district transportation sales and use tax collected reaches the projected amount before the 10 years, the tax will stop. Any additional funds collected during that first calendar quarter will be distributed via the discretionary pot of funding.
      </div>
    </div>
  </div>
	
	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading17">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
          What happens if we don’t have the money to finish all of the Projects (most likely those Projects in the final funding band) before or at the end of the 10-year period? 
        </a>
      </h4>
    </div>
    <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
      <div class="panel-body">
		  Every Project on the Approved Investment Lists must be built, and in the event available funding for Projects yet to be built is not enough, then the likely approach would be to scale back the remaining Projects according to the available funds. However, cash flow projections will be closely monitored during the entire period to help prevent and resolve these issues.
      </div>
    </div>
  </div>
	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading18">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18">
          How will transparency be achieved? 
        </a>
      </h4>
    </div>
    <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
      <div class="panel-body">
        Establishing and implementing this new TIA Project delivery program is an exercise in cooperation, collaboration and communication. GDOT will continue to coordinate with its partner agencies, local governments, the leadership of Regional Commissions, and the Special District Citizens Review Panels to achieve efficiency and transparency. In addition, periodic reports will be made to the Georgia General Assembly and to the public, via the TIA website, that will provide updates on Projects and expenditures. 
      </div>
    </div>
  </div>
</div>
	</section>
