@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
	ViewBag.Title = "Slide Show";
}

<h2>Photo Albums</h2>

@{ 
	foreach (var album in ViewBag.albumList) {
	   <p><a href="/Gallery/@album.PhotosetId">@album.Title</a><br />@album.Description</p>
	
	}
   
}
