@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
	ViewBag.Title = "Gallery";
}

<h2>Photo Albums</h2>

@{ 
	foreach (var album in ViewBag.albumList) {
	   <p><a href="/Home/SlideShow/@album.PhotosetId"><img src="@album.PhotosetThumbnailUrl" alt="Primary photo for @album.Title" /></a><br /><a href="/Home/SlideShow/@album.PhotosetId">@album.Title</a><br />@album.Description</p>
	
	}
   
}
