@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
	ViewBag.Title = "Transportation Investment Act of 2010";
}

	<div class="row">
		<div class="col-md-8">
			<h1 style="margin-top: 0">Transportation Investment Act (TIA)</h1>
		</div>

		<div class="col-md-3">
			<div class="subtitle" style="color:#246092; font-size: 1.5em; font-style:italic; text-align: right; margin-right: -25px">Your Penny, Your Progress</div>
		</div>
	</div>
	<br />

	<div class="row">
		<div class="col-md-12">
			<div id="carousel-home" class="carousel slide" data-ride="carousel" data-interval="8000">

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
				<div class="item active">
				  <img src="/Content/photos/banner1.png" alt="carosel banner" />
				  <div class="carousel-caption">
					Feature Project (2015)<br />
					<span class="description">Old Petersburg Road Groundbreaking in Columbia County</span>
				  </div>
				</div>
				<div class="item">
				  <img src="/Content/photos/banner2.png" alt="carosel banner" />
				  <div class="carousel-caption">
					<br />
					  
				  </div>
				</div>
				<div class="item">
				  <img src="/Content/photos/banner3.png" alt="carosel banner" />
				  <div class="carousel-caption">
					<br />
					  
				  </div>
				</div>
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			  </a>
			</div>
			<br />
			<p>The Transportation Investment Act (TIA) Referendum was passed by Georgia voters in the regions of Central Savannah River Area, Heart of Georgia - Altamaha and River Valley. These three regions will implement a one percent regional sales tax over a ten year period to fund transportation improvements. Georgia DOT is responsible for the management of the budget, schedule, execution and delivery of all Projects contained in the Approved Investment Lists.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<p><img src="/Content/img/Body_4a.jpg" usemap="#regions" /></p>

			<map name="regions" id="regions">
				<area id="rv" alt="River Valley" title="River Valley" href="#" shape="rect" coords="2,266,237,531" style="outline:none;" target="_self" />
				<area id="hoga" alt="Heart of Georgia Altamaha" title="Heart of Georgia Altamaha" href="#" shape="poly" coords="240,367,238,473,353,495,450,567,511,567,521,531,484,482,516,438,476,344,456,310,426,307,351,303" style="outline:none;" target="_self" />
				<area id="csra" alt="Central Savannah River Area" title="Central Savannah River Area" href="#" shape="poly" coords="329,147,385,146,519,278,497,339,474,342,453,307,416,306,395,303,362,302,327,273,303,224" style="outline:none;" target="_self" />


</map>
		</div>

		<div class="col-md-6"><br />
			<p style="font-size: 0.85em; font-weight: bold; max-width: 25em; margin: auto"><span class="blue">Total Projects:</span> <span class="green">@ViewBag.totalProjects</span><br />
			<span class="blue">Projects Under Construction:</span> <span class="green">#@ViewBag.totalConstructionProjects</span><br />
			<span class="blue">Projects Completed:</span> <span class="green">#@ViewBag.totalFinishedProjects</span><br />
			<span class="blue">TIA Funds Budgeted (2011 Dollars):</span> <span class="green">$1,175,318,463</span><br />
			<span class="blue">Total Expenditure to Date (in millions):</span> <span class="green"></span></p><br />
			<div style="text-align: center; width: 100%;">
				<div id="thermo1" style="width: 80px; margin: auto"></div>
			</div>
			<script>
				$('#thermo1').thermometer({
					height: 300,
					width: 350,
					startValue: '@ViewBag.totalTaxRevenueCollected',
					minValue: 0,
					maxValue: 1200,
					topText: "$1200",
					middleText: "$600",
					bottomText: "$0"
				});
				</script>
			<p style="text-align: center; font-weight: bold"><span class="blue">Tax Revenue Collected to Date</span><br />
				<span class="green">@ViewBag.totalTaxRevenueCollectedString</span>
			</p>
		</div>
	</div>
	<br /><br />
<!--
	<div class="row">
		<div class="col-md-4">
			<h4><img src="/Content/img/Heart-of-Georgia-Altamaha-sm.png" alt="" />Heart of Georgia Altamaha</h4>
			<p style="font-size: 0.85em; font-weight: bold; margin: auto; width: auto">
				<span class="blue">Total Projects:</span> <span class="hoga">764</span><br />
			<span class="blue">Projects Under Construction:</span> <span class="hoga">#</span><br />
			<span class="blue">Projects Completed:</span> <span class="hoga">#</span><br />
			<span class="blue">TIA Funds Budgeted (2011 Dollars):</span> <span class="hoga">$255,542,067</span><br />
			<span class="blue">Total Expenditure to Date (in millions):</span> <span class="hoga">$</span></p><br />
			<div style="text-align: center; width: 100%;">
				<div id="thermo2" style="width: 80px; margin: auto"></div>
			</div>
			<script>
				$('#thermo2').thermometer({
					startValue: 66,
					minValue: 0,
					maxValue: 300,
					topText: "$300",
					middleText: "$150",
					bottomText: 0,
					liquidColour: '#608bb4'
				});
				</script>
			<p style="text-align: center; font-weight: bold"><span class="blue">Tax Revenue Collected to Date</span><br />
				<span class="hoga">$66,405,046</span>
			</p>
		</div>
		<div class="col-md-4">
			<h4><img src="/Content/img/Central-Savannah-River-sm.png" alt="" />Central Savannah River</h4>
			<p style="font-size: 0.85em; font-weight: bold"><span class="blue">Total Projects:</span> <span class="csra">84</span><br />
			<span class="blue">Projects Under Construction:</span> <span class="csra">#</span><br />
			<span class="blue">Projects Completed:</span> <span class="csra">#</span><br />
			<span class="blue">TIA Funds Budgeted (2011 Dollars):</span> <span class="csra">$538,965,884</span><br />
			<span class="blue">Total Expenditure to Date (in millions):</span> <span class="csra">$</span></p><br />
			<div style="text-align: center; width: 100%;">
				<div id="thermo3" style="width: 80px; margin: auto"></div>
			</div>
			<script>
				$('#thermo3').thermometer({
					startValue: 146,
					minValue: 0,
					maxValue: 600,
					topText: "$600",
					middleText: "$300",
					bottomText: 0,
					liquidColour: '#9bbb59'
				});
				</script>
			<p style="text-align: center; font-weight: bold"><span class="blue">Tax Revenue Collected to Date</span><br />
				<span class="csra">$146,171,287</span>
			</p>
		</div>
		<div class="col-md-4">
			<h4><img src="/Content/img/River-Valley-sm.png" alt="" />River Valley</h4>
			<p style="font-size: 0.85em; font-weight: bold"><span class="blue">Total Projects:</span> <span class="rv">23</span><br />
			<span class="blue">Projects Under Construction:</span> <span class="rv">#</span><br />
			<span class="blue">Projects Completed:</span> <span class="rv">#</span><br />
			<span class="blue">TIA Funds Budgeted (2011 Dollars):</span> <span class="rv">$380,828,512</span><br />
			<span class="blue">Total Expenditure to Date (in millions):</span> <span class="rv">$</span></p><br />
			<div style="text-align: center; width: 100%;">
				<div id="thermo4" style="width: 80px; margin: auto"></div>
			</div>
			<script>
				$('#thermo4').thermometer({
					startValue: 104,
					minValue: 0,
					maxValue: 600,
					topText: "$600",
					middleText: "$300",
					bottomText: 0,
					liquidColour: '#f79646'
				});
				</script>
			<p style="text-align: center; font-weight: bold"><span class="blue">Tax Revenue Collected to Date</span><br />
				<span class="rv">$104,386,573</span>
			</p>
		</div>
	</div>-->
	<br />
	<div class="row">
		<div class="col-md-12">
			<p><span style="font-weight:bold">Project Map</span><br />

			Please click on an orange cone in the project map to view more information about a TIA project.</p>
			<iframe src="http://gis10.dot.ga.gov/FeaturedProjects/map.html" style="height: 550px; width: 100%"></iframe>
		</div>
	</div>