
@{
    ViewBag.Title = "Investment";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Final Investment Reports by Region</h1>

<p><a href="/Content/pdf/CSRA-finalinvestmentlistreport.pdf" target="_blank">Central Savannah River Area Final Investment Report</a></p>
<p><a href="/Content/pdf/HOG-finalinvestmentlistreport.pdf" target="_blank">Heart of Georgia - Altamaha Final Investment Report</a></p>
<p><a href="/Content/pdf/RiverValley-FinalInvestmentListReport.pdf" target="_blank">River Valley Final Investment Report </a></p>