@{
    ViewBag.Title = "TIA Manuals";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h2>Manuals</h2>

<div>
    <a href="/Content/pdf/For Publication - TIA Manual - Jan2015.pdf" target="_blank">TIA Manual January 2015</a>
    <br />
    <br />
    <a href="/Content/pdf/TIA%20Preliminary%20ROW%20Cost%20Estimate%20Template.xlsx"
        target="_blank">TIA Preliminary ROW Cost Estimate Template</a>
</div>

<h4>Procedures</h4>
<div>
    <a href="/Content/pdf/3%20-%20FINAL%20FOR%20PUBLICATION%20-%20GDOT%20TIA%20-%20PPM%2001%20-%20Procurement%20%20-June%202014%20-%20Signed.pdf"
        target="_blank">TIA Program Procedure Manual  01 – Procurement</a><br />
    <a href="/Content/pdf/4%20-%20FINAL%20FOR%20PUBLICATION%20-%20GDOT%20TIA%20-%20PPM%2002%20-%20Contracts%20-%20June%202014%20-%20SECTION%204%20AMENDED%206Aug14.pdf"
        target="_blank">TIA Program Procedure Manual  02 – Contracts</a><br />
    <a href="/Content/pdf/5%20-%20FINAL%20FOR%20PUBLICATION%20-%20GDOT%20TIA%20-%20PPM%2003%20-%20Invoicing%20-%20June%202014%20-%20Signed.pdf"
        target="_blank">TIA Program Procedure Manual  03 – Invoicing</a><br />
    <a href="/Content/pdf/7%20-%20APPROVED%20FINAL%20FOR%20PUBLICATION%20-%20GDOT%20TIA%20-%20PPM%2005%20-%20Communications%20-%20June%202014%20-%20Signed.pdf"
        target="_blank">TIA Program Procedure Manual 05 – Communications</a><br />
    <br />
    <a href="/Content/pdf/Addendum1-BandChangeProcedure.pdf"
        target="_blank">Band Change Procedure</a>
</div>

<h4>Standards</h4>
<div>
    <a href="/Content/pdf/TIA%20Standard%20TIA2014-DM1%20-%20Field%20Plan%20Review%20Inspection%20for%20TIA%20Projects.pdf"
        target="_blank">TIA Standard TIA2014-DM1 - Field Plan Review Inspection for TIA Projects</a>
</div>
<h4>Forms</h4>
<div>
    <a href="/Content/pdf/FORM 2440-1bTIA - TIA Field Plan Review Inspection Request Checklist - Revised   07292014.pdf"
        target="_blank">FORM 2440-1bTIA - TIA Field Plan Review Inspection Request Checklist</a>
</div>
