@{
    ViewBag.Title = "News";
}


<section>
	<h2>Media Links</h2>
	<p><a href="http://www.americustimesrecorder.com/2015/10/04/local-officials-break-ground-for-improvements-to-sgt-parkway/" target="_blank">10/04/2015 - Local officials break ground for improvements to SGT Parkway</a></p>
	<p><a href="http://newstimes.augusta.com/opinion/2015-09-27/tia-funding-supports-transportation-projects-close-to-home" target="_blank">09/27/2015 – TIA funding supports transportation projects close to home</a></p>
	
	<p><a href="http://commuting.blog.ajc.com/2015/09/24/gdot-names-new-transportation-investment-act-administrator/" target="_blank">09/24/2015 – GDOT names new Transportation Act Administrator</a></p>

	<p><a href="http://www.themillennews.com/news/2015-09-23/Front_Page/Airport_to_get_hangars.html" target="_blank">09/23/2015 – Airport to get new hangars</a>

	<p><a href="http://nbc26.tv/2015/09/22/transportation-investment-act-projects-in-the-csra/" target="_blank">09/22/2015 – Transportation Investment Act projects in the CSRA</a></p>

	<p><a href="http://wjbf.com/2015/09/22/drivers-get-ready-major-road-construction-slated-for-richmond-and-columbia-counties/" target="_blank">09/22/2015 – Drivers get ready; major construction slated for Richmond and Columbia Counties</a></p>

	<p><a href="http://www.wrdw.com/home/headlines/GDOT-and-Columbia-County-talk-upcoming-TIA-road-projects-328737971.html" target="_blank">09/22/2015 – GDOT and Columbia County talk upcoming TIA road projects</a></p>

	<p><a href="http://www.wfxg.com/story/30092009/department-of-transportation-meeting-highlights-tia-tax-dollar-program" target="_blank">09/22/2015 – GDOT meeting highlights TIA tax dollar program</a></p>

	<p><a href="http://chronicle.augusta.com/news/metro/2015-09-22/officials-tout-success-transportation-investment-act-funding?v=1442951095" target="_blank">09/22/2015 – Officials tout success of Transportation Investment Act funding</a></p>

	<p><a href="http://nbc26.tv/2015/09/14/traffic-patterns-changing-this-week-on-wrightsboro-road/" target="_blank">09/14/2015 - Traffic Patterns changing this week on Wrightsboro Road</a></p>
	<p><a href="http://chronicle.augusta.com/news/metro/2015-09-12/outside-atlanta-georgia-cities-see-connections-way-leverage-prosperity" target="_blank">09/12/2015 - Outside Atlanta, Georgia cities see connections as the way to leverage prosperity</a></p>
	<p><a href="http://www.wtvm.com/story/29887941/metra-ready-to-put-improvement-plan-in-motion" target="_blank">09/10/2015 – METRA ready to put improvement plan in motion</a></p>
	<p><a href="http://www.wrdw.com/home/headlines/UPDATE-Berckmans-Rd-construction-is-on-schedule-325784081.html?ref=081" target="_blank">09/08/2015 - UPDATE: Berckmans Rd. construction is on schedule</a></p>
	<p><a href="http://www.lincolnjournalonline.com/news/2015-08-06/Front_Page/TSPLOST_funds_equipment_and_projects_for_counties_.html" target="_blank">09/01/2015 - T-SPLOST funds equipment and projects for counties in the CSRA</a></p>
	<p><a href="http://www.wrdw.com/home/headlines/GDOT-Utility-relocation-delays-wont-push-back-Riverwatch-expansion-deadline-322882391.html" target="_blank">08/25/2015 – GDOT: Utility delays will not push back Riverwatch expansion </a></p>
	<p><a href="http://wjbf.com/2015/08/23/improvements-coming-to-downtown-augusta/" target="_blank">08/23/2015 – Improvements coming to downtown Augusta</a></p>
	<p><a href="http://www.themillennews.com/news/2015-06-10/Front_Page/Winthrope_Avenue_TSPLOST_project_moves_forward.html" target="_blank">08/21/2015 - Winthrope Avenue T-SPLOST project moves forward</a></p>
	<p><a href="http://matchbin-assets.s3.amazonaws.com/public/sites/654/assets/C7EW_CH_8_18_15_WEBSITE.pdf" target="_blank">08/18/2015 - Local-state collaboration behind new Springhaven bridge project</a></p>


	<p><a href="http://chronicle.augusta.com/latest-news/2015-08-18/riverwatch-get-new-traffic-median" target="_blank">08/18/2015  – Riverwatch to get new median</a></p>

	<p><a href="http://wjbf.com/2015/08/23/improvements-coming-to-downtown-augusta/" target="_blank">
               08/24/2015 - Improvements coming to Downtown Augusta</a></p>

            <p><a href="http://chronicle.augusta.com/news/metro/2015-08-16/berckmans-road-construction-schedule-officials-say?v=1439749096" target="_blank">
               8/16/2015 - Berckmans Road construction on schedule officials say</a></p>

            <p><a href="http://www.thenewsandfarmer.com/news/2015-08-13/highway-projects-expected-begin" target="_blank">
               08/13/2015 - Highway projects expected to begin in Jefferson and Glascock counties</a></p>

            <p><a href="http://www.lincolnjournalonline.com/news/2015-08-06/Front_Page/TSPLOST_funds_equipment_and_projects_for_counties_.html%20" target="_blank">
               08/6/2015 – T-SPLOST funds equipment and projects for counties in the CSRA</a></p>

            <p><a href="http://www.baxleynewsbanner.com/archives/8165-Georgia-DOT-and-Appling-County-officials-celebrate-completion-of-Zoar-Road-upgrades-and-bridge-replacements-with-ribbon-cutting.html%20" target="_blank">
               08/4/2015 – Georgia DOT and Appling County officials celebrate completion of Zoar Road upgrades and bridge replacements with ribbon cutting</a></p>

            <p><a href="https://www.georgiabikes.org/index.php/blog/433-tia-projects-improving-bicycle-pedestrian-safety-in-columbus" target="_blank">
               08/3/2015 - TIA Projects Improving Bicycle & Pedestrian Safety in Columbus</a></p>

            <p><a href="http://www.wtoc.com/story/29569214/new-traffic-lights-coming-to-augusta" target="_blank">
               07/16/2015 - New traffic lights coming to Augusta</a</p>

            <p><a href="http://tinewsdaily.com/stories/510625657-georgia-dot-awards-funding-for-three-projects" target="_blank">
               07/7/2015 - Georgia DOT awards funding for three projects</a></p>

            <p><a href="http://www.coosavalleynews.com/np112264.htm" target="_blank">
               07/7/2015 - GDOT Announced Major TIA Funding Awards</a></p>

            <p><a href="http://nbc26.tv/2015/07/03/changeable-message-signs-now-live-to-send-important-messages-to-drivers/" target="_blank">
               07/3/2015 - Changeable Message Signs now "live" to send important messages to drivers</a></p>

            <p><a href="http://newstimes.augusta.com/news/2015-07-01/columbia-county-engineers-use-adaptive-camera-system-to-fight-traffic-congestion" target="_blank">
               07/1/2015 - Columbia County engineers use adaptive camera system to fight traffic congestion</a</p>

            <p><a href="http://www.thebayonet.com/2015/06/09/814415/linear-park-represents-investment.html" target="_blank">
               06/9/2015 - Linear Park Represents Investment to Better Columbus</a></p>

            <p><a href="http://www.ledger-enquirer.com/2015/06/05/3754795_south-lumpkin-linear-park-groundbreaking.html?rh=1" target="_blank">
               06/5/2015 - South Lumpkin Linear Park Groundbreaking</a></p>

            <p><a href="http://www.wtvm.com/story/29252451/officials-break-ground-at-linear-park-in-columbus" target="_blank">
               06/5/2015 - Officials Break Ground at Linear Park in Columbus</a></p>

            <p><a href="http://m.chronicle.augusta.com/news/government/2015-05-06/transportation-officials-discuss-budgets-break-ground-berckmans-road#gsc.tab=0" target="_blank">
               05/6/2015 – Transportation officials discuss budgets, break ground on Berckmans Road widening project</a></p>
            

	<p><a href="http://www.southeastgeorgiatoday.com/index.php?option=com_content&amp;task=view&amp;id=16354&amp;Itemid=117" target="_blank">
               02/8/2015 – Altamaha River Bridge Work Starting  </a></p>

            <a href="http://www.wtoc.com/story/28047220/new-bridge-construction-begins-on-hwy-1-in-appling-toombs-counties" target="_blank">
               02/6/2015 – New bridge construction begins on Hwy. 1 in Appling, Toombs counties </a></p>

            <a href="/Content/pdf/Oconee%20River%20Bridge%20Groundbreaking%201-8-2015.pdf" target="_blank">
               01/9/2015 – Ground Broken on New Bridge</a></p>

<section>
	<h3><a data-toggle="collapse" href="#media2014" aria-expanded="false" aria-controls="media2014">2014 Media Links</a></h3>
	<div class="collapse" id="media2014">
		<div class="well">
				<ul>

                            <li><a href="http://www.ledger-enquirer.com/2014/08/23/3262491_two-gaps-in-riverwalk-will-finally.html?rh=1" target="_blank">
                               8/23/2014 – Two gaps in River Walk will finally be spanned </a><br /></li>
                            
                            <li><a href="https://www.youtube.com/watch?v=lsqZz6tG_Xc" target="_blank">
                               8/5/2014 – TIA Progress Report – First 18 Months </a><br /></li>
                            
                            <li><a href="http://chronicle.augusta.com/latest-news/2014-05-23/depletion-federal-highway-funds-stalls-projects" target="_blank">
                               5/23/2014 – Depletion of federal highway funds stalls projects </a><br /></li>
                            
                            <li><a href="http://chronicle.augusta.com/news/metro/2014-04-21/augusta-announces-15-million-restoration-project-butt-bridge-centennial?v=1398144463" target="_blank">
                               4/21/2014 – Augusta announces $1.5 million restoration project on Butt Bridge centennial (Augusta Chronicle) </a><br /></li>
                            
                            <li><a href="http://www.youtube.com/watch?v=BDUi6lsCJPs&amp;list=UUrZzxLcLSTa0dP3lmCsHwmw" target="_blank">
                               4/17/2014 - Augusta’s Butt Bridge (YouTube) </a><br /></li>
                            
                            <li><a href="http://www.themillennews.com/news/2014-04-16/Front_Page/Jenkins_County_puts_TSPLOST_to_work.html" target="_blank">
                               4/16/2014 – Jenkins County puts T-SPLOST to work</a><br /></li>
                            
                            <li><a href="http://www.wsbradio.com/news/news/local/tsplost-paying-where-it-passed/ndJhp/" target="_blank">
                               2/10/2014 - TSPLOST Paying off where it passed (WSB) </a><br /></li>
                            
                            <li><a href="http://www.nbc26.tv/story/24645835/riverwatch-parkwayold-petersburg-expansion-now-underway" target="_blank">
                               2/5/2014 - Riverwatch Parkway / Old Petersburg expansion now underway (WAGT)</a><br /></li>
                            
                            <li><a href="http://www.wnct.com/story/24646773/riverwatch-parkway-expansion-groundbreaking" target="_blank">
                               2/5/2014 – Riverwatch Parkway Expansion Groundbreaking (WNCT)</a><br /></li>
		</ul>
			</div>
		</div>
</section>

<section>
	<h3><a data-toggle="collapse" href="#media2013" aria-expanded="false" aria-controls="media2013">2013 Media Links</a></h3>
	<div class="collapse" id="media2013">
		<div class="well">
			<ul>
                                <li> <a href="http://www.dot.ga.gov/informationcenter/pressroom/Documents/publications/MilePost/Milepost-FallWntr2013.pdf" target="_blank">
                                    Fall/Winter 2013 - Georgia Milepost, “TIA in the News” (Page 18) </a></li>

                                <li> <a href="http://www.nxtbook.com/naylor/GHCB/GHCB0213/index.php?startid=10" target="_blank">
                                    Fall/Winter 2013 - Georgia Transportation Builder, “Meeting the TIA Challenge in Randolph County” </a></li>

                                <li><a href="http://www.gmanet.com/Paper.aspx?CNID=85745" target="_blank">
                                   10/8/2013 – Georgia Municipal Association, “Projects Begin in Regions with Transportation Sales Tax” </a></li>

                                <li><a href="http://brunswickdailynews.com/Content/Opinion/Commentaries/Article/Oct--8---State-Transportation-Board-Chair-Calls-for-Statewide-Support-of-TIA-Local-Option-Sales-Tax/7/82/41727" target="_blank">
                                    10/8/2013 - State Transportation Board Chair Calls for Statewide Support of TIA</a></li>
                                 
                                <li><a href="/Content/pdf/AugustaChronicle092213.pdf" target="_blank">
                                    9/22/2013 – Augusta Chronicle, “Surveying the Road Ahead”</a></li>
                                                                
                                <li>9/4/2013 - U.S. 27 Ground Breaking
									<ul>

										<li><a href="http://www.gpb.org/news/2013/09/04/tsplost-project-breaks-ground-funding-lags-0?utm_source=feedburner&amp;utm_medium=feed&amp;utm_campaign=Feed%3A+GPBNewsFeed+%28GPB+News%29" target="_blank">Georgia Public Broadcasting</a></li>

										<li><a href="http://www.wtvy.com/home/headlines/Highway-27-Breaks-G-222397451.html" target="_blank">WTVY</a></li>

									</ul>

                                </li>
 
                                                               
                                <li><a href="http://www.southgatech.edu/index.cfm?PageID=207&NewsID=3075" target="_blank">
                                    8/8/2013 - TIA River Valley Region Citizen&#39;s Review Panel Meets </a> </li>
				</ul>
			</div>
		</div>
</section>

</section><h2>Press Releases</h2>

	<p><a href="/Content/pdf/9.30.2015_ SGTP Ground Breaking.pdf" target="_blank">10/01/2015 – Local officials break ground for improvements to SGT parkway</a></p>
	<p><a href="/Content/pdf/9.18.2015 _ GDOT TIA Mullins Release.pdf" target="_blank">09/23/2015 – Mullins named new TIA Administrator</a></p>
	<p><a href="/Content/pdf/9.21.2015 _ Richmond-Columbia TIA Construction Release.pdf" target="_blank">09/21/2015  - TIA funds push major fourth quarter construction in Richmond and Columbia Counties</a></p>

	<p><a href="/Content/pdf/08.17.2015%20_%20TIA%20Award%20Release.pdf" target="_blank">08/17/2015 - GDOT announces three awards for TIA funded projects in Richmond, Montgomery and Laurens counties </a></p>

	<p><a href="/Content/pdf/PR%20GDOT%208.15.2015%20_%20%20Laurens%20County%20_%20Springhaven%20RD%20Bridge.pdf" target="_blank">08/15/2015 - Collaboration and low-cost solutions improve safety of Laurens County bridge</a></p>

	<p><a href="/Content/pdf/TIA%20-%20Georgia%20DOT%20and%20Appling%20County%20Officials%20Celebrate%20Completion%20of%20Zoar%20Road%20Upgrades%20and%20Bridge%20Replacements%20%207_31_15.pdf" target="_blank">07/31/2015 - Georgia DOT and Appling County Officials Celebrate Completion of Zoar Road Upgrades and Bridge Replacements
</a></p>

	<p><a href="/Content/pdf/Press Release_TIA Regions 7_30_15.pdf" target="_blank">07/30/2015 - Transportation Investment Act (TIA) is Driving Progress across the State of Georgia</a></p>

	<p><a href="/Content/pdf/Press%20Release_TIA%20CSRA%207_30_15.pdf" target="_blank">07/30/2015 - Transportation Investment Act (TIA) is Driving Progress in Central Savannah River Area and across the State of Georgia</a></p>

	<p><a href="/Content/pdf/Press%20Release_TIA%20HOGA%207_30_15.pdf" target="_blank">07/30/2015 - Transportation Investment Act (TIA) is Driving Progress in the Heart of Georgia Altamaha region and across Georgia</a></p>

	<p><a href="/Content/pdf/Press Release_TIA River Valley 7_30_15.pdf" target="_blank">07/30/2015 - Transportation Investment Act (TIA) is Driving Progress in the River Valley region and across the State of Georgia</a></p>

	<p><a href="/Content/pdf/Press%20Release_TIA%20Award_7_21_15_Final.pdf" target="_blank">07/21/2015 - Transportation Investment Act (TIA) honored with CMAA South Atlantic Chapter Project Achievement Award</a></p>

	<p><a href="/Content/pdf/Robert%20Toombs%20Avenue%20Press%20Release%207_7_15.pdf" target="_blank">07/7/2015 - Transportation Investment Act (TIA) Project Resurfacing Vital City of Washington Route</a></p>

	<p><a href="/Content/pdf/PressRelease-TIA_Lettings_7-6-15.pdf" target="_blank">07/6/2015 - Georgia DOT Announces Awards of Three Improvement Projects Utilizing TIA Funding</a></p>

	<p><a href="/Content/pdf/Adams Street - Vidalia - 6-10-2015.pdf" target="_blank">06/11/2015 - Georgia DOT’s Transportation Investment Act Office Joins the City of Vidalia in Celebrating the Completion of $1.6 Million Project</a></p>

	<p><a href="/Content/pdf/South%20Lumpkin%20MultiUse%20Path%20Final.pdf" target="_blank">06/6/2015 - Work Starting on South Lumpkin Multi-Use Path to Connect Communities in Southwest Columbus</a></p>

	<p><a href="/Content/pdf/Altamaha%20River%20Bridge%20Replacement%20Project.pdf" target="_blank">02/6/2015 - Officials Launch Construction of Altamaha River Bridge Replacement Project</a></p>


<section>

<h3><a data-toggle="collapse" href="#press2014" aria-expanded="false" aria-controls="press2014">2014 Press Releases</a></h3>

	<div class="collapse" id="press2014">
		<div class="well">
			<ul>
				<li><a href="http://www.thetruecitizen.com/news/2014-11-12/News/FUNDED_BY_PENNY_SALES_TAX.html" target="_blank">
                               11/12/2014 – Funded by Penny Sales Tax</a><br /></li>

				<li><a href="/Content/pdf/Windsor%20Spring%20Road%20Augusta%209-30-2014.pdf" target="_blank">
                               9/30/2014 – Windsor Spring Road in Augusta</a><br /></li>
                            
                            <li><a href="/Content/pdf/APPLING%20COUNTY%20-%20GEORGIA%20DOTS%20LMIG%20AND%20TIA%20FUNDS%20ENHANCE%20SAFETY%20FOR%20SCHOOL%20CHILDREN%20IN%20APPLING%20COUNTY.pdf" target="_blank">
                               9/8/2014 – LMIG & TIA in Appling County</a><br /></li>
                            
                            <li><a href="/Content/pdf/TIA%201st%2018%20Months%208-5-2014.pdf" target="_blank">
                               8/5/2014 – TIA Progress Snapshot</a><br /></li>
                            
                            <li><a href="/Content/pdf/Deepstep%20Road%205-12-2014.pdf" target="_blank">
                               5/13/2014 – Deepstep Road Kick-Off in Washington County</a><br /></li>
                            
                            <li><a href="/Content/pdf/Archibald%20Butt%20Memorial%20Bridge.pdf" target="_blank">
                               4/22/2014 – Archibald W. Butt Memorial Bridge Rehabilitation</a><br /></li>
                            
                            <li><a href="/Content/pdf/AugustaOutreach-IndustryForum2-25-2014.pdf" target="_blank">
                               2/25/2014 – TIA Office Hosts Outreach and Information Events</a><br /></li>
                            
                            <li><a href="/Content/pdf/Old%20Petersburg%20Rd%20Columbia%20County%202-5-2014.pdf" target="_blank">
                               2/7/2014 – Old Petersburg Road Groundbreaking in Columbia County </a><br /></li>
                            
                            <li><a href="/Content/pdf/Press%20Release%20Jan%2017.pdf" target="_blank">
                               1/17/2014 – NW Eastman Bypass Groundbreaking in Dodge County </a></li>
	</ul>
			</div>
		</div>
</section>

<section>
	<h3><a data-toggle="collapse" href="#press2013" aria-expanded="false" aria-controls="press2013">2013 Press Releases</a></h3>
	<div class="collapse" id="press2013">
		<div class="well">
			<ul>
                                <li> <a href="/Content/pdf/TIA%20Projects%20Awarded%20in%20Columbia%20and%20Dodge11-20-2013.pdf" target="_blank">
                                    11/20/2013 – Georgia DOT Awards Transportation Investment Act Projects in Columbia and Dodge Counties </a></li>

                                <li> <a href="http://www.dot.ga.gov/informationcenter/pressroom/PressReleases/Dublin%20Open%20House%20Seeks%20Input%20On%20New%20Oconee%20River%20Bridge%20TIA%20Band%201%20Project%2010-28-2013.pdf" target="_blank">
                                    10/28/2013 – Public Hearing Open House for the New Oconee River Crossing, Dublin, GA </a></li>

                                <li><a href="/Content/pdf/TIA Website Launches  8-5-2013.pdf" target="_blank">
                                    8/5/2013 - TIA Website Launches </a></li>

                                <li><a href="/Content/pdf/Randolph%20County%20US27.pdf" target="_blank">
                                    7/10/2013 - Randolph County: U.S. 27 </a></li>
                                
                                <li><a href="/Content/pdf/SR130ToombsCounty-4-18-2013.pdf" target="_blank">
                                    4/18/2013 - Toombs County: SR 130 Turn Lane</a></li>
				</ul>
			</div>

	</div>
</section>
