
@{
    ViewBag.Title = "News";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>TIA Procurement and Contracting Information </h1>

<h2>
	<a href="/Content/pdf/Local%20Managed%20-%20Auth%20to%20Adv%20-%20Band%201%2001Jul15.pdf" target="_blank">TIA Local Let Schedule – July 2015</a>
</h2>

<h2>Advertisements</h2>

<a href="/Content/pdf/RFQ%20Notice.pdf" target="_blank">
                TIA Batch #4 Notice</a><br />
                <div class="indent"><a href="/Content/pdf/TIABatch4_Meeting%20Presentation.pdf" target="_blank">
                Meeting Presentation</a><br />
                <a href="/Content/pdf/TIABatch4-Meeting%20Q&A.pdf" target="_blank">
                Meeting Q&A</a></div><br />
<a href="/Content/pdf/File%20A.pdf" target="_blank">
                TIA Batch #3 Notice 
                </a>
                <br />
                <div class="indent"><a href="/Content/pdf/File%20B.pdf" target="_blank">
                    Meeting Presentation   
                </a>
                <br />
            <a href="/Content/pdf/08-22-2014%20TIA%20Industry%20Forum%20QA%20Session%20-%20Final.pdf" target="_blank">
            Meeting Q&A</a></div><br />
                <a href="/Content/pdf/TIA%20Batch%202%20RFQ%20Notice.pdf" target="_blank">
                TIA Batch #2 Notice 
                </a>
                <br />
                <div class="indent"><a href="/Content/pdf/Meeting%20Presentation.pdf" target="_blank">
                    Meeting Presentation   
                </a>
                <br />
                <a href="/Content/pdf/Meeting%20Q-A.pdf" target="_blank">
                    Meeting Q&A   
                </a></div>

<h2>General Contract Information</h2>

<p class="indent"><a href="/Content/pdf/TIA%20Budget%20and%20Payment%20clauses.pdf">TIA Budget and Payment Clauses</a></p>

<h2>
ACEC TIA Working Group Meeting Minutes </h2>
<div class="indent">
	<a href="/Content/pdf/ACEC%20TIA%20Working%20Grp%20Mtg%20Notes%201-8-2015.pdf" target="_blank">1/8/2015</a><br />
    <a href="/Content/pdf/ACEC%20TIA%20Working%20Grp%20Mtg%20Notes%207-10-2014.pdf" target="_blank">7/10/2014</a><br />
    <a href="/Content/pdf/ACEC%20TIA%20Working%20Grp%20Mtg%20Notes%205-8-2014.pdf" target="_blank">5/8/2014</a><br />
    <a href="/Content/pdf/ACEC%20TIA%20Working%20Grp%20Mtg%20Notes%201-9-2014.pdf" target="_blank">1/9/2014</a><br />
    <a href="/Content/pdf/ACEC%20TIA%20Working%20Grp%20Mtg%20Notes%2011-14-2013.pdf" target="_blank">11/14/2013</a><br />
    <a href="/Content/pdf/ACEC%20TIA%20Working%20Grp%20Mtg%20Notes%2010-10-2013.pdf" target="_blank">10/10/2013</a>
</div>