@section css {
	<link href="/Content/galleria.classic.css" rel="stylesheet" />
}
@section scripts {
	<!-- load Galleria -->
	<script src="/Scripts/galleria-1.4.2.min.js"></script>
	<!-- load flickr plugin -->
	<script src="/Scripts/galleria.flickr.min.js"></script>

    <script type="text/javascript">
    	// Load the classic theme
    	Galleria.loadTheme('/Scripts/galleria.classic.min.js');

    	// Initialize Galleria
    	Galleria.run('#slideshow', {
    		
			autoplay: 6000,
    		flickr: 'set:@ViewBag.albumId',
    		flickrOptions: {
    			// sort by interestingness
    			sort: 'interestingness-desc'
    		}
    	});

    </script>

}
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div id="slideshow"></div>
