@{
    ViewBag.Title = "AnnualReport";
}

<h2>TIA Program Annual Reports</h2>

<h3>2014 GDOT Annual Reports</h3>
<p class="indent"><a href="/Content/pdf/TIA%202014%20Annual%20Report.pdf" target="_blank">12/8/2014 – GDOT Report to the Department of Revenue </a></p>

<h3>2013 GDOT Annual Reports</h3>
<div class="indent">
    <p>
        <a href="/Content/pdf/12-5-2013%20annual%20report%20cover%20letter%20from%20KG%20to%20DOR.pdf" target="_blank">12/5/2013 - GDOT Report to the Department of Revenue </a>
    </p>

    <p>
        <a href="/Content/pdf/CSRA%20Annual%20Report%20-%2005Dec2013%20-%20TIA%20Funds%20Only%20-%20FINAL.pdf" target="_blank">2013 Central Savannah River Area Annual Report  </a>
    </p>

    <p>
        <a href="/Content/pdf/HOGA%20Annual%20Report%20-%2005Dec2013%20-%20TIA%20Funds%20Only%20-%20FINAL%20-%20By%20County_City_Band.pdf" target="_blank">2013 Heart of Georgia-Altamaha 
            Annual Report</a>
    </p>

    <p>
        <a href="/Content/pdf/Final%20RV%20Annual%20Report%20-%2004Dec2013%20-%20TIA%20Funds%20Only%20-%20FINAL.pdf" target="_blank">2013 River Valley Annual Report</a>
    </p>
</div>

<h3>2012 GDOT Annual Reports</h3>
<div class="indent">
    <a href="/Content/pdf/TIA%20Project%20Status_2012%20Annual%20Report.pdf" target="_blank">2012 TIA Program Annual Report </a>
    <br />
</div>    