/*Mobile - Portrait*/
@media (max-width: 767px) and (min-width: 320px)
{
	div[id$="TopNavigationMenu"] { padding-top:40px !important;}
	.travelsmartlogo
	{
		width:37% ;		
	}
	.travelsmartcontent{
		font-size:small !important;
	}
.bx-wrapper .bx-caption span {
	
	font-size: .5em !important;
}
	#topnavbar{
		top: -60px;	
		width:88% !important;
	}
	.topSliderCaptionDiv{
		width:100%;
		height:40px;
		left:-28px;
	}
	.topSliderCaptionTitle
	{
		font-size: 12px;
		padding:10px;
		top:0px;
	}
	.topSliderCaptionDescription
	{
		font-size: 12px;
		padding:10px;
		top:-5px;
	}

/* Commented for mobile view
	.span3#sideNavBox{
		width:260px !important;
		
	}*/
	.searchbox{
	 padding-right:0px;
	 position:relative;
	 width:95%;	
	}

	.announcements, .keyservices{	
		height:400px !important;
		font-size:small !important;
		width:100%;
	}
	.twitter{	
		height:480px !important;
		font-size:small !important;
		width:100%;
	}

	
	.centerdesc
	{
		margin:0px 10px 0px 10px;	
	}
	/*.announcements ul > li:nth-last-of-type(-n+3) {
	    display:none;
	}
	.keyservices ul > li:nth-last-of-type(-n+3) {
	    display:none;
	}*/
		.navbar-inverse .navbar-inner{
		background-image:linear-gradient(to bottom,#256194,#256194) !important;
	}
	.navbar-inverse .btn-navbar
	{
		background-color:#256194 !important;
		background-image:linear-gradient(to bottom,#256194,#256194) !important;
	}
	.navbar-inverse .nav li.static > a.selected, .navbar-inverse .nav li.static > a:hover
	{
		background-color:#DFA020;
	}
	.ms-core-listMenu-horizontalBox .additional-background.dynamic-children	
	{
		background-image: url("/_layouts/15/images/menu-down.gif?rev=23");
	}
	.nav.ms-core-listMenu-horizontalBox li.dynamic > a:hover {
	    background-color: #256194;	   
	}
	.navbar .nav{
		margin-left: 0px;
		width: 250px
	}
	.viewmore{
		top:0px;
	}
	.twitterviewmore{
	top:20px
	}
	.footer3, .footer2, .footer1{
		font-size:small;
		text-align:center
	}
	#gdotmap{	
		left:-140px;
	}
	.footer3{
	padding-left:10px;	
	}

	img.imgfooter {
		padding-left:5px !important;
	}

	.navbar .container{
		width:90%;
		padding-left:5%;
	}
	.row-fluid .span12{
		/*width:260px;*/
				width:100%;
	}
	.bx-wrapper .bx-viewport{		
		top:5px !important;
	}
	.bx-wrapper .bx-pager {
	 /* padding-left:50%;*/
	  bottom:0px !important;
	}
	
	/* Commented for mobile view
	#mainbody{
		width:260px !important;
	}*/
	.pull-left
	{
		width: 100% !important;
		padding-left:0px;
		text-align:center;
	}
	#shortmenu { 		
		font-size:x-small;	
		width:90%;
		text-align:center;
	}
	#dvlearnmore{
		bottom:0px !important;
	}
	#travelsmartmain{
		width:95% !important;		
	}
	.gdotbottomslider .bx-wrapper img{
		position:relative;
		left:-20px !important;
		bottom:	10px;
		margin-left: 0px !important;
		width: 130px !important;
		height: 100px !important;
	}
	#mapDiv {	
		height: 150px !important;
	}
	.span4, .span9{
		width:100% !important;
	}
	.youtubevideo{
		width:220px;
		height:100%;
	}

}
/*Mobile - Landscape*/
@media (max-width: 767px) and (min-width: 480px)
{
	div[id$="TopNavigationMenu"] { padding-top:40px !important;}
	.travelsmartlogo
	{
		width:21% !important;	

	}
	.travelsmartcontent{
		font-size:small !important;
	}

	#topnavbar{
		top: -60px;	
	}
/* Commented for mobile view
	.span3#sideNavBox{
		width:520px !important;
	}*/
	.ms-core-listMenu-horizontalBox .additional-background.dynamic-children	
	{
		background-image: url("/_layouts/15/images/menu-down.gif?rev=23");
	}
	.ms-srch-sb > input{
		width:480px;
	}
	.searchbox{
	 padding-right:0px;
	}

	#shortmenu { 	
		font-size:small;
		width:70%;
	}
	.navbar .nav{
		margin-left: 0px;
		width: 350px
	}
	.centerdesc
	{
		margin:0px 50px 0px 50px;	
	}

	.announcements, .keyservices{	
	height:380px !important; font-size:small !important;
	
	}	
	.twitter{	
	height:420px !important; font-size:small !important;
	
	}	

/*	.announcements ul > li:nth-last-of-type(-n+3) {
	    display:list-item;
	}
	.keyservices ul > li:nth-last-of-type(-n+3) {
	    display:list-item;
	}*/
		.navbar-inverse .navbar-inner{
		background-image:linear-gradient(to bottom,#256194,#256194) !important;
	}
	.navbar-inverse .btn-navbar
	{
		background-color:#256194 !important;
		background-image:linear-gradient(to bottom,#256194,#256194) !important;
	}
	.navbar-inverse .nav li.static > a.selected, .navbar-inverse .nav li.static > a:hover
	{
		background-color:#DFA020;
	}
	.nav.ms-core-listMenu-horizontalBox li.dynamic > a:hover {
	    background-color: #256194;	   
	}

	.viewmore{
		top:-30px;
	}
		
	#topnavbar{
		width:90.3% !important;
	}
	.twitterviewmore{
		top:15px !important;
	}
		
	.footer {
		padding-left:5%;
	}
	.footer3, .footer2, .footer1{
		font-size:small;
		padding-left:20px !important;
	}

	img.imgfooter {
	padding-left:5px !important;
	}
	.row-fluid
	{
		width:95%;		
	}
	.row-fluid .span12{
		/*width:520px;*/
		width:100%;
	}
		.bx-wrapper .bx-pager {
	/*padding-left:75%;*/
	}
	
	#mainbody{
		width:95% !important;
	}
	#dvlearnmore{
		bottom:5px !important;
	}
	.gdotbottomslider .bx-wrapper img{
		position:relative;
		width: 230px !important;
		height: 100px !important;	
		left:-5px !important;		
	}
	.youtubevideo{
		width:500px;
		height:400px;
	}

	
}
/*Tablet - Small*/
@media (max-width: 959px) and (min-width: 768px) 
{
	div[id$="TopNavigationMenu"] { padding-top:40px !important;}
	.announcements, .keyservices, .twitter{	
		height:480px !important;	font-size:small !important;	
	}
		.centerdesc
	{
		margin:0px 10px 0px 10px;	
	}
/*	.announcements ul > li:nth-last-of-type(-n+2) {
	    display:none;
	}
	.keyservices ul > li:nth-last-of-type(-n+2) {
	    display:none;
	}*/
	.bx-wrapper .bx-caption span {
	
		font-size: .8em !important;
	}

	.navbar-inverse .navbar-inner{
		background-image:linear-gradient(to bottom,#256194,#256194) !important;
	}
		.navbar .nav{
		
		width: 350px
	}
	.navbar-inverse .btn-navbar
	{
		background-color:#256194 !important;
		background-image:linear-gradient(to bottom,#256194,#256194) !important;
	}
	.navbar-inverse .nav li.static > a.selected, .navbar-inverse .nav li.static > a:hover
	{
		background-color:#DFA020;
	}
	.nav.ms-core-listMenu-horizontalBox li.dynamic > a:hover {
	    background-color: #256194;	   
	}

	.ms-core-listMenu-horizontalBox .additional-background.dynamic-children	
	{
		background-image: url("/_layouts/15/images/menu-down.gif?rev=23");
	}

	#mainbody
	{
		width:100%;
	}
	/*modified from 250px to 95%*/

	.span3#sideNavBox{
		width:100% !important;
	}
	.row-fluid .span12{
		/*width:410px;*/
				width:100%;
	}
	/*modified from 58% to 95%*/
	#mainbody{
		width:95%;
	}
	.footer .row-fluid .span12{
		width:100% !important;
	}
	.footer {
		padding-left:5%;
	}
	.footer3, .footer2, .footer1{
		font-size:small;
	}

	.row-fluid
	{
		width:95%;		
	}	
	img.imgfooter {
		padding-left:5px !important;
	}
	img.socialicons {
		padding-left:0px;	
	}
	#dvlearnmore{
		bottom:20px;
	}
	.travelsmartcontent{
		font-size:small !important;
	}
	.travelsmarthdr
	{
		font-size:medium;		
	}
	.gdotbottomslider .bx-wrapper img{
		position:relative;
		width: 150px !important;
		height: 80px !important;
		left:0px !important;		
	}
    .youtubevideo{
		width:400px;
		height:300px;
	}

}
/*Tablet - Big*/
@media (max-width: 1024px) and (min-width: 958px) 
{
	div[id$="TopNavigationMenu"] { padding-left:126px !important;}
	.announcements, .keyservices, .twitter{	
		height:480px !important;	font-size:small !important;	
	}
	.centerdesc
	{
		margin:0px 20px 0px 20px;	
	}
	.navbar .container{
		width:90%;
		padding-left:5%;
	}
	.navbar-inverse .navbar-inner{
		background-image:linear-gradient(to bottom,#256194,#256194) !important;
	}
	.navbar-inverse .btn-navbar
	{
		background-color:#256194 !important;
		background-image:linear-gradient(to bottom,#256194,#256194) !important;
	}
	.navbar-inverse .nav li.static > a.selected, .navbar-inverse .nav li.static > a:hover
	{
		background-color:#DFA020;
	}
	.footer3 {
		padding-left:5%;		
	}
	.footer3, .footer2, .footer1{
		font-size:small;
	}
	
	.nav.ms-core-listMenu-horizontalBox li.dynamic > a:hover {
	    background-color: #256194;	   
	}
	.span3#sideNavBox
	{
		width:100% !important;
	}
	.navbar .nav{
		width:95% !important;
		margin-left:0px;
	}
	.row-fluid .span12{
		/*width:680px;*/
				width:100%;
	}
		.footer .row-fluid .span12{
		width:100% !important;
	}
	.row-fluid
	{
		width:auto;		
	}	
	img.imgfooter {
		padding-left:5px !important;
	}
	#dvlearnmore{
		bottom:35px;
	}
	.travelsmartcontent{
		font-size:small !important;
	}
	.travelsmarthdr
	{
		font-size:medium;		
	}
	.gdotbottomslider .bx-wrapper img {
		width: 150px !important;
		height: 100px !important;
		left:0px !important;
	}
   .youtubevideo{
		width:650px;
		height:400px;
	}


}
/*Desktops*/
@media (min-width: 1280px){
	.announcements, .keyservices, .twitter{	
		height:420px !important;	font-size:14px !important;	
	}
	.span3#sideNavBox
/*	{
		width:25% !important;
	}*/
		
	.row-fluid .span12{
		/*width:810px !important;*/
				width:100%;
	}
	.footer .row-fluid .span12{
		width:100% !important;
	}
	.footer3 {
		/*width:350px  !important;*/
		padding-left: 7%;
	}
	.gdotbottomslider .bx-wrapper img {
		width: 300px !important;
		height: 120px !important;
	}
	.youtubevideo{
		width:600px;
		height:400px;
	}
}
}

