/** Web Fonts **/
@font-face {
    font-family: 'fira_sansregular';
    src: url('/Content/fonts/firasans/firasans-regular-webfont.eot');
    src: url('/Content/fonts/firasans/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/firasans/firasans-regular-webfont.woff2') format('woff2'),
         url('/Content/fonts/firasans/firasans-regular-webfont.woff') format('woff'),
         url('/Content/fonts/firasans/firasans-regular-webfont.ttf') format('truetype'),
         url('/Content/fonts/firasans/firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* slightly bold, use to bold regular text */
@font-face {
    font-family: 'fira_sansbook';
    src: url('/Content/fonts/firabook/firasans-book-webfont.eot');
    src: url('/Content/fonts/firabook/firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/firabook/firasans-book-webfont.woff2') format('woff2'),
         url('/Content/fonts/firabook/firasans-book-webfont.woff') format('woff'),
         url('/Content/fonts/firabook/firasans-book-webfont.ttf') format('truetype'),
         url('/Content/fonts/firabook/firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* bold, use to bold titles */
@font-face {
    font-family: 'fira_sansbold';
    src: url('/Content/fonts/firabold/firasans-bold-webfont.eot');
    src: url('/Content/fonts/firabold/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/firabold/firasans-bold-webfont.woff2') format('woff2'),
         url('/Content/fonts/firabold/firasans-bold-webfont.woff') format('woff'),
         url('/Content/fonts/firabold/firasans-bold-webfont.ttf') format('truetype'),
         url('/Content/fonts/firabold/firasans-bold-webfont.svg#fira_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** Web Fonts End **/

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 600px;
	background: white;
	font-family: fira_sansregular, Arial, sans-serif;
}

.header {
	border-bottom: 2px solid #EFF1F1;
	min-height: 160px;
	text-align: center;
}

.headeraccent {
    background-color: #125687;
	color: #FFFFFF;
    min-height: 35px;
    text-align: right; 
    padding-top: 5px; 
	padding-bottom: 8px;
    padding-right: 3em;
}

	.headeraccent img {
		margin-left: 15px;
		vertical-align: middle;
	}

footer {
    background-color: #125687;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	padding: 1em;
	position: absolute;
	bottom: 0px;
	height: 600px;
	width: 100%;
}

	footer a, footer a:link, footer a:active, footer a:hover, footer a:visited {
		color: #DEA01E;
	}

	footer .col-md-2 {
		text-align: left;
	}

.min-container, .row {
	padding: 0px 0px;
	margin: 0px;
}

.navbar-brand {
	height: 70px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.carousel {
	max-width: 1500px;
	margin: auto;
}

.logo {
	margin-left: 3em;
}

h1, h2, h3, h4, h5, h6, .menu-header {
	color: #125687;
	font-weight: bold;
	font-family: fira_sansbold, Arial, sans-serif;
}

	h4 img {
		position: absolute;
		left: -50px;
		top: 10px;
		width: 50px;
	}

h1, .subtitle {
	text-transform: uppercase;
}

.subtitle {
	color: #5086b0;
	font-size: 0.75em;
	font-style: italic;
}

.green {
	color: #009600;
}

.blue {
	color: #2a6091;
}

.csra {
	color: #B3608B;
}

.hoga {
	/*color: #608bb4;*/
	color: #1b69b4;
}

.rvly {
	/*color: #f79646;*/
	color: #bf7436;
}

.soga {
    /*color: #A4BF4F;*/
    color: #A4BF4F;
}
#csrainfo, #rvinfo {
	display:none;
}
#csratitle, #rvtitle {
	display:none;
}

.callout {
    font-size: 0.8em;
    float: left;
    position: absolute;
    border: 1px solid gray;
    width: 220px;
    height: 130px;
    background: rgba(255,255,255,0.5);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 0 5px 0 10px;
    cursor: pointer;
}

/* Easiest to just make an exception here for devices smaller than the state image size*/
@media only screen and (max-width: 480px) {
	.callout {
		display: none;
	}
}

.callout h4 {
    font-size: 1.1em;
}

.callout-rvly {
	left: -40px;
	top: 60px;
}

.callout-csra {
	left: 220px;
	top: 0px;
}

.callout-hoga {
	left: 320px;
	top: 220px;
}

.callout-soga {
    left: 120px;
    top: 400px;
}
p.withI {
    margin-bottom: 4px;
    background-image: url('/Content/img/i.png');
    background-repeat: no-repeat;
    padding-left: 22px;

}

.description {
	font-weight: bold;
	margin: 4em 0em;
	text-align: center;
}

.well-blue {
	background: #125687;
}

	.well-blue h2 {
		color: white;
	}

.floating-panel {
	position: absolute;
}


.panel-csra > .panel-heading, .panel-hoga > .panel-heading, .panel-rvly > .panel-heading, .panel-soga > .panel-heading {
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 1px 1px 5px #222;
}

.panel-csra > .panel-heading {
  background-image: -webkit-linear-gradient(top, #B3608B 0%, #ffddef 100%);
  background-image: -o-linear-gradient(top, #B3608B 0%, #ffddef 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B3608B), to(#ffddef));
  background-image: linear-gradient(to bottom, #B3608B 0%, #ffddef 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3608B', endColorstr='#ffddef', GradientType=0);
}
.panel-hoga > .panel-heading {
  /*background-image: -webkit-linear-gradient(top, #608bb4 0%, #c4e3f3 100%);
  background-image: -o-linear-gradient(top, #608bb4 0%, #c4e3f3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#608bb4), to(#c4e3f3));
  background-image: linear-gradient(to bottom, #608bb4 0%, #c4e3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);*/
  background-image: -webkit-linear-gradient(top, #1b69b4 0%, #AFD5F7 100%);
  background-image: -o-linear-gradient(top, #1b69b4 0%, #AFD5F7 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1b69b4), to(#AFD5F7));
  background-image: linear-gradient(to bottom, #1b69b4 0%, #AFD5F7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b69b4', endColorstr='#AFD5F7', GradientType=0);
}
.panel-rvly > .panel-heading {
  /*background-image: -webkit-linear-gradient(top, #f79646 0%, #faf2cc 100%);
  background-image: -o-linear-gradient(top, #f79646 0%, #faf2cc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f79646), to(#faf2cc));
  background-image: linear-gradient(to bottom, #f79646 0%, #faf2cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);*/
  background-image: -webkit-linear-gradient(top, #bf7436 0%, #FFDCC1 100%);
  background-image: -o-linear-gradient(top, #bf7436 0%, #FFDCC1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bf7436), to(#FFDCC1));
  background-image: linear-gradient(to bottom, #bf7436 0%, #FFDCC1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf7436', endColorstr='#FFDCC1', GradientType=0);
}
.panel-soga > .panel-heading {
    background-image: -webkit-linear-gradient(top, #A4BF4F 0%, #BCEA96 100%);
    background-image: -o-linear-gradient(top, #A4BF4F 0%, #BCEA96 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#A4BF4F), to(#BCEA96));
    background-image: linear-gradient(to bottom, #A4BF4F 0%, #BCEA96 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4BF4F', endColorstr='#BCEA96', GradientType=0);
}
.panel-csra {
  border-color: #B3608B;
}
.panel-csra > .panel-heading {
  background-color: #B3608B;
  border-color: #B3608B;
}
.panel-csra > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #B3608B;
}
.panel-csra > .panel-heading .badge {
  color: #FFFFFF;
  background-color: #B3608B;
}
.panel-csra > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #B3608B;
}
.panel-hoga {
  border-color: #1b69b4;
}
.panel-hoga > .panel-heading {
  color: #FFFFFF;
  background-color: #1b69b4;
  border-color: #1b69b4;
}
.panel-hoga > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #1b69b4;
}
.panel-hoga > .panel-heading .badge {
  color: #FFFFFF;
  background-color: #1b69b4;
}
.panel-hoga > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #1b69b4;
}
.panel-rvly {
  /*border-color: #f79646;*/
  border-color: #bf7436;
}
.panel-rvly > .panel-heading {
  /*background-color: #f79646;
  border-color: #f79646;*/
  background-color: #bf7436;
  border-color: #bf7436;
}
.panel-rvly > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bf7436;
}
.panel-rvly > .panel-heading .badge {
  color: #FFFFFF;
  background-color: #bf7436;
}
.panel-rvly > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bf7436;
}
.panel-soga {
    border-color: #A4BF4F;
}
.panel-soga > .panel-heading {
    color: #FFFFFF;
    background-color: #A4BF4F;
    border-color: #007A47;
}
.panel-soga > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #007A47;
}
.panel-soga > .panel-heading .badge {
    color: #FFFFFF;
    background-color: #007A47;
}
.panel-soga > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #007A47;
}

.frame-map {
	height: 550px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 1px solid #125687;
}

.data-value {
	color: #0cab0a;
	font-weight: bold;
}

.data-name {
	color: #2a6091;
	font-weight: bold;
}

.icon-bar {
	background-color: #125687;
	border-color: #125687;
	font-weight: bold;
}
.navbar-toggle
{
  background-color: transparent;
	border-color: #125687;
}

.navbar-brand {
	padding: 0px;
}

.nav > li > a, .navbar-form {
	padding: 0px 5px;
}

.navbar-form {
	margin: 2px;
}

.navbar-blue {
	background: #266294;
	border-color: #266294;
}

.travelsmart {
	position: relative;
	left: -1px;
}

.navbar-blue, .navbar-blue a:link, .navbar-blue a:hover, .navbar-blue a:visited  {
	color: white;
}

	.navbar-blue a:link, .navbar-blue a:hover, .navbar-blue a:visited {
		padding: 15px 25px;
	}

.navbar-blue > a.navbar-brand {
	padding: 0px;
}

.subnav {
	margin-left: 60px;
}

ul.nav-sidebar > li.active {
	background: none;
}

ul.nav-sidebar > li > a, ul.nav-sidebar  li, ul.nav-sidebar  li  a  {
	color: #FFFFFF;
	list-style-type: none;
	margin: 1.25em 0;
}

ul.collapse > li > ul > li{
	color: #111111;
	list-style-type: none;
	margin: 1.25em 0;
}

#shortmenu
{
  font-size: small;
}

.menu li{
	list-style: none;
	line-height: 1em;
    padding-bottom: 0.5em;
	font-size: 1.5em;
	font-weight: bold;
}

.menu a, .menu a:link, .menu a:visited {
	color: #125687;
}

.menu a:active, .menu a:hover, menu li ul li a:hover, .menu li ul li a:active {
	color: #DEA01E;
}

.menu li a:hover, .menu li a:active, menu li ul li a:hover, .menu li ul li a:active {
	background: transparent;
}

.menu li:hover {
	background: #f5f5f5;
}

.menu-blue {
	background: #125687;
	border: 1px solid #125687;
	border-radius: 15px;
	color: white;
	font-weight: bold;
	overflow:hidden;
}


.menu-blue > li > a, .menu-blue > li > a:link, .menu-blue  > li > a:visited {
	color: white;
}

ul.menu-blue > li::before {
	content: "";
	position: absolute;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0 0.3em 0.3em 0;
	height: 0.85em;
	top: 0.55em;
	left: -2em;
	transform: rotate(-45deg);
	width: 0.85em;
}
ul.menu-blue > li::after {
	content: "";
	border-bottom: 1px solid #FFFFFF;
	display: block;
	position: relative;
	left: -4em;
	top: 5px;
	width: 118%;
}

ul.menu-blue > li:last-child::after {
	border: none;
}

ul.menu-blue > li {
	border-left: 1px solid #FFFFFF;
	list-style-type: none;
	position: relative;
	margin: 0px 2px 2px 2px;
	padding: 0.25em 0.0em 0.25em 0.25em;
}

#project-container section {
	padding: 10px;
	border-radius: 10px;
}
#project-container section:nth-child(even) {background: #EEE}



.carousel {
	max-width: 1135px;
	max-height: 350px;
}

.carousel-caption
{
  position: absolute;
  z-index: 10;
  padding-top: 0px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin: 0px;
  color: #ffffff;
  text-align: left;
  font-size: 1em;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(80, 80, 80, 0.75);
  right: 0px;
  bottom: 0px;
  width: 81vw;
  height: 5vh;
  left:auto;
  line-height: 1em;
}

	.carousel-caption .description {
		color: #f1d54d;
		font-size: 0.75em;
	}

.carousel-caption-numbers {
	position: absolute;
	bottom: 6px;
	right: 0px;
	z-index: 1000;
}

	.carousel-caption-numbers span {
		background: black;
		padding: 2px 10px;
		margin: 0px 5px;
		color: #FFFFFF;
		font-weight: bold;
	}

	.carousel-caption-numbers span:hover, .carousel-caption-numbers span:active {
		background: #DEA01E;
		cursor: pointer;
	}

.carousel-caption a, .carousel-caption a:link, .carousel-caption a:visited {
	color: #ffffff;
}

.carousel-caption .description a, .carousel-caption .description a:link,  .carousel-caption .description a:visited {
	color: #f1d54d;
}

	#slideshow{
		height: 60vh;
	}

.indent {
	text-indent: 2em;
}

div.indent {
	text-indent: 0em;
	margin-left: 2em;
}

.danger {
	color: red;
	font-weight: bold;
}

/* One off items */
#tia-regions {
	padding-bottom: 55px;
}

/* Photo Gallery */
.album-cover {
	background-size:cover;
	height: 300px;
	width: 300px;
}

.album-caption {
	background-color: rgba(50, 50, 50, 0.5);
	color: white;
	font-weight: bold;
	padding: 0px 5px;
	position: absolute;
	bottom: 0em;
	width: 300px;
}

	.album-caption a:link {
		color: white;
	}

	.album-caption a:hover {
		text-shadow: 0px 0px 3px black;
	}
	
	.album-caption a:visited {
		color: #F1D54D;
	}

.contact-img {
	font-size: 1.25em; padding-right: 5px; padding-top: 5px;
}

/* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) and (max-width: 768px) {
		
		.album-cover {
			height: 425px;
		}
		.album-caption, .album-cover {
			width: 425px;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width: 991px) {
		
		.album-cover {
			height: 500px;
		}
		.album-caption, .album-cover {
			width: 500px;
		}

		.carousel-caption {
		  width: 70vw;
		  height: 5vh;
		  font-size: 1em;
		}
		.carousel-caption .description {
			color: #f1d54d;
			font-size: 0.8em;
		}
	   .collapse {
		   display: none !important;
	   }
    }
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) and (max-width: 1199px) {
		body {
			/* Margin bottom by footer height */
			margin-bottom: 180px;
		}

		footer {
			height: 180px;
		}
		
		.album-cover {
			height: 300px;
		}
		.album-caption, .album-cover {
			width: 300px;
		}

		.carousel-caption {
		  width: 55vw;
		  height: 8vh;
		  font-size: 1.1em;
		}
		.carousel-caption .description {
			color: #f1d54d;
			font-size: 0.9em;
		}
	   .collapse {
		   display: none !important;
	   }

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) and (max-width: 1424px) {
		body {
			/* Margin bottom by footer height */
			margin-bottom: 180px;
		}

		footer {
			height: 180px;
		}
		
		.album-cover {
			height: 400px;
		}
		.album-caption, .album-cover {
			width: 400px;
		}

		.carousel-caption {
		  width: 55vw;
		  height: 8vh;
		  font-size: 1.25em;
		}
		.carousel-caption .description {
			color: #f1d54d;
			font-size: 0.9em;
		}
    }

	/* Very Large Screen case needed for home page */
	@media (min-width: 1425px) {
		body {
			/* Margin bottom by footer height */
			margin-bottom: 180px;
		}

		footer {
			height: 180px;
		}
		
		.album-cover {
			height: 250px;
		}
		.album-caption, .album-cover {
			width: 250px;
		}

		.carousel-caption {
		  width: 35vw;
		  height: 6vh;
		  font-size: 1.25em;
		  padding-top: 1px;
		  line-height: 1.5em;
		}
		.carousel-caption .description {
			color: #f1d54d;
			font-size: 0.9em;
		}

  .col-xlg-1, .col-xlg-2, .col-xlg-3, .col-xlg-4, .col-xlg-5, .col-xlg-6, .col-xlg-7, .col-xlg-8, .col-xlg-9, .col-xlg-10, .col-xlg-11, .col-xlg-12 {
    float: left;
  }
  .col-xlg-12 {
    width: 100%;
  }
  .col-xlg-11 {
    width: 91.66666667%;
  }
  .col-xlg-10 {
    width: 83.33333333%;
  }
  .col-xlg-9 {
    width: 75%;
  }
  .col-xlg-8 {
    width: 66.66666667%;
  }
  .col-xlg-7 {
    width: 58.33333333%;
  }
  .col-xlg-6 {
    width: 50%;
  }
  .col-xlg-5 {
    width: 41.66666667%;
  }
  .col-xlg-4 {
    width: 33.33333333%;
  }
  .col-xlg-3 {
    width: 25%;
  }
  .col-xlg-2 {
    width: 16.66666667%;
  }
  .col-xlg-1 {
    width: 8.33333333%;
  }
  .col-xlg-pull-12 {
    right: 100%;
  }
  .col-xlg-pull-11 {
    right: 91.66666667%;
  }
  .col-xlg-pull-10 {
    right: 83.33333333%;
  }
  .col-xlg-pull-9 {
    right: 75%;
  }
  .col-xlg-pull-8 {
    right: 66.66666667%;
  }
  .col-xlg-pull-7 {
    right: 58.33333333%;
  }
  .col-xlg-pull-6 {
    right: 50%;
  }
  .col-xlg-pull-5 {
    right: 41.66666667%;
  }
  .col-xlg-pull-4 {
    right: 33.33333333%;
  }
  .col-xlg-pull-3 {
    right: 25%;
  }
  .col-xlg-pull-2 {
    right: 16.66666667%;
  }
  .col-xlg-pull-1 {
    right: 8.33333333%;
  }
  .col-xlg-pull-0 {
    right: auto;
  }
  .col-xlg-push-12 {
    left: 100%;
  }
  .col-xlg-push-11 {
    left: 91.66666667%;
  }
  .col-xlg-push-10 {
    left: 83.33333333%;
  }
  .col-xlg-push-9 {
    left: 75%;
  }
  .col-xlg-push-8 {
    left: 66.66666667%;
  }
  .col-xlg-push-7 {
    left: 58.33333333%;
  }
  .col-xlg-push-6 {
    left: 50%;
  }
  .col-xlg-push-5 {
    left: 41.66666667%;
  }
  .col-xlg-push-4 {
    left: 33.33333333%;
  }
  .col-xlg-push-3 {
    left: 25%;
  }
  .col-xlg-push-2 {
    left: 16.66666667%;
  }
  .col-xlg-push-1 {
    left: 8.33333333%;
  }
  .col-xlg-push-0 {
    left: auto;
  }
  .col-xlg-offset-12 {
    margin-left: 100%;
  }
  .col-xlg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xlg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xlg-offset-9 {
    margin-left: 75%;
  }
  .col-xlg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xlg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xlg-offset-6 {
    margin-left: 50%;
  }
  .col-xlg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xlg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xlg-offset-3 {
    margin-left: 25%;
  }
  .col-xlg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xlg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xlg-offset-0 {
    margin-left: 0;
  }
}